<div class="col-lg-9">
  <img src="image/lession-02/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 08 - Nghe ngấm</h2>
  <h4>Topic 01: Jack’s Family Portrait</h4>
  <img src="image/lession-02/l2-t1.png" alt="" width="800px" height="200px">
  <h4>Bước 1: Nghe làm quen</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe toàn bộ <strong>Recording 2.1</strong> từ 2-3 lần: Chỉ nghe, không dùng giáo trình. Bạn chưa phải hiểu 100% nội dung.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.1 - Slow Speech - Topic 1 - Jack_s Family Portrait.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nghe ngấm tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe lại <strong>Recording 2.1</strong> từ 3-5 lần: Sử dụng giáo trình, bản dịch và từ điển nếu cần. Mục tiêu bước này, hiểu trọn vẹn nội dung.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nhắm mắt và nghe lại <strong>Recording 2.1</strong> thêm 1 lần. Sau đó tưởng tượng lại phần thoại. Bạn đã hiểu hết nội dung? Nếu chưa, hãy nghe lại. Nếu rồi, chuyển sang bước tiếp
    theo.
  </h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.1 - Slow Speech - Topic 1 - Jack_s Family Portrait.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lisa and Jack are talking about Jack's family portrait on the wall.</td>
            <td>Lisa và Jack đang nói chuyện về bức tranh gia đình Jack ở trên tường</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Oh, <strong>is this</strong> my family?</td>
            <td>Ồ, <strong>đây có phải là</strong> gia đình cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>It is. <strong>These are</strong> my <strong>grandparents</strong> at thier old house in Thailand.</td>
            <td>Đúng rồi. <strong>Đây là ông bà của tôi</strong> ở nhà cũ của họ ở Thailand.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Do they live there?</td>
            <td>Họ có sống ở đó không?.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, They were just visiting. They <strong>moved to</strong> the US when my dad and <strong>aunt</strong> were babies.</td>
            <td>Không, họ chỉ ghé thăm thôi. Họ <strong>chuyển đến</strong> Mỹ khi bố tôi và cô tôi còn nhỏ.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Wow, I didn't know that.</td>
            <td>Chà, tôi không biết đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yeah. My <strong>grandfather was a doctor</strong> in Thailand, but when they moved here, he had to <strong>works as a cleaner</strong>.</td>
            <td>Ừ. <strong>Ông</strong> tôi <strong>là một bác sĩ</strong> ở Thái Lan, nhưng khi họ đến đây, ông tôi phải <strong>làm việc như một lao công</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Your dad's a docter right?</td>
            <td>Bố cậu là một bác sĩ đúng không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>He is. He wanted to <strong>follow in his dad's footsteps</strong>. And those are my <strong>parents</strong>.</td>
            <td>Đúng rồi. Ông ấy muốn <strong>đi theo con đường của cha mình</strong>. Và đó là <strong>bố mẹ</strong> tôi.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's really <strong>inspiring</strong>.</td>
            <td>Điều đó thực sụ <strong>truyền cảm hứng</strong> đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yes, my sister and I wanna be doctors, too. I guess <strong>it's in our blood</strong>.</td>
            <td>Ừ, em gái tôi và tôi cũng muốn là bác sĩ. Tôi đoán <strong>nó đã ngấm vào máu của chúng tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Hey, are you in this picture? Is this you?</td>
            <td>Này, cậu có mặt trong bức ảnh này không? Đây có phải cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, <strong>that's my cousin</strong>. I'm over here.</td>
            <td>Không, <strong>Đó là anh họ của tôi</strong>. Tôi ở đây cơ</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's your mom!</td>
            <td>Đó là mẹ cậu!</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yep, <strong>pregnant with me</strong>!</td>
            <td>Đúng, đang <strong>mang thai tôi</strong>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 3: Nghe ngấm tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 2.2</strong> từ 5-7 lần, cho tới khi bạn thấy dễ dàng trong việc nghe và hiểu toàn bộ các câu ở tốc độ này.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.2 - Native speech - Topic 1 - Jack_s family.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lisa and Jack are talking about Jack's family portrait on the wall.</td>
            <td>Lisa và Jack đang nói chuyện về bức tranh gia đình Jack ở trên tường</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Oh, <strong>is this</strong> my family?</td>
            <td>Ồ, <strong>đây có phải là</strong> gia đình cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>It is. <strong>These are</strong> my <strong>grandparents</strong> at thier old house in Thailand.</td>
            <td>Đúng rồi. <strong>Đây là ông bà của tôi</strong> ở nhà cũ của họ ở Thailand.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Do they live there?</td>
            <td>Họ có sống ở đó không?.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, They were just visiting. They <strong>moved to</strong> the US when my dad and <strong>aunt</strong> were babies.</td>
            <td>Không, họ chỉ ghé thăm thôi. Họ <strong>chuyển đến</strong> Mỹ khi bố tôi và cô tôi còn nhỏ.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Wow, I didn't know that.</td>
            <td>Chà, tôi không biết đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yeah. My <strong>grandfather was a doctor</strong> in Thailand, but when they moved here, he had to <strong>works as a cleaner</strong>.</td>
            <td>Ừ. <strong>Ông</strong> tôi <strong>là một bác sĩ</strong> ở Thái Lan, nhưng khi họ đến đây, ông tôi phải <strong>làm việc như một lao công</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Your dad's a docter right?</td>
            <td>Bố cậu là một bác sĩ đúng không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>He is. He wanted to <strong>follow in his dad's footsteps</strong>. And those are my <strong>parents</strong>.</td>
            <td>Đúng rồi. Ông ấy muốn <strong>đi theo con đường của cha mình</strong>. Và đó là <strong>bố mẹ</strong> tôi.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's really <strong>inspiring</strong>.</td>
            <td>Điều đó thực sụ <strong>truyền cảm hứng</strong> đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yes, my sister and I wanna be doctors, too. I guess <strong>it's in our blood</strong>.</td>
            <td>Ừ, em gái tôi và tôi cũng muốn là bác sĩ. Tôi đoán <strong>nó đã ngấm vào máu của chúng tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Hey, are you in this picture? Is this you?</td>
            <td>Này, cậu có mặt trong bức ảnh này không? Đây có phải cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, <strong>that's my cousin</strong>. I'm over here.</td>
            <td>Không, <strong>Đó là anh họ của tôi</strong>. Tôi ở đây cơ</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's your mom!</td>
            <td>Đó là mẹ cậu!</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yep, <strong>pregnant with me</strong>!</td>
            <td>Đúng, đang <strong>mang thai tôi</strong>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: A High School Reunion?</h4>
  <img src="image/lession-02/l2-t2.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 2.3</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 2.4</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - Introduction || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.3 - Slow Speech -Topic 2 - A High School Reunion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Angela joins a high school reunion where she meets her tow old school friends. They haven't meet for more than 10 years.</td>
            <td>Angela tham gia một cuộc họp mặt trường trung học nơi cô ấy gặp hai người bạn học cũ của mình. Họ đã không gặp nhau hơn 10 năm.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Rose? Is that you? Oh, <strong>you look fantasic</strong>!</td>
            <td>Rose? Là cậu đúng không? Ôi,
              <storng>trông cậu tuyệt quá</storng>!</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>Angie! <strong>It's so good to see you! How long has it been</strong>, 15 years?</td>
            <td>Angie!(Cách gọi thân mật của Angela). <strong>thật tốt khi gặp lại cậu! Đã bao lâu rồi nhỉ</strong>, 15 năm à?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>I feel like we were in calculus class just yesterday!</td>
            <td>Tôi cảm thấy như chúng ta ngồi làm toán với nhau chỉ hôm qua thôi!</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Hi, honey. Hi Angela, how are you?</td>
            <td>Chào vợ yêu. Chào Angela, Cậu khỏe chứ?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Edward, how are you doing? <strong>Time flies</strong>. I'm so happy to see that you two <strong>got married</strong>! You are always such a good <strong>couple</strong>.</td>
            <td>Edward, cậu dạo này thế nào? <strong>Thời gian trôi thật nhanh</strong>. Tôi rất vui mừng khi thấy hai người <strong>đã kết hôn</strong>! Hai người luôn là một <strong>cặp</strong> rất đẹp <strong>đôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Thank you.</td>
            <td>Cảm ơn cậu.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Where is your <strong>daughter</strong>? She looks so cute in the pictures online.</td>
            <td><strong>Con gái</strong> cậu đâu? Con bé trông thật dễ thương trong mấy bức ảnh trên mạng.</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>She's at home tonight. Do you know if Nick is coming to the <strong>reunion</strong>? I <strong>remember</strong> you two were not just <strong>classmates</strong> but...a couple in high school.</td>
            <td>Tối nay con bé ở nhà. Cậu có biết liệu Nick có đến <strong>cuộc họp mặt</strong> không? Tôi <strong>nhớ</strong> hai người không chỉ là <strong>bạn học cùng lớp</strong>, mà còn là...một cặp đôi ở trường trung học.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Well, we didn't go to the gym.</td>
            <td>Chà, chúng tôi đã không đến phòng tập.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>...Uh...huh?</td>
            <td>...Ừ...hả?.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td><strong>Our relationship</strong> didn't <strong>work out</strong>.</td>
            <td><strong>Mối quan hệ của chúng tôi</strong> đã không <strong>đi đến đâu</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.4 - Native Speech - Topic 2 - A High School Reunion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Angela joins a high school reunion where she meets her tow old school friends. They haven't meet for more than 10 years.</td>
            <td>Angela tham gia một cuộc họp mặt trường trung học nơi cô ấy gặp hai người bạn học cũ của mình. Họ đã không gặp nhau hơn 10 năm.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Rose? Is that you? Oh, <strong>you look fantasic</strong>!</td>
            <td>Rose? Là cậu đúng không? Ôi,
              <storng>trông cậu tuyệt quá</storng>!</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>Angie! <strong>It's so good to see you! How long has it been</strong>, 15 years?</td>
            <td>Angie!(Cách gọi thân mật của Angela). <strong>thật tốt khi gặp lại cậu! Đã bao lâu rồi nhỉ</strong>, 15 năm à?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>I feel like we were in calculus class just yesterday!</td>
            <td>Tôi cảm thấy như chúng ta ngồi làm toán với nhau chỉ hôm qua thôi!</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Hi, honey. Hi Angela, how are you?</td>
            <td>Chào vợ yêu. Chào Angela, Cậu khỏe chứ?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Edward, how are you doing? <strong>Time flies</strong>. I'm so happy to see that you two <strong>got married</strong>! You are always such a good <strong>couple</strong>.</td>
            <td>Edward, cậu dạo này thế nào? <strong>Thời gian trôi thật nhanh</strong>. Tôi rất vui mừng khi thấy hai người <strong>đã kết hôn</strong>! Hai người luôn là một <strong>cặp</strong> rất đẹp <strong>đôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Thank you.</td>
            <td>Cảm ơn cậu.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Where is your <strong>daughter</strong>? She looks so cute in the pictures online.</td>
            <td><strong>Con gái</strong> cậu đâu? Con bé trông thật dễ thương trong mấy bức ảnh trên mạng.</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>She's at home tonight. Do you know if Nick is coming to the <strong>reunion</strong>? I <strong>remember</strong> you two were not just <strong>classmates</strong> but...a couple in high school.</td>
            <td>Tối nay con bé ở nhà. Cậu có biết liệu Nick có đến <strong>cuộc họp mặt</strong> không? Tôi <strong>nhớ</strong> hai người không chỉ là <strong>bạn học cùng lớp</strong>, mà còn là...một cặp đôi ở trường trung học.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Well, we didn't go to the gym.</td>
            <td>Chà, chúng tôi đã không đến phòng tập.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>...Uh...huh?</td>
            <td>...Ừ...hả?.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td><strong>Our relationship</strong> didn't <strong>work out</strong>.</td>
            <td><strong>Mối quan hệ của chúng tôi</strong> đã không <strong>đi đến đâu</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Just in Time for the Company Trip</h4>
  <img src="image/lession-02/l2-t3.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng Recording 2.5 cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 2.6</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.5 - Slow Speech -Topic 3 - Just In Time For the Company Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Howie and Tom are going together, then they meet Jenny, a new staff in R&D team. So, Howie introduces Jenny to Tom.</td>
            <td>Howie và Tom đang đi với nhau, thì họ gặp Jenny, một nhân viên mới trong nhóm nghiên cứu và phát triển. Vì vậy Howie giới thiệu Jenny với Tom.</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Hey Tom, have you met Jenny? She just started two weeks ago.</td>
            <td>Này Tom, cậu đã gặp Jenny chưa? Cô ấy chỉ mới bắt đầu làm việc từ hai tuần trước</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Nice to meet you, Jenny. I work in sales. <strong>What department are you in</strong>?</td>
            <td>Rất vui được gặp em, Jenny. Anh làm ở bộ phận bán hàng. <strong>Em thuộc bộ phận nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Hello Tom, I'm in <strong>R&D</strong>.</td>
            <td>Chào Tom, em làm ở bộ phận <strong>Nghiên cứu và Phát triển</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Are you going to join the company <strong>trip</strong> next week, Jenny?</td>
            <td>Em có tham gia <strong>chuyến du lịch</strong> công ty vào tuần tới không, Jenny?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>I'm not sure. <strong>Are newcomers allowed to</strong> come?</td>
            <td>Em không chắc lắm. <strong>Người mới</strong> có <strong>được phép</strong> đi không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Of course. We want everyone there for the <strong>team building</strong>.</td>
            <td>Tất nhiên. Bọn anh muốn tất cả mọi người ở đó để tham gia <strong>xây dựng đội nhóm</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Well, <strong>I am always up for</strong> a beach trip.</td>
            <td>Vâng, <strong>Em luôn luôn muốn</strong> một chuyến du lịch biển.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>It's going to be great. I think everybody <strong>is eager for</strong> a little <strong>relaxation</strong>.</td>
            <td>Nó sẽ rất tuyệt. Anh nghĩ rằng tất cả mọi người đều <strong>háo hức cho</strong> một chút <strong>thư giãn</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Could I bring my husband with me?</td>
            <td>Em có thể đua chồng đi cùng được không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>What? You said you haven't got a boyfriend?</td>
            <td>Cái gì? Em nói em không có bạn trai?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Yes, it's so true!</td>
            <td>Đúng, đó là sự thật!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.6 - Native Speech - Topic 3 - Just In Time For the Company Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Howie and Tom are going together, then they meet Jenny, a new staff in R&D team. So, Howie introduces Jenny to Tom.</td>
            <td>Howie và Tom đang đi với nhau, thì họ gặp Jenny, một nhân viên mới trong nhóm nghiên cứu và phát triển. Vì vậy Howie giới thiệu Jenny với Tom.</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Hey Tom, have you met Jenny? She just started two weeks ago.</td>
            <td>Này Tom, cậu đã gặp Jenny chưa? Cô ấy chỉ mới bắt đầu làm việc từ hai tuần trước</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Nice to meet you, Jenny. I work in sales. <strong>What department are you in</strong>?</td>
            <td>Rất vui được gặp em, Jenny. Anh làm ở bộ phận bán hàng. <strong>Em thuộc bộ phận nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Hello Tom, I'm in <strong>R&D</strong>.</td>
            <td>Chào Tom, em làm ở bộ phận <strong>Nghiên cứu và Phát triển</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Are you going to join the company <strong>trip</strong> next week, Jenny?</td>
            <td>Em có tham gia <strong>chuyến du lịch</strong> công ty vào tuần tới không, Jenny?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>I'm not sure. <strong>Are newcomers allowed to</strong> come?</td>
            <td>Em không chắc lắm. <strong>Người mới</strong> có <strong>được phép</strong> đi không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Of course. We want everyone there for the <strong>team building</strong>.</td>
            <td>Tất nhiên. Bọn anh muốn tất cả mọi người ở đó để tham gia <strong>xây dựng đội nhóm</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Well, <strong>I am always up for</strong> a beach trip.</td>
            <td>Vâng, <strong>Em luôn luôn muốn</strong> một chuyến du lịch biển.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>It's going to be great. I think everybody <strong>is eager for</strong> a little <strong>relaxation</strong>.</td>
            <td>Nó sẽ rất tuyệt. Anh nghĩ rằng tất cả mọi người đều <strong>háo hức cho</strong> một chút <strong>thư giãn</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Could I bring my husband with me?</td>
            <td>Em có thể đua chồng đi cùng được không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>What? You said you haven't got a boyfriend?</td>
            <td>Cái gì? Em nói em không có bạn trai?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Yes, it's so true!</td>
            <td>Đúng, đó là sự thật!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h3>Further practice: Luyện từ và mẫu câu chủ đạo</h3>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy ôn lại cụm từ và cách diễn đạt nổi bật tại 3 topics bằng cách nghe và nói theo Recording 2.7 từ 1-3 lần..</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 08 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: Jack's Family Portrait</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Grandparents (n)</td>
            <td>Ông bà</td>
            <td>These are my <strong>grandparents</strong> at their old house in Thailand.</td>
          </tr>
          <tr class="row">
            <td>Aunt (n)</td>
            <td>Cô</td>
            <td>They moved to the US when my dad and <strong>aunt</strong> were babies.</td>
          </tr>
          <tr class="row">
            <td>Grandfather (n)</td>
            <td>Ông</td>
            <td>My <strong>grandfather</strong> was a doctor in Thailand.</td>
          </tr>
          <tr class="row">
            <td>Doctor (n)</td>
            <td>Bác sĩ</td>
            <td>My grandfather was a <strong>doctor</strong> in Thailand.</td>
          </tr>
          <tr class="row">
            <td>Work (v)</td>
            <td>Làm việc</td>
            <td>He had to <strong>work</strong> as a cleaner.</td>
          </tr>
          <tr class="row">
            <td>Cleaner (n)</td>
            <td>Người lao công</td>
            <td>He had to work as a <strong>cleaner</strong>.</td>
          </tr>
          <tr class="row">
            <td>Inspiring (adj)</td>
            <td>Truyền cảm hứng</td>
            <td>That's really <strong>inspiring</strong>.</td>
          </tr>
          <tr class="row">
            <td>Blood(n)</td>
            <td>Máu</td>
            <td>I guess it's in our <strong>blood</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cousin (n)</td>
            <td>Anh (em) họ</td>
            <td>No, that's my <strong>cousin</strong>.</td>
          </tr>
          <tr class="row">
            <td>Pregnant (adj)</td>
            <td>Mang thai</td>
            <td>Yep, <strong>pregnant</strong> with me!</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Is this...?</td>
            <td>Đây có phải là...?</td>
            <td>Oh, <strong>is this your family?</strong></td>
          </tr>
          <tr class="row">
            <td>These are...?</td>
            <td>Đây là...</td>
            <td><strong>These are</strong> my grandparents at their old house in Thailand.</td>
          </tr>
          <tr class="row">
            <td>Moved to</td>
            <td>Chuyển tới</td>
            <td>They <strong>moved to</strong> the US when my dad and aunt were babies.</td>
          </tr>
          <tr class="row">
            <td>Was a doctor</td>
            <td>Là một bác sĩ (trong quá khứ)</td>
            <td>My grand father <strong>was a doctor</strong> in Thailand.</td>
          </tr>
          <tr class="row">
            <td>Work as a cleaner</td>
            <td>Làm việc như một lao công.</td>
            <td>My grandfather was a doctor in Thailand, but when they moved here, he had to <strong>work as a cleaner</strong>.</td>
          </tr>
          <tr class="row">
            <td>Follow in his dad's footsteps</td>
            <td>Đi theo con đường của cha anh ấy.</td>
            <td>he wanted to <strong>follow in his dad's footsteps</strong>.</td>
          </tr>
          <tr class="row">
            <td>It's in our blood.</td>
            <td>Nó đã ngấm vào máu của chúng tôi.</td>
            <td>Yes, my sister and I wanna be doctors, too. I guess <strong>it's in our blood</strong>.</td>
          </tr>
          <tr class="row">
            <td>That's...</td>
            <td>Đó là...</td>
            <td>No, <strong>that's</strong> my cousin. I'm over here.</td>
          </tr>
          <tr class="row">
            <td>Pregnant with me</td>
            <td>Mang thai tôi</td>
            <td>Yep, <strong>pregnant with me</strong>.</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: A High School Reunion?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Fantasic (adj)</td>
            <td>Tuyệt vời</td>
            <td>You look <strong>fantasic</strong>!</td>
          </tr>
          <tr class="row">
            <td>Reunion (n)</td>
            <td>Cuộc gặp mặt</td>
            <td>Do you know if Nick is coming to the <strong>reunion</strong>?</td>
          </tr>
          <tr class="row">
            <td>Married (v)</td>
            <td>Kết hôn</td>
            <td>I'm so happy to see that you tow got <strong>married</strong>!</td>
          </tr>
          <tr class="row">
            <td>Couple (n)</td>
            <td>Cặp đôi</td>
            <td>You are always such a good <strong>couple</strong>.</td>
          </tr>
          <tr class="row">
            <td>Classmates (n)</td>
            <td>Bạn cùng lớp</td>
            <td>I remember you two were not just <strong>classmates</strong> but... a couple in high school.</td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>You look fantasic!</td>
            <td>Trông cậu tuyệt quá!</td>
            <td>Rose? Is that you? Oh, <strong>you look fantasic</strong>!</td>
          </tr>
          <tr class="row">
            <td>It's so good to see you</td>
            <td>Thật tốt khi gặp cậu</td>
            <td>Angie! <strong>It's so good to see you</strong>!</td>
          </tr>
          <tr class="row">
            <td>Got married</td>
            <td>Kết hôn</td>
            <td>I'm so happy to see that you two <strong>got married</strong>!</td>
          </tr>
          <tr class="row">
            <td>Work out</td>
            <td>Tập thể dục, phát triển tốt , đến đâu, tới đâu</td>
            <td>Our relationship didn't <strong>work out</strong>.</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: Just in Time for the Company Trip</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Department (n)</td>
            <td>Bộ phận, phòng, ban</td>
            <td>What <strong>department</strong> are you in?</td>
          </tr>
          <tr class="row">
            <td>R&D (n)</td>
            <td>Nghiên cứu và phát triển</td>
            <td>I'm in R&D</td>
          </tr>
          <tr class="row">
            <td>Trip (n)</td>
            <td>Chuyến đi, chuyến du lịch</td>
            <td>Are you going to join the company <strong>trip</strong> next week, Jenny?</td>
          </tr>
          <tr class="row">
            <td>Newcomers (n)</td>
            <td>Người mới</td>
            <td>Are <strong>newcomers</strong> allowed to come?</td>
          </tr>
          <tr class="row">
            <td>Relaxation (n)</td>
            <td>Nghỉ ngơi, thư giãn</td>
            <td>I think everybody is eager for a little <strong>relaxation</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>What department are you in?</td>
            <td>Em ở bộ phận nào?</td>
            <td>I work in sales. <strong>What de partment are you in</strong>?</td>
          </tr>
          <tr class="row">
            <td>Allowed to</td>
            <td>Được phép</td>
            <td>Are newcomers <strong>allowed to</strong> come?</td>
          </tr>
          <tr class="row">
            <td>Team building</td>
            <td>Xây dựng đội nhóm</td>
            <td>We want everyone there for the
              <storng>team building</storng>.</td>
          </tr>
          <tr class="row">
            <td>I am always up for</td>
            <td>Em luôn muốn...</td>
            <td>Well, <strong>I am always up for</strong> a beach trip.</td>
          </tr>
          <tr class="row">
            <td>Is eager for</td>
            <td>Háo hức</td>
            <td>I think everybody <strong>is eager for</strong> a little relaxation.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <a href="index.php?directional=lession1-day7"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession2-day9"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>