<div class="col-lg-9">
  <h2>Ngày 13 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-02/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 2.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 2.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 2.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 02 - People || Ngày 13 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.8 - Rapid Response - Topic 1 - Introducing a Friend.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Do Jack's grandparents live in Thailand?</strong></th>
            <th class="col-lg-5"><strong>Có phải ông bà của Jack sống ở Thái Lan không?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, they don't.</td>
            <td>Không, họ không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, they live in the US.</td>
            <td>Không, họ sống ở Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Who moved to the US?</strong></td>
            <td><strong>Ai đã chuyển đến Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's grandparents.</td>
            <td>Ông bà của Jack.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's grandparents moved to the US.</td>
            <td>Ông bà của Jack đã chuyển đến Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Jack have an aunt?</strong></td>
            <td><strong>Jack có cô không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he does.</td>
            <td>Có, anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, jack has an aunt.</td>
            <td>Có, Jack có cô.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>What was Jack's grandfather's job in Thailand?</strong></td>
            <td><strong>Công việc ông nội của Jack ở Thái lan là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He was a doctor.</td>
            <td>Ông ấy là một bác sĩ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's grandfather worked as a doctor in Thailand.</td>
            <td>Ông nội của Jack làm việc như một bác sĩ ở Thái Lan.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>What job did Jack's grandfather have to work in the US?</strong></td>
            <td><strong>Công việc của ông nội Jack là gì khi ở Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A cleaner.</td>
            <td>Một người lao công.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's grandfather had to work as a cleaner in the US.</td>
            <td>Ông nội của Jack làm việc như một công nhân khi ở Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does Jack's father work as a doctor?</strong></td>
            <td><strong>Tại sao cha của Jack lại làm bác sĩ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>To follow in his dad's footsteps.</td>
            <td>Để nối nghiệp của ông ấy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's father works as a doctor because he wanted to follow in his dad's footsteps.</td>
            <td>Cha Jack làm bác sĩ vì ông muốn nối nghiệp của cha mình.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Who wants to be a doctor?</strong></td>
            <td><strong>Ai muốn làm bác sĩ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack and his sister.</td>
            <td>Jack và em gái.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack and his sister want to be doctors. It's in their blood.</td>
            <td>Jack và em gái muốn làm bác sĩ. Nó đã ngấm vào máu của họ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>How old were Jack's father and aunt when his grandparents moved to the US?</strong></td>
            <td><strong>Cha và cô của Jack bao nhiêu tuổi khi ông bà anh ấy chuyển đến Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>They were babies.</td>
            <td>Họ còn là những em bé.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's father and aunt were babies when his grandparents moved to the US.</td>
            <td>Cha và cô của Jack còn là những em bé khi ông bà anh ấy chuyển đến Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Who does Jack want to follow in his footsteps and become a doctor?</strong></td>
            <td><strong>Jack muốn theo nghiệp của ai và trở thành một bác sĩ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>His dad.</td>
            <td>Cha của anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack wants to follow in his dad's footsteps and become a doctor.</td>
            <td>Jack muốn theo nghiệp của cha anh ấy và trở thành một bác sĩ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Jack have a cousin?</strong></td>
            <td><strong>Có phải Jack có một người anh không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he does.</td>
            <td>Có, Anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Jack has a cousin.</td>
            <td>Có, Jack có một người anh họ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is pregnant in the picture?</strong></td>
            <td><strong>Ai mang thai trong bức hình?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's mom.</td>
            <td>Mẹ của Jack.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In the picture, Jack's mom is pregnant.</td>
            <td>Trong hình, Mẹ của Jack đang mang thai.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Jack's mom pregnant with Jack or his sister in the picture?</strong></td>
            <td><strong>Trong bức hình, mẹ Jack đang mang thai Jack hay em gái Jack?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In the picture, she's pregnant with Jack.</td>
            <td>Trong hình, bà ấy đang mang thai Jack.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jack's mom is prenant with him in the picture.</td>
            <td>Mẹ của Jack đang mang thai anh ấy trong bức hình.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 02 - People || Ngày 13 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.9 - Rapid Response - Topic 2 - A High School Reunion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>How does Rose look?</strong></th>
            <th class="col-lg-5"><strong>Roes trông thế nào?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Fantasic.</td>
            <td>Tuyệt vời.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Rose looks fantasic.</td>
            <td>Rose trông tuyệt vời.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Rose happy to see Angela?</strong></td>
            <td><strong>Rose có vui mừng khi gặp Angela không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she is.</td>
            <td>Có, cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Rose feels so good to see Angela.</td>
            <td>Có, Rose cảm thấy rất tuyệt khi gặp Angela.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>For how many years hasn't Rose met Angela?</strong></td>
            <td><strong>Bao nhiêu năm rồi Rose không gặp Angela?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>15 years.</td>
            <td>15 năm.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Rose hasn't met Angela for 15 years.</td>
            <td>Rose không gặp Angela 15 năm rồi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Who got married?</strong></td>
            <td><strong>Ai đã lập gia đình?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Rose and Edward.</td>
            <td>Rose và Edward.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Rose and Edward got married</td>
            <td>Rose và Edward đã lập gia đình.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>What kind of couple are Edward and Rose?</strong></td>
            <td><strong>Edward và Rose là một cặp đôi như thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A good couple.</td>
            <td>Một cặp đôi đẹp.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Edward and Rose are a good couple.</td>
            <td>Edward và Rose là một cặp đẹp đôi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Do Edward and Rose have a daughter?</strong></td>
            <td><strong>Edward và Rose có một cô con gái đúng không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, they do.</td>
            <td>Đúng, họ có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Edward and Rose have a daughter.</td>
            <td>Đúng, Edward và Rose có một cô con gái.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Where is their daughter tonight?</strong></td>
            <td><strong>Con gái của họ ở đâu tối nay?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>At home.</td>
            <td>Ở nhà.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Edward and Rose's daughter is at home tonight.</td>
            <td>Con gái của Edward và Rose ở nhà tối nay.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Who was Angela's boyfriend in high school?</strong></td>
            <td><strong>Ai là bạn trai Angela ở trường trung học?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It was Nick.</td>
            <td>Đó là Nick.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Angela's boyfriend in high school was Nick.</td>
            <td>Bạn trai của Angela ở trường trung học là Nick.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Nick coming to the reunion or not?</strong></td>
            <td><strong>Nick có đến buổi họp mặt không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's not sure.</td>
            <td>Không chắc lắm.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Nick may come to the reunion or may not, it's not sure.</td>
            <td>Nick có thể đến buổi họp mặt hoặc có thể không, không chắc lắm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Were Nick and Angela classmates in high school?</strong></td>
            <td><strong>Có phải Nick và Angela là bạn cùng lớp ở trường trung học không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, they were.</td>
            <td>Có, Họ có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Nick was Angela's classmate in high school.</td>
            <td>Có, Nick là bạn cùng lớp của Angela ở trường trung học.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>How was Angela and Nick's relationship?</strong></td>
            <td><strong>Mỗi quan hệ của Angela và Nick ra sao?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It didn't work out.</td>
            <td>Nó không đi đến đâu.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Their relationship didn't work out.</td>
            <td>Mối quan hệ của họ đã Không đi đến đâu.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Angela feel like when seeing Rose?</strong></td>
            <td><strong>Angela cảm thấy như thế nào khi gặp Rose?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She feels like they were in calculus class just yesterday.</td>
            <td>Cô ấy cảm thấy như họ ngồi làm toán với nhau chỉ mới hôm qua.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>When Angela sees Rose, she feels like they were in calculus class just yesterday.</td>
            <td>Khi Angela gặp Rose, cô cảm thấy như họ ngồi làm toán với nhau chỉ mới hôm qua.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 02 - People || Ngày 13 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.10 - Rapid Response - Topic 3 - Just in Time for the Company Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>When did Jenny start working?</strong></th>
            <th class="col-lg-5"><strong>Jenny bắt đầu làm việc từ khi nào?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Just two weeks ago.</td>
            <td>Chỉ hai tuần trước.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She started working two weeks ago.</td>
            <td>Cô ấy bắt đầu từ hai tuần trước.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Tom work in R&D?</strong></td>
            <td><strong>Tom có làm trong nhóm nghiên cứu và phát triển không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn't.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Tom works in sales.</td>
            <td>Không, Tom làm việc ở bộ phận bán hàng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>What department is Jenny in?</strong></td>
            <td><strong>Jenny ở bộ phận nào??</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In R&D.</td>
            <td>Nghiên cứu và phát triển.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jenny works in the R&D department.</td>
            <td>Jenny làm ở bộ phận Nghiên cứu và phát triển.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>When is the company trip?</strong></td>
            <td><strong>Khi nào công ty đi du lịch?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Next week.</td>
            <td>Tuần tới.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The company trip is next week</td>
            <td>Chuyến du lịch của công ty là vào tuần tới.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Are newcomers allowed to join the company trip?</strong></td>
            <td><strong>Người mới có được tham gia chuyến du lịch công ty không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, they are.</td>
            <td>Có, họ có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, newcomers are allowed to join the company trip.</td>
            <td>Có, người mới được tham gia chuyến du lịch công ty.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is allowed to particpate in the team building activity?</strong></td>
            <td><strong>Ai được phép tham gia vào hoạt động xây dựng nhóm?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Everyone is allowed.</td>
            <td>Tất cả mọi người đều được phép.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Everyone is allowed to participate in the team building activity.</td>
            <td>Tất cả mọi người đều được phép tham gia vào hoạt động xây dựng đội nhóm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Jenny always up for?</strong></td>
            <td><strong>Jenny luôn muốn điều gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A beach trip.</td>
            <td>Một chuyến biển.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jenny is always up for a beach trip.</td>
            <td>Jenny luôn luôn muốn một chuyến đi biển.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>What is everybody eager for?</strong></td>
            <td><strong>Mọi người háo hức điều gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A little relationship.</td>
            <td>Một chút thư giãn.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Everybody is eager a little relationship.</td>
            <td>Mọi người đều háo hức có một chút thư giãn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Tom think of the company trip?</strong></td>
            <td><strong>Tom nghĩ gì về chuyến du lịch công ty?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He thinks that it's going to great.</td>
            <td>Anh ấy nghĩ rằng nó sẽ tuyệt vời.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom thinks that the company trip is going to be great.</td>
            <td>Tom nghĩ rằng chuyến du lịch công ty sẽ tuyệt vời.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Was Jenny married?</strong></td>
            <td><strong>Jenny đã lập gia đình chưa?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she was.</td>
            <td>Rồi, Cô ấy rồi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Jenny got married.</td>
            <td>Rồi, Jenny đã lập gia đình rồi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Who does Jenny want to bring with?</strong></td>
            <td><strong>Jenny muốn mang ai đi cùng?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Her husband.</td>
            <td>Chồng cô ấy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She wants to bring her husband with her on the company trip.</td>
            <td>Cô ấy muốn mang chồng đi cùng trong chuyến du lịch công ty.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Howie know that Jenny got married?</strong></td>
            <td><strong>Howie có biết Jenny đã lập gia đình không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn't.</td>
            <td>Không, anh ấy không biết.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Howie doesn't know that Jenny married.</td>
            <td>Không, Howie không biết Jenny đã lập gia đình.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 2.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 13 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.11 - Production.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>

  <div>
    <a href="index.php?directional=lession2-day12"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession2-day14"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>