<div class="col-lg-9">
  <img src="image/lession-02/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 09 - Nói Đuổi</h2>
  <h4>Topic 01: Jack’s Family Portrait</h4>
  <img src="image/lession-02/l2-t1.png" alt="" width="800px" height="200px">

  <h4>Bước 1: nói đuổi tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 2.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 2.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 2.1</strong> từ 1-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 09 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.1 - Slow Speech - Topic 1 - Jack_s Family Portrait.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lisa and Jack are talking about Jack's family portrait on the wall.</td>
            <td>Lisa và Jack đang nói chuyện về bức tranh gia đình Jack ở trên tường</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Oh, <strong>is this</strong> my family?</td>
            <td>Ồ, <strong>đây có phải là</strong> gia đình cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>It is. <strong>These are</strong> my <strong>grandparents</strong> at thier old house in Thailand.</td>
            <td>Đúng rồi. <strong>Đây là ông bà của tôi</strong> ở nhà cũ của họ ở Thailand.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Do they live there?</td>
            <td>Họ có sống ở đó không?.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, They were just visiting. They <strong>moved to</strong> the US when my dad and <strong>aunt</strong> were babies.</td>
            <td>Không, họ chỉ ghé thăm thôi. Họ <strong>chuyển đến</strong> Mỹ khi bố tôi và cô tôi còn nhỏ.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Wow, I didn't know that.</td>
            <td>Chà, tôi không biết đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yeah. My <strong>grandfather was a doctor</strong> in Thailand, but when they moved here, he had to <strong>works as a cleaner</strong>.</td>
            <td>Ừ. <strong>Ông</strong> tôi <strong>là một bác sĩ</strong> ở Thái Lan, nhưng khi họ đến đây, ông tôi phải <strong>làm việc như một lao công</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Your dad's a docter right?</td>
            <td>Bố cậu là một bác sĩ đúng không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>He is. He wanted to <strong>follow in his dad's footsteps</strong>. And those are my <strong>parents</strong>.</td>
            <td>Đúng rồi. Ông ấy muốn <strong>đi theo con đường của cha mình</strong>. Và đó là <strong>bố mẹ</strong> tôi.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's really <strong>inspiring</strong>.</td>
            <td>Điều đó thực sụ <strong>truyền cảm hứng</strong> đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yes, my sister and I wanna be doctors, too. I guess <strong>it's in our blood</strong>.</td>
            <td>Ừ, em gái tôi và tôi cũng muốn là bác sĩ. Tôi đoán <strong>nó đã ngấm vào máu của chúng tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Hey, are you in this picture? Is this you?</td>
            <td>Này, cậu có mặt trong bức ảnh này không? Đây có phải cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, <strong>that's my cousin</strong>. I'm over here.</td>
            <td>Không, <strong>Đó là anh họ của tôi</strong>. Tôi ở đây cơ</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's your mom!</td>
            <td>Đó là mẹ cậu!</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yep, <strong>pregnant with me</strong>!</td>
            <td>Đúng, đang <strong>mang thai tôi</strong>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nối đuổi tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy <strong>sử dụng</strong> giáo trình, <strong>nghe</strong> và <strong>nhẩm</strong> theo Recording 2.2 từ 1-3 lần</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau đó, <strong>nói đuổi</strong> theo Recording 2.2 từ 1-2 lần. Dùng từ điển khi cần. Hãy nói để bắt kịp tốc độ của nhân vật.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Không</strong> dùng giáo trình, <strong>nói đuổi Recording 2.2</strong> ít nhất 2-3 lần cho đến khi bạn cảm thấy tự tin với tốc độ của mình.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Chú ý:</strong> Bạn cần tập trung vào ngữ điệu, nối âm và tốc độ tự nhiên của người bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 09 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.2 - Native speech - Topic 1 - Jack_s family.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lisa and Jack are talking about Jack's family portrait on the wall.</td>
            <td>Lisa và Jack đang nói chuyện về bức tranh gia đình Jack ở trên tường</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Oh, <strong>is this</strong> my family?</td>
            <td>Ồ, <strong>đây có phải là</strong> gia đình cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>It is. <strong>These are</strong> my <strong>grandparents</strong> at thier old house in Thailand.</td>
            <td>Đúng rồi. <strong>Đây là ông bà của tôi</strong> ở nhà cũ của họ ở Thailand.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Do they live there?</td>
            <td>Họ có sống ở đó không?.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, They were just visiting. They <strong>moved to</strong> the US when my dad and <strong>aunt</strong> were babies.</td>
            <td>Không, họ chỉ ghé thăm thôi. Họ <strong>chuyển đến</strong> Mỹ khi bố tôi và cô tôi còn nhỏ.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Wow, I didn't know that.</td>
            <td>Chà, tôi không biết đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yeah. My <strong>grandfather was a doctor</strong> in Thailand, but when they moved here, he had to <strong>works as a cleaner</strong>.</td>
            <td>Ừ. <strong>Ông</strong> tôi <strong>là một bác sĩ</strong> ở Thái Lan, nhưng khi họ đến đây, ông tôi phải <strong>làm việc như một lao công</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Your dad's a docter right?</td>
            <td>Bố cậu là một bác sĩ đúng không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>He is. He wanted to <strong>follow in his dad's footsteps</strong>. And those are my <strong>parents</strong>.</td>
            <td>Đúng rồi. Ông ấy muốn <strong>đi theo con đường của cha mình</strong>. Và đó là <strong>bố mẹ</strong> tôi.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's really <strong>inspiring</strong>.</td>
            <td>Điều đó thực sụ <strong>truyền cảm hứng</strong> đấy.</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yes, my sister and I wanna be doctors, too. I guess <strong>it's in our blood</strong>.</td>
            <td>Ừ, em gái tôi và tôi cũng muốn là bác sĩ. Tôi đoán <strong>nó đã ngấm vào máu của chúng tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>Hey, are you in this picture? Is this you?</td>
            <td>Này, cậu có mặt trong bức ảnh này không? Đây có phải cậu không?</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>No, <strong>that's my cousin</strong>. I'm over here.</td>
            <td>Không, <strong>Đó là anh họ của tôi</strong>. Tôi ở đây cơ</td>
          </tr>
          <tr class="row">
            <td>Lisa</td>
            <td>That's your mom!</td>
            <td>Đó là mẹ cậu!</td>
          </tr>
          <tr class="row">
            <td>Jack</td>
            <td>Yep, <strong>pregnant with me</strong>!</td>
            <td>Đúng, đang <strong>mang thai tôi</strong>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: A High School Reunion?</h4>
  <img src="image/lession-02/l2-t2.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 2.3</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 2.4</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - Introduction || Ngày 09 - Nói Đuổi
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.3 - Slow Speech -Topic 2 - A High School Reunion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Angela joins a high school reunion where she meets her tow old school friends. They haven't meet for more than 10 years.</td>
            <td>Angela tham gia một cuộc họp mặt trường trung học nơi cô ấy gặp hai người bạn học cũ của mình. Họ đã không gặp nhau hơn 10 năm.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Rose? Is that you? Oh, <strong>you look fantasic</strong>!</td>
            <td>Rose? Là cậu đúng không? Ôi,
              <storng>trông cậu tuyệt quá</storng>!</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>Angie! <strong>It's so good to see you! How long has it been</strong>, 15 years?</td>
            <td>Angie!(Cách gọi thân mật của Angela). <strong>thật tốt khi gặp lại cậu! Đã bao lâu rồi nhỉ</strong>, 15 năm à?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>I feel like we were in calculus class just yesterday!</td>
            <td>Tôi cảm thấy như chúng ta ngồi làm toán với nhau chỉ hôm qua thôi!</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Hi, honey. Hi Angela, how are you?</td>
            <td>Chào vợ yêu. Chào Angela, Cậu khỏe chứ?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Edward, how are you doing? <strong>Time flies</strong>. I'm so happy to see that you two <strong>got married</strong>! You are always such a good <strong>couple</strong>.</td>
            <td>Edward, cậu dạo này thế nào? <strong>Thời gian trôi thật nhanh</strong>. Tôi rất vui mừng khi thấy hai người <strong>đã kết hôn</strong>! Hai người luôn là một <strong>cặp</strong> rất đẹp <strong>đôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Thank you.</td>
            <td>Cảm ơn cậu.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Where is your <strong>daughter</strong>? She looks so cute in the pictures online.</td>
            <td><strong>Con gái</strong> cậu đâu? Con bé trông thật dễ thương trong mấy bức ảnh trên mạng.</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>She's at home tonight. Do you know if Nick is coming to the <strong>reunion</strong>? I <strong>remember</strong> you two were not just <strong>classmates</strong> but...a couple in high school.</td>
            <td>Tối nay con bé ở nhà. Cậu có biết liệu Nick có đến <strong>cuộc họp mặt</strong> không? Tôi <strong>nhớ</strong> hai người không chỉ là <strong>bạn học cùng lớp</strong>, mà còn là...một cặp đôi ở trường trung học.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Well, we didn't go to the gym.</td>
            <td>Chà, chúng tôi đã không đến phòng tập.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>...Uh...huh?</td>
            <td>...Ừ...hả?.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td><strong>Our relationship</strong> didn't <strong>work out</strong>.</td>
            <td><strong>Mối quan hệ của chúng tôi</strong> đã không <strong>đi đến đâu</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 09 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.4 - Native Speech - Topic 2 - A High School Reunion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Angela joins a high school reunion where she meets her tow old school friends. They haven't meet for more than 10 years.</td>
            <td>Angela tham gia một cuộc họp mặt trường trung học nơi cô ấy gặp hai người bạn học cũ của mình. Họ đã không gặp nhau hơn 10 năm.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Rose? Is that you? Oh, <strong>you look fantasic</strong>!</td>
            <td>Rose? Là cậu đúng không? Ôi,
              <storng>trông cậu tuyệt quá</storng>!</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>Angie! <strong>It's so good to see you! How long has it been</strong>, 15 years?</td>
            <td>Angie!(Cách gọi thân mật của Angela). <strong>thật tốt khi gặp lại cậu! Đã bao lâu rồi nhỉ</strong>, 15 năm à?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>I feel like we were in calculus class just yesterday!</td>
            <td>Tôi cảm thấy như chúng ta ngồi làm toán với nhau chỉ hôm qua thôi!</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Hi, honey. Hi Angela, how are you?</td>
            <td>Chào vợ yêu. Chào Angela, Cậu khỏe chứ?</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Edward, how are you doing? <strong>Time flies</strong>. I'm so happy to see that you two <strong>got married</strong>! You are always such a good <strong>couple</strong>.</td>
            <td>Edward, cậu dạo này thế nào? <strong>Thời gian trôi thật nhanh</strong>. Tôi rất vui mừng khi thấy hai người <strong>đã kết hôn</strong>! Hai người luôn là một <strong>cặp</strong> rất đẹp <strong>đôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>Thank you.</td>
            <td>Cảm ơn cậu.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Where is your <strong>daughter</strong>? She looks so cute in the pictures online.</td>
            <td><strong>Con gái</strong> cậu đâu? Con bé trông thật dễ thương trong mấy bức ảnh trên mạng.</td>
          </tr>
          <tr class="row">
            <td>Rose</td>
            <td>She's at home tonight. Do you know if Nick is coming to the <strong>reunion</strong>? I <strong>remember</strong> you two were not just <strong>classmates</strong> but...a couple in high school.</td>
            <td>Tối nay con bé ở nhà. Cậu có biết liệu Nick có đến <strong>cuộc họp mặt</strong> không? Tôi <strong>nhớ</strong> hai người không chỉ là <strong>bạn học cùng lớp</strong>, mà còn là...một cặp đôi ở trường trung học.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td>Well, we didn't go to the gym.</td>
            <td>Chà, chúng tôi đã không đến phòng tập.</td>
          </tr>
          <tr class="row">
            <td>Edward</td>
            <td>...Uh...huh?</td>
            <td>...Ừ...hả?.</td>
          </tr>
          <tr class="row">
            <td>Angela</td>
            <td><strong>Our relationship</strong> didn't <strong>work out</strong>.</td>
            <td><strong>Mối quan hệ của chúng tôi</strong> đã không <strong>đi đến đâu</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Just in Time for the Company Trip</h4>
  <img src="image/lession-02/l2-t3.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 2.5</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 2.6</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 09 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.5 - Slow Speech -Topic 3 - Just In Time For the Company Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Howie and Tom are going together, then they meet Jenny, a new staff in R&D team. So, Howie introduces Jenny to Tom.</td>
            <td>Howie và Tom đang đi với nhau, thì họ gặp Jenny, một nhân viên mới trong nhóm nghiên cứu và phát triển. Vì vậy Howie giới thiệu Jenny với Tom.</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Hey Tom, have you met Jenny? She just started two weeks ago.</td>
            <td>Này Tom, cậu đã gặp Jenny chưa? Cô ấy chỉ mới bắt đầu làm việc từ hai tuần trước</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Nice to meet you, Jenny. I work in sales. <strong>What department are you in</strong>?</td>
            <td>Rất vui được gặp em, Jenny. Anh làm ở bộ phận bán hàng. <strong>Em thuộc bộ phận nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Hello Tom, I'm in <strong>R&D</strong>.</td>
            <td>Chào Tom, em làm ở bộ phận <strong>Nghiên cứu và Phát triển</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Are you going to join the company <strong>trip</strong> next week, Jenny?</td>
            <td>Em có tham gia <strong>chuyến du lịch</strong> công ty vào tuần tới không, Jenny?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>I'm not sure. <strong>Are newcomers allowed to</strong> come?</td>
            <td>Em không chắc lắm. <strong>Người mới</strong> có <strong>được phép</strong> đi không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Of course. We want everyone there for the <strong>team building</strong>.</td>
            <td>Tất nhiên. Bọn anh muốn tất cả mọi người ở đó để tham gia <strong>xây dựng đội nhóm</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Well, <strong>I am always up for</strong> a beach trip.</td>
            <td>Vâng, <strong>Em luôn luôn muốn</strong> một chuyến du lịch biển.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>It's going to be great. I think everybody <strong>is eager for</strong> a little <strong>relaxation</strong>.</td>
            <td>Nó sẽ rất tuyệt. Anh nghĩ rằng tất cả mọi người đều <strong>háo hức cho</strong> một chút <strong>thư giãn</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Could I bring my husband with me?</td>
            <td>Em có thể đua chồng đi cùng được không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>What? You said you haven't got a boyfriend?</td>
            <td>Cái gì? Em nói em không có bạn trai?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Yes, it's so true!</td>
            <td>Đúng, đó là sự thật!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 2.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 02 - People || Ngày 09 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 02 - PEOPLE/Recording 2.6 - Native Speech - Topic 3 - Just In Time For the Company Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Howie and Tom are going together, then they meet Jenny, a new staff in R&D team. So, Howie introduces Jenny to Tom.</td>
            <td>Howie và Tom đang đi với nhau, thì họ gặp Jenny, một nhân viên mới trong nhóm nghiên cứu và phát triển. Vì vậy Howie giới thiệu Jenny với Tom.</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Hey Tom, have you met Jenny? She just started two weeks ago.</td>
            <td>Này Tom, cậu đã gặp Jenny chưa? Cô ấy chỉ mới bắt đầu làm việc từ hai tuần trước</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Nice to meet you, Jenny. I work in sales. <strong>What department are you in</strong>?</td>
            <td>Rất vui được gặp em, Jenny. Anh làm ở bộ phận bán hàng. <strong>Em thuộc bộ phận nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Hello Tom, I'm in <strong>R&D</strong>.</td>
            <td>Chào Tom, em làm ở bộ phận <strong>Nghiên cứu và Phát triển</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Are you going to join the company <strong>trip</strong> next week, Jenny?</td>
            <td>Em có tham gia <strong>chuyến du lịch</strong> công ty vào tuần tới không, Jenny?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>I'm not sure. <strong>Are newcomers allowed to</strong> come?</td>
            <td>Em không chắc lắm. <strong>Người mới</strong> có <strong>được phép</strong> đi không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>Of course. We want everyone there for the <strong>team building</strong>.</td>
            <td>Tất nhiên. Bọn anh muốn tất cả mọi người ở đó để tham gia <strong>xây dựng đội nhóm</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Well, <strong>I am always up for</strong> a beach trip.</td>
            <td>Vâng, <strong>Em luôn luôn muốn</strong> một chuyến du lịch biển.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>It's going to be great. I think everybody <strong>is eager for</strong> a little <strong>relaxation</strong>.</td>
            <td>Nó sẽ rất tuyệt. Anh nghĩ rằng tất cả mọi người đều <strong>háo hức cho</strong> một chút <strong>thư giãn</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Could I bring my husband with me?</td>
            <td>Em có thể đua chồng đi cùng được không?</td>
          </tr>
          <tr class="row">
            <td>Howie</td>
            <td>What? You said you haven't got a boyfriend?</td>
            <td>Cái gì? Em nói em không có bạn trai?</td>
          </tr>
          <tr class="row">
            <td>Jenny</td>
            <td>Yes, it's so true!</td>
            <td>Đúng, đó là sự thật!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <a href="index.php?directional=lession1-day8"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession2-day10"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>