<div class="col-lg-9">
  <h2>Index</h2>
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <p>Use <code>Nghe và nói theo Recording 2.7 từ 3-5 lần.</code> class on main <code>panel</code> element to auto-close spoiler on page-load.</p>
  <h4>Recording 2.7</h4>
  <div class="panel panel-primary">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Audio</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success autocollapse">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Success Title
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls autoplay>
                  <source src="../file/horse.ogg" type="audio/ogg">
                  <source src="../file/horse.mp3" type="audio/mpeg">
                  <!-- <source src="../video/LESSON 01 - INTRODUCTION/Recording 1.1- Slow speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg"> -->
                Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>