<div class="col-lg-9">
  <img src="image/lession-03/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 16 - Nói Đuổi</h2>
  <h4>Topic 01: The Triathlete</h4>
  <img src="image/lession-03/topic01.png" alt="" width="800px" height="200px">

  <h4>Bước 1: nói đuổi tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 3.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 3.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 3.1</strong> từ 1-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.1 - Slow Speech - Topic 1 - The Triathlete.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Janet was very surprised at Jackson's plan to compete in a triathlon next week. She's also curious about his triathlon training schedule.</td>
            <td>Janet rất ngạc nhiên với kế hoạch thi ba môn vào tuần tới của Jackson. Cô cũng tò mò về lịch tập luyện ba môn phối hợp của anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>I can't <strong>believe</strong> you're really <strong>doing a triathlon</strong> next week! <strong>How are you training for it</strong>?</td>
            <td>Tôi không thể <strong>tin</strong> được là cậu thực sự sẽ tham gia một cuộc thi ba môn phối hợp vào tuần tới! <strong>Cậu tập luyện cho cuộc thi như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I <strong>get up</strong> early every day to run. Usually I'm <strong>awake</strong> by 4:30 or 5:00, and then I run 10 <strong>miles</strong>.</td>
            <td>Tôi <strong>dậy</strong> sớm mỗi ngày để chạy. Thông thường tôi <strong>thức dậy</strong> lúc 4:30 hoặc 5:00 và sau đó tôi chạy 10 <strong>dặm</strong></td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Wow. <strong>What time do you</strong> finish running?</td>
            <td>Wow. <strong>Mấy giờ thì cậu</strong> chạy xong?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I run for about an hour, and then I swim until <strong>it's time to</strong> go to work.</td>
            <td>Tôi chạy trong khoảng một giờ và sau đó tôi bơi cho tới khi <strong>đến giờ</strong> đi làm.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>What about <strong>cycling</strong>?</td>
            <td>Còn môn <strong>đạp xe</strong> thì sao?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I cycle <strong>on the weekends</strong>. I <strong>spend</strong> pretty much all of Saturday and Sunday cycling around my <strong>neighborhood</strong>.</td>
            <td>Tôi đạp xe <strong>vào những ngày cuối tuần</strong>. Tôi <strong>dành</strong> gần như cả ngày thứ bảy và chủ nhật để đạp xe quanh <strong>khu nhà mình</strong>.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>What if it rains?</td>
            <td>Nếu trời mưa thì sao?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>Well, I go to the <strong>gym</strong> and use an exercise bike on <strong>rainy</strong> days.</td>
            <td>Ồ, tôi đến <strong>phòng tập thể dục</strong> và sử dụng xe đạp thể dục và những ngày <strong>mưa</strong>.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Wow, <strong>good luck</strong> Jackson!</td>
            <td>Wow, <strong>chúc may mắn</strong> nhé Jackson!</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>Why don't you join me next time? <strong>It would be fun to have</strong> a workout buddy!</td>
            <td>Sao cậu không tham gia cùng với tôi trong lần tới nhỉ? <strong>Sẽ rất thú vị khi có</strong> một người bạn tập đó!</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Sure, <strong>just let me know</strong> if they ever start my kind of <strong>triathlon</strong>: sleeping, eating and <strong>binge</strong> watching TV. Because I'm already in perfect <strong>shape</strong> for that!</td>
            <td>Chắc chắn rồi, <strong>hãy cho tôi biết</strong> khi nào họ bắt đầu <strong>cuộc thi ba môn phối hợp</strong> theo kiểu của tôi: ngủ ăn và <strong>say sưa</strong> xem tivi. Bởi vì tôi đã ở <strong>trạng thái</strong> hoàn hảo cho cuộc thi
              đó rồi</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nối đuổi tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy <strong>sử dụng</strong> giáo trình, <strong>nghe</strong> và <strong>nhẩm</strong> theo Recording 3.2 từ 1-3 lần</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau đó, <strong>nói đuổi</strong> theo Recording 3.2 từ 1-2 lần. Dùng từ điển khi cần. Hãy nói để bắt kịp tốc độ của nhân vật.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Không</strong> dùng giáo trình, <strong>nói đuổi Recording 3.2</strong> ít nhất 2-3 lần cho đến khi bạn cảm thấy tự tin với tốc độ của mình.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Chú ý:</strong> Bạn cần tập trung vào ngữ điệu, nối âm và tốc độ tự nhiên của người bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.2 - Native Speech - Topic 1 - The Triathlete.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Janet was very surprised at Jackson's plan to compete in a triathlon next week. She's also curious about his triathlon training schedule.</td>
            <td>Janet rất ngạc nhiên với kế hoạch thi ba môn vào tuần tới của Jackson. Cô cũng tò mò về lịch tập luyện ba môn phối hợp của anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>I can't <strong>believe</strong> you're really <strong>doing a triathlon</strong> next week! <strong>How are you training for it</strong>?</td>
            <td>Tôi không thể <strong>tin</strong> được là cậu thực sự sẽ tham gia một cuộc thi ba môn phối hợp vào tuần tới! <strong>Cậu tập luyện cho cuộc thi như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I <strong>get up</strong> early every day to run. Usually I'm <strong>awake</strong> by 4:30 or 5:00, and then I run 10 <strong>miles</strong>.</td>
            <td>Tôi <strong>dậy</strong> sớm mỗi ngày để chạy. Thông thường tôi <strong>thức dậy</strong> lúc 4:30 hoặc 5:00 và sau đó tôi chạy 10 <strong>dặm</strong></td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Wow. <strong>What time do you</strong> finish running?</td>
            <td>Wow. <strong>Mấy giờ thì cậu</strong> chạy xong?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I run for about an hour, and then I swim until <strong>it's time to</strong> go to work.</td>
            <td>Tôi chạy trong khoảng một giờ và sau đó tôi bơi cho tới khi <strong>đến giờ</strong> đi làm.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>What about <strong>cycling</strong>?</td>
            <td>Còn môn <strong>đạp xe</strong> thì sao?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>I cycle <strong>on the weekends</strong>. I <strong>spend</strong> pretty much all of Saturday and Sunday cycling around my <strong>neighborhood</strong>.</td>
            <td>Tôi đạp xe <strong>vào những ngày cuối tuần</strong>. Tôi <strong>dành</strong> gần như cả ngày thứ bảy và chủ nhật để đạp xe quanh <strong>khu nhà mình</strong>.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>What if it rains?</td>
            <td>Nếu trời mưa thì sao?</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>Well, I go to the <strong>gym</strong> and use an exercise bike on <strong>rainy</strong> days.</td>
            <td>Ồ, tôi đến <strong>phòng tập thể dục</strong> và sử dụng xe đạp thể dục và những ngày <strong>mưa</strong>.</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Wow, <strong>good luck</strong> Jackson!</td>
            <td>Wow, <strong>chúc may mắn</strong> nhé Jackson!</td>
          </tr>
          <tr class="row">
            <td>Jackson</td>
            <td>Why don't you join me next time? <strong>It would be fun to have</strong> a workout buddy!</td>
            <td>Sao cậu không tham gia cùng với tôi trong lần tới nhỉ? <strong>Sẽ rất thú vị khi có</strong> một người bạn tập đó!</td>
          </tr>
          <tr class="row">
            <td>Janet</td>
            <td>Sure, <strong>just let me know</strong> if they ever start my kind of <strong>triathlon</strong>: sleeping, eating and <strong>binge</strong> watching TV. Because I'm already in perfect <strong>shape</strong> for that!</td>
            <td>Chắc chắn rồi, <strong>hãy cho tôi biết</strong> khi nào họ bắt đầu <strong>cuộc thi ba môn phối hợp</strong> theo kiểu của tôi: ngủ ăn và <strong>say sưa</strong> xem tivi. Bởi vì tôi đã ở <strong>trạng thái</strong> hoàn hảo cho cuộc thi
              đó rồi</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: Invitation to What?</h4>
  <img src="image/lession-03/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 3.3</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 3.4</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.3 - Slow Speech -Topic 2 - Invitation to What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Robert wants to invite Sharon to his party. Unfortunately she has another appointment at that time.</td>
            <td>Robert muốn mời Sharon đến bữa tiệc của anh ấy. Thật không may, cô ấy có một cuộc hẹn khác vào thời điểm đó.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Hey Sharon what time will you be at the <strong>party</strong>?</td>
            <td>Chào Sharon, mấy giờ cậu sẽ có mặt ở <strong>bữa tiệc</strong>?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Party? What party?</td>
            <td>Bữa tiệc? Bữa tiệc nào nhỉ?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>My party. It's at 8.00PM tomorrow night. Me, you, an Italian <strong>restaurant</strong>.
              <storng>Are you free</storng>?</td>
            <td>Bữa tiệc của tôi. Lúc 8.00 tối mai. Tôi, cậu, tại một <strong>nhà hàng</strong> Ý. <strong>Cậu có rảnh không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Is this a party ... or ... are you <strong>inviting</strong> me to dinner, Robert?</td>
            <td>Đây có phải là một bữa tiệc ... hay ... là cậu <strong>đang mời</strong> tôi đi ăn tối, Robert?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>It's a party. I'll <strong>pick you up</strong> at seven, okay?</td>
            <td>Đó là một bữa tiệc. Tôi sẽ <strong>đón cậu vào lúc</strong> 7 giờ được chứ?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Thanks ,but <strong>I'm afraid I'm busy tomorrow</strong>. I'm going to a real party.</td>
            <td>Cảm ơn, nhưng <strong>tôi e là ngày mai tôi bận rồi</strong>. Tôi sẽ tham gia một bữa tiệc thật sự.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Oh... Okay. Well, call me later, or something...</td>
            <td>Ồ... Được rồi. Vậy hãy gọi cho tôi sau, hay gì đó...</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>It's kind of short notice, ya know...</td>
            <td>Đó là một lời báo mời hơi gấp, cậu biết đấy...</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Yeah, no. I understand. <strong>Maybe another time</strong>.</td>
            <td>Ừ. Tôi hiểu. <strong>Có lẽ để lần khác vậy</strong>.</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Well... <strong>Would you like to come with me</strong>?</td>
            <td>Mà... <strong>Cậu có muốn đi với tôi không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>You bet</strong>! What time? ... And... Where?</td>
            <td><strong>Chắc chắn rồi</strong>! Mấy giờ?... Và ... Ở đâu?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td><strong>Let's</strong> meet here tomorrow at noon. Bring something to grill. <strong>How's that sound</strong>?</td>
            <td>Chúng ta <strong>hãy</strong> gặp nhau ở đây vào trưa mai nhé. Mang theo vài thứ để nướng. <strong>Nghe ý đó thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>That sounds great! Should I wear a suit?</td>
            <td>Nghe tuyệt đấy! Tôi có nên mặc một bộ vest?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Uhm... A swimsuit. There's a pool.</td>
            <td>Uhm... Một bộ đồ bơi. Có một bể bơi ở đó.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>Got it! I'm looking forward to</strong> it!</td>
            <td><strong>Tôi hiểu rồi! Tôi rất trông đợi</strong> bữa tiệc đấy!</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Yeah, same!... Oops! <strong>What time is it</strong>?</td>
            <td>Ừ, tôi cũng thế!... Ối! <strong>Mấy giờ rồi</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>It's 10:30</strong>.</td>
            <td>
              <storng>Bây giờ là 10:30</storng>.</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td><strong>Oh, I've gotta go</strong>. See ya.</td>
            <td><strong>Ồ, tôi phải đi đây</strong>. Hẹn gặp lại.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.4 -Native Speech - Topic 2 - Invitation to What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Robert wants to invite Sharon to his party. Unfortunately she has another appointment at that time.</td>
            <td>Robert muốn mời Sharon đến bữa tiệc của anh ấy. Thật không may, cô ấy có một cuộc hẹn khác vào thời điểm đó.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Hey Sharon what time will you be at the <strong>party</strong>?</td>
            <td>Chào Sharon, mấy giờ cậu sẽ có mặt ở <strong>bữa tiệc</strong>?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Party? What party?</td>
            <td>Bữa tiệc? Bữa tiệc nào nhỉ?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>My party. It's at 8.00PM tomorrow night. Me, you, an Italian <strong>restaurant</strong>.
              <storng>Are you free</storng>?</td>
            <td>Bữa tiệc của tôi. Lúc 8.00 tối mai. Tôi, cậu, tại một <strong>nhà hàng</strong> Ý. <strong>Cậu có rảnh không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Is this a party ... or ... are you <strong>inviting</strong> me to dinner, Robert?</td>
            <td>Đây có phải là một bữa tiệc ... hay ... là cậu <strong>đang mời</strong> tôi đi ăn tối, Robert?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>It's a party. I'll <strong>pick you up</strong> at seven, okay?</td>
            <td>Đó là một bữa tiệc. Tôi sẽ <strong>đón cậu vào lúc</strong> 7 giờ được chứ?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Thanks ,but <strong>I'm afraid I'm busy tomorrow</strong>. I'm going to a real party.</td>
            <td>Cảm ơn, nhưng <strong>tôi e là ngày mai tôi bận rồi</strong>. Tôi sẽ tham gia một bữa tiệc thật sự.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Oh... Okay. Well, call me later, or something...</td>
            <td>Ồ... Được rồi. Vậy hãy gọi cho tôi sau, hay gì đó...</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>It's kind of short notice, ya know...</td>
            <td>Đó là một lời báo mời hơi gấp, cậu biết đấy...</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>Yeah, no. I understand. <strong>Maybe another time</strong>.</td>
            <td>Ừ. Tôi hiểu. <strong>Có lẽ để lần khác vậy</strong>.</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Well... <strong>Would you like to come with me</strong>?</td>
            <td>Mà... <strong>Cậu có muốn đi với tôi không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>You bet</strong>! What time? ... And... Where?</td>
            <td><strong>Chắc chắn rồi</strong>! Mấy giờ?... Và ... Ở đâu?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td><strong>Let's</strong> meet here tomorrow at noon. Bring something to grill. <strong>How's that sound</strong>?</td>
            <td>Chúng ta <strong>hãy</strong> gặp nhau ở đây vào trưa mai nhé. Mang theo vài thứ để nướng. <strong>Nghe ý đó thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td>That sounds great! Should I wear a suit?</td>
            <td>Nghe tuyệt đấy! Tôi có nên mặc một bộ vest?</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Uhm... A swimsuit. There's a pool.</td>
            <td>Uhm... Một bộ đồ bơi. Có một bể bơi ở đó.</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>Got it! I'm looking forward to</strong> it!</td>
            <td><strong>Tôi hiểu rồi! Tôi rất trông đợi</strong> bữa tiệc đấy!</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td>Yeah, same!... Oops! <strong>What time is it</strong>?</td>
            <td>Ừ, tôi cũng thế!... Ối! <strong>Mấy giờ rồi</strong>?</td>
          </tr>
          <tr class="row">
            <td>Robert</td>
            <td><strong>It's 10:30</strong>.</td>
            <td>
              <storng>Bây giờ là 10:30</storng>.</td>
          </tr>
          <tr class="row">
            <td>Sharon</td>
            <td><strong>Oh, I've gotta go</strong>. See ya.</td>
            <td><strong>Ồ, tôi phải đi đây</strong>. Hẹn gặp lại.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Why didn’t you Come to My Party?</h4>
  <img src="image/lession-03/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 3.5</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 3.6</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.5 - Slow Speech-Topic 3- Why Didn_t You Come to My Party.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Three friends are talking about how they want to celebra their bỉthdays.</td>
            <td>Ba người bạn đang nói về cách họ muốn tổ chức sinh nhật của mình.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Tom, isn't your <strong>birthday coming up</strong> soon?</td>
            <td>Tom, không phải là <strong>sinh nhật</strong> cậu <strong>sắp tới</strong> sao?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Yeah, it's March 21st.</td>
            <td>Đúng, vào ngày 21 tháng 3.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>And you're turning... 43?</td>
            <td>Và cậu đang bước sang tuổi... 43?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>37, <strong>I was born in</strong> 1981.</td>
            <td>37. <strong>Tôi sinh năm</strong> 1981.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Well, are we going to have a big party?</td>
            <td>Vậy, chúng ta sẽ có một bữa tiệc lớn chứ?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>No, I think this year my girlfriend and I are going to the beach for a <strong>romantic</strong> weekend <strong>together</strong>.</td>
            <td>Không tôi nghĩ năm nay tôi và bạn gái sẽ đi biển cho một cuối tuần <strong>lãng mạn bên nhau</strong>.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Oh, okay!... Liam, <strong>when is your birthday</strong> again?</td>
            <td>Ồ, được rồi!... Liam, <strong>khi nào sinh nhật cậu</strong> ấy nhỉ?</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>It's on February 19th, so about <strong>a month away</strong>.</td>
            <td>Ngày 19 tháng 2, vậy khoảng <strong>một tháng nữa</strong>.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Awesome! How are we going to <strong>celebrate</strong>?</td>
            <td>Tuyệt vời! Chúng ta sẽ <strong>chúc mừng</strong> như thế nào đây?</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>I always just celebrate my birthday with my family .I don't like big parties or bars.</td>
            <td>Tôi luôn luôn chỉ tổ chức sinh nhật với gia đình mình. Tôi không thích những bữa tiệc lớn hay các quán bar.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td><strong>No offense</strong>, but you guys are <strong>boring</strong>. I always <strong>throw a huge party</strong> for my birthday!</td>
            <td><strong>Không có ý gì đâu</strong>, nhưng các cậu thật <strong>nhàm chán</strong>. Tôi luôn luôn <strong>tổ chức một bữa tiệc lớn</strong> cho sinh nhật của tôi!</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>When is your birthday, Christina?</td>
            <td>Khi nào sinh nhật cậu, Christina?</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>It was last week, the 10th.</td>
            <td>Vào tuần trước ngày mùng 10.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>The party was <strong>great, wasn't it</strong>?</td>
            <td>Bữa tiệc hẳn là <strong>tuyệt vời phải không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>No, it wasn't. Nobody <strong>showed up</strong>.</td>
            <td>Không, không hề. Không ai <strong>xuất hiện</strong> cả.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 16 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.6 - Native Speech - Topic 3 - Why Didn_t You Come to My Party.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Three friends are talking about how they want to celebra their bỉthdays.</td>
            <td>Ba người bạn đang nói về cách họ muốn tổ chức sinh nhật của mình.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Tom, isn't your <strong>birthday coming up</strong> soon?</td>
            <td>Tom, không phải là <strong>sinh nhật</strong> cậu <strong>sắp tới</strong> sao?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>Yeah, it's March 21st.</td>
            <td>Đúng, vào ngày 21 tháng 3.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>And you're turning... 43?</td>
            <td>Và cậu đang bước sang tuổi... 43?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>37, <strong>I was born in</strong> 1981.</td>
            <td>37. <strong>Tôi sinh năm</strong> 1981.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Well, are we going to have a big party?</td>
            <td>Vậy, chúng ta sẽ có một bữa tiệc lớn chứ?</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>No, I think this year my girlfriend and I are going to the beach for a <strong>romantic</strong> weekend <strong>together</strong>.</td>
            <td>Không tôi nghĩ năm nay tôi và bạn gái sẽ đi biển cho một cuối tuần <strong>lãng mạn bên nhau</strong>.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Oh, okay!... Liam, <strong>when is your birthday</strong> again?</td>
            <td>Ồ, được rồi!... Liam, <strong>khi nào sinh nhật cậu</strong> ấy nhỉ?</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>It's on February 19th, so about <strong>a month away</strong>.</td>
            <td>Ngày 19 tháng 2, vậy khoảng <strong>một tháng nữa</strong>.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>Awesome! How are we going to <strong>celebrate</strong>?</td>
            <td>Tuyệt vời! Chúng ta sẽ <strong>chúc mừng</strong> như thế nào đây?</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>I always just celebrate my birthday with my family .I don't like big parties or bars.</td>
            <td>Tôi luôn luôn chỉ tổ chức sinh nhật với gia đình mình. Tôi không thích những bữa tiệc lớn hay các quán bar.</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td><strong>No offense</strong>, but you guys are <strong>boring</strong>. I always <strong>throw a huge party</strong> for my birthday!</td>
            <td><strong>Không có ý gì đâu</strong>, nhưng các cậu thật <strong>nhàm chán</strong>. Tôi luôn luôn <strong>tổ chức một bữa tiệc lớn</strong> cho sinh nhật của tôi!</td>
          </tr>
          <tr class="row">
            <td>Liam</td>
            <td>When is your birthday, Christina?</td>
            <td>Khi nào sinh nhật cậu, Christina?</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>It was last week, the 10th.</td>
            <td>Vào tuần trước ngày mùng 10.</td>
          </tr>
          <tr class="row">
            <td>Tom</td>
            <td>The party was <strong>great, wasn't it</strong>?</td>
            <td>Bữa tiệc hẳn là <strong>tuyệt vời phải không</strong>?</td>
          </tr>
          <tr class="row">
            <td>Christina</td>
            <td>No, it wasn't. Nobody <strong>showed up</strong>.</td>
            <td>Không, không hề. Không ai <strong>xuất hiện</strong> cả.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <a href="index.php?directional=lession3-day15"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession3-day17"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>