<div class="col-lg-9">
  <h2>Ngày 20 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-03/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 3.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 3.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 3.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 03 - Time || Ngày 20 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.8 - Rapid Response - Topic 1 - The Triathlete.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Who is doing a triathlon next week?</strong></th>
            <th class="col-lg-5"><strong>Ai sẽ tham gia cuộc thi ba môn phối hợp?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson.</td>
            <td>Jackson.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson is doing a triathlon next week.</td>
            <td>Jackson sẽ tham gia cuộc thi ba môn phối hợp trong tuần tới.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>What time does Jackson get up everyday?</strong></td>
            <td><strong>Hàng ngày Jackson thức dậy lúc mấy giờ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answwer</td>
            <td>By 4:30 or 5:00.</td>
            <td>Lúc 4:30 hoặc 5:00.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson gets up by 4:30 or 5:00 early everyday.</td>
            <td>Jackson thức dậy sớm vào lúc 4:30 hoặc 5:00 hàng ngày.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Jackson do before it's time to go to work?</strong></td>
            <td><strong>Jackson làm gì trước đến lúc anh ấy đi làm?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He runs and swims.</td>
            <td>Anh ấy chạy và bơi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson runs and them swims before it's time to go to work.</td>
            <td>Jackson chạy và sau đó bơi trước lúc đi làm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Jackson run for two hours?</strong></td>
            <td><strong>Có phải Jackson chạy trong hai tiếng không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn't.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Jackson runs for about an hour.</td>
            <td>Không, Jackson chạy trong khoảng 1 giờ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Is there a pool near Jackson's office?</strong></td>
            <td><strong>Có một hồ bơi gần văn phòng của jackson phải không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, there is.</td>
            <td>Vâng, có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Thankfully, there is a pool near Jackson's office.</td>
            <td>Rất may, có một hồ bơi gần văn phòng của Jackson.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>When does Jackson cycle?</strong></td>
            <td><strong>Khi nào Jackson đạp xe?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>On the weekends.</td>
            <td>Vào cuối tuần.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson cycles on the weekends.</td>
            <td>Jackson đạp xe vào cuối tuần.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>How does Jackson spend his Saturday and Sunday?</strong></td>
            <td><strong>Jackson dành thứ bảy và Chủ nhật làm gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He spends them cycling.</td>
            <td>Anh ấy dành chúng để đạp xe.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson spends pretty much all of Saturday and Sunday cycling.</td>
            <td>Jackson dành gần như tất cả thứ bảy và chủ nhật để đạp xe.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Where does Jackson cycle on his weekends?</strong></td>
            <td><strong>Jackson đạp xe vào cuối tuần ở đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Around his neighborhood.</td>
            <td>Quanh khu phố của mình.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jackson cycles on Saturday and Sunday around his neighborhood.</td>
            <td>Jackson đạp xe vào thứ bảy và chủ nhật quanh khu phố của mình.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>On rainy days, does Jackson swim or go to the gym?</strong></td>
            <td><strong>Vào những ngày mưa, Jackson bơi hay đi đến phòng tập thể dục?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He goes to the gym.</td>
            <td>Anh ấy đi đến phòng tập thể dục.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>On rainy days, Jackson goes to the gym.</td>
            <td>Vào những ngày mưa Jackson đi đến phòng tập thể dục.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Jackson use in the gym on rainy days?</strong></td>
            <td><strong>Jackson sử dụng thiết bị gì trong phòng tập thể dục vào những ngày mưa?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He uses an exercise bike.</td>
            <td>Anh ấy sử dụng một chiếc xe đạp tập thể dục.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>On rainy days, Jackson uses an exercise bike.</td>
            <td>Trong những ngày mưa, Jackson sử dụng một chiếc xe đạp tập thể dục ở phòng tập thể dục.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Who wishes Jackson good luck?</strong></td>
            <td><strong>Ai chúc Jackson may mắn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Janet.</td>
            <td>Đó là Janet.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Janet wishes Jackson good luck.</td>
            <td>Janet chúc Jackson may mắn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Jackson have a workout buddy?</strong></td>
            <td><strong>Jackson có bạn tập không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Not yet.</td>
            <td>Chưa có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn't.</td>
            <td>Không, anh ấy không có.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 03 - Time || Ngày 20 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.9 - Rapid Response - Topic 2 - Invitation to What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Who is having a party?</strong></th>
            <th class="col-lg-5"><strong>Ai đang có một bữa tiệc?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Robert.</td>
            <td>Đó là Robert.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Robert is having a party.</td>
            <td>Robert đang có một bữa tiệc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Robert inviting Sharon to a dinner or a party?</strong></td>
            <td><strong>Robert đang mời Sharon đi ăn tối hay ăn tiệc?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A party.</td>
            <td>Một bữa tiệc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Robert is inviting Sharon to a party.</td>
            <td>Robert đang mời Sharon đến một bữa tiệc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>What time will Robert pick Sharon up to his party?</strong></td>
            <td><strong>Mấy giờ Robert đón Sharon đến bữa tiệc của anh ấy?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>At 7 o'clock.</td>
            <td>Lúc 7 giờ..</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Robert will pick Sharon up at seven.</td>
            <td>Robert sẽ đón Sharon lúc 7 giờ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Sharon free for Robert's party?</strong></td>
            <td><strong>Sharon có rảnh cho bữa tiệc của Robert không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, she's not.</td>
            <td>Không, cô ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Sharon isn't free for Robert's party.</td>
            <td>Không, Sharon không rảnh cho bữa tiệc của Robert.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Why is Sharon busy tomorrow?</strong></td>
            <td><strong>Tại sao Sharon bận ngày mai?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because she's going to a real party.</td>
            <td>Bởi vì cô ấy sẽ tham gia một bữa tiệc thực sự.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Sharon is going to a real party, that's why she's busy tomorrow.</td>
            <td>Sharon sẽ tham gia một bữa tiệc thực sự, đó là lý do tại sao cô ấy bận rộn ngày mai.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Robert mean when saying "Maybe another time"?</strong></td>
            <td><strong>Robert có ý gì khi nói rằng "Có lẽ để một dịp khác"?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He means that can invite Sharon to his party another day.</td>
            <td>Ý anh ấy là anh ấy có thể mời Sharon đến bữa tiệc của mình vào một ngày khác.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Saying "Maybe another time" Robert means that he can go out with Sharon another time when She's not busy.</td>
            <td>Khi nói "có lẽ để một dịp khác", ý anh ấy là anh ấy có thể hẹn với Sharon một dịp khác khi cô ấy không bận rộn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Did Robert accept Sharon's invitation to come with her to the party?</strong></td>
            <td><strong>Robert có chấp nhận lời mời cùng tham gia bữa tiệc của cô ấy không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he did.</td>
            <td>Vâng, anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Roberts accepted Sharon's invitation to come with her to the party.</td>
            <td>Vâng, Robert chấp nhận lời mời cùng tham gia bữa tiệc của Sharon.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Should Robert wear a suit to the party?</strong></td>
            <td><strong>Robert có nên mặc một bộ véc đến bữa tiệc không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he shouldn't.</td>
            <td>Không, anh ấy không nên.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he should wear a swimsuit.</td>
            <td>Không, anh ấy nên mặc một bộ quần áo tắm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Why should Robert wear a swimsuit to the party?</strong></td>
            <td><strong>Tại sao Robert nên mặc một bộ quần áo tắm đến bữa tiệc?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because it's a pool party.</td>
            <td>Bởi vì nó là một bữa tiệc hồ bơi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Robert should wear a swimsuit to the party because there's a pool.</td>
            <td>Robert nên mặc một bộ quần áo tắm đến bữa tiệc bởi vì có một hồ bơi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Who's looking forward to going to the pool party?</strong></td>
            <td><strong>Ai mong đợi đến bữa tiệc hồ bơi?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Robert.</td>
            <td>Đó là Robert.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Robert is looking forward to going to the pool party.</td>
            <td>Robert mong đợi đến bữa tiệc hồ bơi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>What time is the Robert's party?</strong></td>
            <td><strong>Bữa tiệc hồ bơi diễn ra lúc mấy giờ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's 8 o'clock.</td>
            <td>Lúc 8 giờ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The party is at 8 o'clock.</td>
            <td>Bữa tiệc diễn ra lúc 8 giờ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is busy and has to go?</strong></td>
            <td><strong>Ai bận rộn và phải đi rồi?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Sharon.</td>
            <td>Đó là Sharon.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Sharon has to go.</td>
            <td>Sharon phải đi rồi.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 03 - Time || Ngày 20 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.10 - Rapid Response - Topic 3 - Why didn_t you come to my party.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>When is Tom's birthday?</strong></th>
            <th class="col-lg-5"><strong>Khi nào đến sinh nhật của Tôm?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>March 21st.</td>
            <td>21 tháng 3.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom's birthday is on the 21st of March.</td>
            <td>Sinh nhật của Tom là ngày 21 tháng 3.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Tom turning 43 or 37?</strong></td>
            <td><strong>Tom đang bước sang tuổi 43 hay 37?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>37.</td>
            <td>37.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom is turning 37.</td>
            <td>Tom đang bước sang tuổi 37.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>When was Tom born?</strong></td>
            <td><strong>Tom được sinh ra khi nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In 1981.</td>
            <td>Vào năm 1981.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom was born in 1981.</td>
            <td>Tom sinh năm 1981.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Tom having a big party for his birthday?</strong></td>
            <td><strong>Có phải Tom đang có một bữa tiệc lớn cho sinh nhật của mình không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No , he isn't.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he is going with his girlfriend to the beach for a romantic together</td>
            <td>Không, anh ấy đang đi với bạn gái mình đến biển đề có một cuối tuần lãng mạn bên nhau.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>When is Liam's birthday?</strong></td>
            <td><strong>Khi nào đến sinh nhật của Liam?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>About a month aways.</td>
            <td>Khoảng một tháng nữa.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Liam's birthday is on the 19th of February.</td>
            <td>Sinh nhật của Liam là ngày 19 tháng 2.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>How is Liam going to celebrate his birthday?</strong></td>
            <td><strong>Liam sẽ kỷ niệm sinh nhật của mình như thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>With his family.</td>
            <td>Với gia đình anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Liam is going to celebrate his birthday with his family.</td>
            <td>Liam sẽ kỷ niệm sinh nhật của mình với gia đình.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Liam like big parties or bars?</strong></td>
            <td><strong>Liam có thích các bữa tiệc lớn hay quán bar không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn't.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Liam doesn't like big parties or bars.</td>
            <td>Không, Liam không thích các bữa tiệc lớn hay quán bar.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is boring?</strong></td>
            <td><strong>Ai nhàm chán?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom and Liam.</td>
            <td>Tom và Liam.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Tom and Liam are boring.</td>
            <td>Tom và Liam thật buồn chán.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Who always throws a huge party for her birthday?</strong></td>
            <td><strong>Ai luôn luôn tổ chức một bữa tiệc lớn cho sinh nhật của mình?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Christina.</td>
            <td>Đó là Christina.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Christina always throws a huge party for her birthday.</td>
            <td>Christina luôn tổ chức một bữa tiệc lớn cho sinh nhật của mình.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Was Christina's birthday party a great one?</strong></td>
            <td><strong>Bữa tiệc sinh nhật của Christina có phải là một bữa tiệc tuyệt vời không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, it wasn't.</td>
            <td>Không, nó không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Christina's birthday party wasn't a great one.</td>
            <td>Không, bữa tiệc sinh nhật của Christina không phải là một bữa tiệc tuyệt vời.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>How many people showed up to Christina's birthday party?</strong></td>
            <td><strong>Bao nhiêu người đã đến tiệc sinh nhật của Christina?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No one.</td>
            <td>Không có ai.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No one showed up to Christina's birthday party.</td>
            <td>Không ai đến tiệc sinh nhật của Christina.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Whose birthday was last week?</strong></td>
            <td><strong>Sinh nhật ai vào cuối tuần trước?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Christina's.</td>
            <td>Đó là của Christina.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Christina's brithday was last week.</td>
            <td>Sinh nhật Christina là cuối tuần trước.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 3.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 03 - Time || Ngày 20 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 03 - TIME/Recording 3.11 - Production.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau phần thực hành này, bạn sẽ vận dụng một cách tự nhiên hơn khi nói về thói quen buổi sáng, lên kế hoạch cho một dịp và ngày nhất định và nói về sinh nhật của mình</h5>


  <div>
    <a href="index.php?directional=lession3-day19"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession3-day21"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>