<div class="col-lg-9">
  <h2>Ngày 04 - Phản xạ đa chiều - Where Do You Live?</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/l1-d1-topic2.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 1.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 04 - Phản xạ đa chiều - Where Do You Live?
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: Introducing a Friend</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Meet(v)</td>
            <td>Gặp, Gặp gỡ</td>
            <td>Nice to <strong>meet</strong> you, Peter.</td>
          </tr>
          <tr class="row">
            <td>Holiday(n)</td>
            <td>Kỳ nghỉ</td>
            <td>I'm just here on <strong>holiday</strong>.</td>
          </tr>
          <tr class="row">
            <td>Spell(v)</td>
            <td>Đánh vần</td>
            <td>How do you
              <trong>Spell</trong> that?</td>
          </tr>
          <tr class="row">
            <td>Australian(n)</td>
            <td>Úc, nước Úc</td>
            <td>- Are you from arround here?<br>- No, Australian</td>
          </tr>
          <tr class="row">
            <td>Mateys(n)</td>
            <td>Bạn<br>( Một từ khác chỉ bạn bè )</td>
            <td>Good day , <strong>mateys</strong></td>
          </tr>
          <tr class="row">
            <td>Peace(n)</td>
            <td>Lời chào tạm biệt</td>
            <td>- Good day, mateys<br>- Peace</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>How's it going?</td>
            <td>Dạo này thế nào?</td>
            <td>Hey, Peter! <strong>How's it going</strong>?</td>
          </tr>
          <tr class="row">
            <td>How are you?</td>
            <td>Bạn khỏe không?</td>
            <td>Hi, Anna! Good. <strong>How are you</strong>?</td>
          </tr>
          <tr class="row">
            <td>This is...</td>
            <td>Đây là...</td>
            <td><strong>This is</strong> my friend , Felice Lachlan. <strong>This is</strong> Peter.</td>
          </tr>
          <tr class="row">
            <td>How do you spell that?</td>
            <td>Bạn đánh vần nó như nào?</td>
            <td>That's a pretty name. <strong>How do you spell that</strong>?</td>
          </tr>
          <tr class="row">
            <td>Hit the books.</td>
            <td>Học hành chăm chỉ.</td>
            <td>Yeah, me too. Gotta <strong>hit the books</strong>, as they say.</td>
          </tr>
          <tr class="row">
            <td>It was the meeting you.</td>
            <td>Rất vui được gặp bạn.</td>
            <td>It was the meeting you, Peter.</td>
          </tr>
          <tr class="row">
            <td>Catch ya later!</td>
            <td>Hẹn gặp lại sau!</td>
            <td><strong>Catch ya later!</strong></td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: Where do you live?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Staying(v)</td>
            <td>Ở lại, lưu lại</td>
            <td>No, I'm british. Where are you <strong>staying</strong>?</td>
          </tr>
          <tr class="row">
            <td>Business card(n)</td>
            <td>Danh thiếp</td>
            <td>I'll check. Do you have a <strong>business card</strong>?</td>
          </tr>
          <tr class="row">
            <td>employee(n)</td>
            <td>Nhân viên</td>
            <td>Are you the new <strong>employee</strong>?</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>You can call me</td>
            <td>Cậu có thể gọi tôi là..</td>
            <td>My name is Jennifer, but <strong>you can call me</strong> Jennie.</td>
          </tr>
          <tr class="row">
            <td>Where are you from?</td>
            <td>Cậu đến từ đâu?</td>
            <td>My name is Jennifer, but you can call me Jennie. <strong>Where are you from</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm from Japan</td>
            <td>Tôi đến từ nhật bản</td>
            <td><strong>I'm from Japan</strong>. Are you American?</td>
          </tr>
          <tr class="row">
            <td>Where are you staying?</td>
            <td>Cậu đang ở đâu?</td>
            <td>No, I'm brisish, <strong>Where are you staying</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm staying in...</td>
            <td>Tôi đang ở...</td>
            <td><strong>I'm staying in</strong> a Hotel, but I'm looking for an apartment</td>
          </tr>
          <tr class="row">
            <td>Where do you live?</td>
            <td>Chị sống ở đâu?</td>
            <td>I'm staying in a Hotel, but I'm looking for an apartment. <strong>Where do you live</strong>?</td>
          </tr>
          <tr class="row">
            <td>I live by...</td>
            <td>Tôi sống gần...</td>
            <td><strong>I live by</strong> the park. It's a very nice, safe, quiet place</td>
          </tr>
          <tr class="row">
            <td>contact me via</td>
            <td>liên lạc tôi qua</td>
            <td>Sorry, not yet, but you can <strong>contact me via</strong> Yoshi1@gmail.com or at this phone munber, 215-034-6890. My phone doesn't have 7. I always try to avoid 7</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: What is your job?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Expert(n)</td>
            <td>Chuyên gia</td>
            <td>Can I check? I'm sort of an <strong>expert</strong></td>
          </tr>
          <tr class="row">
            <td>Doctor(n)</td>
            <td>Bác sĩ</td>
            <td>Wow, really. Are you a <strong>doctor</strong>?</td>
          </tr>
          <tr class="row">
            <td>Foot doctor(n)</td>
            <td>Bác sĩ chuyên chân</td>
            <td>- Are you a doctor<br>- I'm a <strong>foot doctor</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tailor(n)</td>
            <td>- Wait, Are you sewing them?<br>- I also work as a <strong>tailor</strong></td>
            <td></td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Look beat</td>
            <td>Trông mệt mỏi</td>
            <td>You <strong>look beat</strong>. What's wrong?</td>
          </tr>
          <tr class="row">
            <td>i'm sort of</td>
            <td>Phần nào ,đại loại</td>
            <td>Can I check?<strong>I'm sort of</strong> an expert</td>
          </tr>
          <tr class="row">
            <td>Are you a doctor?</td>
            <td>Anh là một bác sĩ?</td>
            <td>Wow, really? <strong>Are you a doctor</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm a foot doctor</td>
            <td>Tôi là bác sĩ chuyên chân</td>
            <td>Yes, <strong>I'm a foot doctor</strong></td>
          </tr>
          <tr class="row">
            <td>It's very kind of you</td>
            <td>Anh thật tốt bụng</td>
            <td>Great. It's very kind of you</td>
          </tr>
          <tr class="row">
            <td>Work as</td>
            <td>làm việc như..</td>
            <td>Yes, I also work as a tailor</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 02</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 1.4</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 1.4</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 04 - Phản xạ đa chiều - Where Do You Live?
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.4 - Native speech - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Jennifer meets Yoshi, a newcomer for the first time, so she’s eager to know more about him.</td>
            <td>Jennifer lần đầu tiên gặp Yoshi, một nhân viên mới, vì thế cô ấy háo hức muốn biết thêm về anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Are you the new employee?</td>
            <td>Cậu có phải là nhân viên mới không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Yes, I am Yoshi</td>
            <td>Đúng, tôi là Yoshi.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>My name is Jennifer. But <strong>you can call me</strong> Jennie. <strong>Where are you form</strong>?</td>
            <td>Tôi tên là Jennifer. Nhưng <strong>cậu có thể gọi tôi là</strong> Jennie. <strong>Cậu đến từ đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm form Japan</strong>. Are you American?</td>
            <td><strong>Tôi đến từ Nhật Bản</strong>. Chị có phải người Mỹ không?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>No, I'm British. <strong>Where are you staying</strong>?</td>
            <td>Không. Tôi là người Anh. <strong>Cậu đang ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm staying in Hotel</strong>, but I'm looking for an apartment. <strong>Where do you live</strong>?</td>
            <td><strong>Tôi đang ở khách sạn</strong>, nhưng tôi đang tìm kiếm một căn hộ. <strong>Chị sống ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td><strong>I live by</strong> the park. It's a <strong>very nice, safe and quiet place</strong>. </td>
            <td><strong>Tôi sống gần</strong> công viên. Đó là nơi <strong>rất tốt, an toàn và yên tĩnh</strong>.</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>That's Great. My room is <strong>quite noisy</strong>.</td>
            <td>Thật tuyệt. Phòng của tôi thì <strong>khá ồn ào</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Well, I <strong>prefer</strong> quiet places</td>
            <td>Chà, Tôi <strong>thích hơn</strong> nơi yên tĩnh</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>Same here</strong>. Are there any apartment available by the park?.</td>
            <td><strong>Tôi cũng thế</strong>. Có căn hộ nào gần công viên không?.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>I'll check. Do you have a <strong>business card</strong>?</td>
            <td>Tôi sẽ kiểm tra. Cậu có <strong>danh thiếp</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Sorry, not yet, but <strong>you can contact me via</strong> Yoshi1@Gmail.com or at this phone number, 215-034-6890. My phone number doesn't have 7. I always try to avoid 7.</td>
            <td>Xin lỗi, tôi chưa có, nhưng <strong>bạn có thể liên lạc với tôi qua</strong> địa chỉ Yoshi1@Gmail.com hoặc số điện thoại 215-034-6890. Số điện thoại của tôi không có số 7. Tôi luôn tránh 7</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Oh. Why?</td>
            <td>Oh, Tại sao?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Because 7 "eat" 9.</td>
            <td>Bởi vì 7 "ăn" 9.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo Recording 1.9 từ 5-7 lần cho đến khi bạn phản xạ trả lời ngắn toàn bộ các câu hỏi của người bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 04 - Phản xạ đa chiều - Where Do You Live?
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.9 - Rapid Response - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Who is the new Employee?</strong></th>
            <th class="col-lg-5"><strong>Ai là nhân viên mới</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi is the new employee.</td>
            <td>Yoshi là nhân viên mới.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The new employee is Yoshi.</td>
            <td>Nhân viên mới là Yoshi.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Where is Yoshi form?</strong></td>
            <td><strong>Yoshi đến từ đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Japan.</td>
            <td>Nhật bản.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi come form Japan.</td>
            <td>Yoshi đến từ Nhật Bản.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Jennifer American?</strong></td>
            <td><strong>Jennifer có phải là người mỹ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, She is British.</td>
            <td>Không, Cô ấy là người anh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Jennifer isn't American.</td>
            <td>Không, Jennifer không phải người Mỹ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Yoshi staying with Jennifer?</strong></td>
            <td><strong>Yoshi ở cùng với Jennifer không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, He isn't.</td>
            <td>Không, Anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Yoshi is staying in a hotel.</td>
            <td>Không, Yoshi đang ở một khách sạn.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Where does Jennifer live?</strong></td>
            <td><strong>Jennifer sống ở đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>By the park.</td>
            <td>Gần công viên.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She lives in the park area.</td>
            <td>Cô ấy sống ở khu vực công viên.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Yoshi stay in a noisy hotel room?</strong></td>
            <td><strong>Yoshi đang ở trong một căn phòng khách sạn ồn ào không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he does.</td>
            <td>Đúng, anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Yoshi stay in a noisy hotel room.</td>
            <td>Đúng, Yoshi sống ở một căn phòng khách sạn ồn ào.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Which place does Jennifer perfer?</strong></td>
            <td><strong>Jennifer thích ở nơi nào hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She prefers quiet ones.</td>
            <td>Cô ấy thích nơi yên tĩnh hơn.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jennifer prefers quiet places.</td>
            <td>Jennifer thích địa điểm yên tĩnh hơn.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Yoshi looking for an apartment?</strong></td>
            <td><strong>Yoshi có đang tìm kiếm một căn hộ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he is.</td>
            <td>Có, Anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Yoshi looking for an apartment.</td>
            <td>Có, Yoshi đang tìm kiếm một căn hộ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>What's Yoshi's phone number?</strong></td>
            <td><strong>Số điện thoại Yoshi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's 215-034-6890.</td>
            <td>Đó là 215-034-6890.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi's phone number is 215-034-6890.</td>
            <td>Số điện thoại của Yoshi là 215-034-6890.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Yoshi's email address?</strong></td>
            <td><strong>Địa chỉ Email của Yoshi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Yoshi1@Gmail.com.</td>
            <td>Đó là Yoshi1@Gmail.com.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi's email address is Yoshi1@gmail.com.</td>
            <td>Địa chỉ email của Yoshi là Yoshi1@gmail.com.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong> Does Yoshi have a business card?</strong></td>
            <td><strong>Yoshi có danh thiếp không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Not yet</td>
            <td>Chưa có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Yoshi doesn't have a business card.</td>
            <td>Không, Yoshi không có danh thiếp.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>How is the park?</strong></td>
            <td><strong>Công viên là nơi thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's a nice, safe and quiet.</td>
            <td>Nó đẹp, an toàn và yên tĩnh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The park is a very nice, safe and quiet place.</td>
            <td>Công viên là một nơi đẹp , an toàn và yên tĩnh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession1-day3"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession1-day5"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>