<div class="col-lg-9">
  <h2>Ngày 01 - Nghe ngấm</h2>
  <h4>Topic 01: Introducing a Friend</h4>
  <img src="image/l1-d1-topic1.png" alt="" width="800px" height="200px">
  <h4>Bước 1: Nghe làm quen</h4>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.1- Slow speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nghe ngấm tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe lại Recording 1.1 từ 3-5 lần: Sử dụng giáo trình, bản dịch và từ điển nếu cần. Mục tiêu bước này, hiểu trọn vẹn nội dung.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nhắm mắt và nghe lại Recording 1.1 thêm 1 lần. Sau đó tưởng tượng lại phần thoại. Bạn đã hiểu hết nội dung? Nếu chưa, hãy nghe lại. Nếu rồi, chuyển sang bước tiếp theo.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.1- Slow speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Việt</th>
            <th class="col-lg-5">Tiếng Anh</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Anna and Felice are walking out of the library, when they suddenly bump into Peter.</td>
            <td>Anna và Felice đang đi ra khỏi thư viện thì bất ngờ gặp Peter.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Hey Peter, <strong>How's it going</strong>?</td>
            <td>Chào Peter, <strong>Dạo này thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Hi, Anna! Good. <strong>How are you</strong>?</td>
            <td>Chào, Anna! Tôi tốt. <strong>Cậu khỏe không</strong>?.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Great! <strong>This is</strong> my friends, Felice Lachlan. Felice, this is Peter.</td>
            <td>Tuyệt quá! <strong>Đây là</strong> bạn tôi Felice Lachlan. Felice, đây là Peter</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>Nice to meet you</strong>, Peter.</td>
            <td><strong>Rất vui được gặp cậu</strong>, Peter</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Nice to meet you too, Felice. That's a pretty name. <strong>How do you spell that</strong>?</td>
            <td>Rất vui được gặp cậu, Felice.Đó là một cái tên đẹp. <strong>Cậu đánh vần nó thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>F.E.L.I.C.E. It <strong>means</strong> "Happy" in Latin.</td>
            <td>F.E.L.I.C.E. Nó <strong>có nghĩa</strong> là "Hạnh phúc" trong tiếng Latin.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Oh. Are you Latin?</td>
            <td>Oh. Cậu là người Latin à?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>No.But i am Happy</td>
            <td>Không. Nhưng tôi hạnh phúc.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Are you from arround here?</td>
            <td>Cậu sống gần đây à?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>No, <strong>Australia</strong>. I'm just here <strong>Holiday</strong>.</td>
            <td>Không, Tôi ở <strong>úc</strong>. Tôi chỉ đến đây vào <strong>kỳ nghỉ</strong>.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Well. We'd better get going</td>
            <td>Nào. Chúng ta đi thôi</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Yeah, me too. Gotta <strong>hit the books</strong>. As they say.</td>
            <td>Ừ, tôi cũng nghĩ thế. Đi <strong>học chăm chỉ</strong> thôi nào</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>It was great meeting you</strong>, Peter.</td>
            <td><strong>Thật tuyệt khi gặp cậu</strong>, Peter.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>You too, Felice.</td>
            <td>Thật tuyệt khi gặp cậu, Felice.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td><strong>Catch ya later</strong>!</td>
            <td><strong>Hẹn gặp lại</strong>!</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Good day, <strong>Mateys</strong>!</td>
            <td>Chúc <strong>các cậu</strong> một ngày tốt lành!</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>Peace</strong>.</td>
            <td><strong>Tạm biệt</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 3: Nghe ngấm tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 1.2 từ 5-7 lần, cho tới khi bạn thấy dễ dàng trong việc nghe và hiểu toàn bộ các câu ở tốc độ này.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.2 - Native speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Anna and Felice are walking out of the library, when they suddenly bump into Peter.</td>
            <td>Anna và Felice đang đi ra khỏi thư viện thì bất ngờ gặp Peter.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Hey Peter, <strong>How's it going</strong>?</td>
            <td>Chào Peter, <strong>Dạo này thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Hi, Anna! Good. <strong>How are you</strong>?</td>
            <td>Chào, Anna! Tôi tốt. <strong>Cậu khỏe không</strong>?.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Great! <strong>This is</strong> my friends, Felice Lachlan. Felice, this is Peter.</td>
            <td>Tuyệt quá! <strong>Đây là</strong> bạn tôi Felice Lachlan. Felice, đây là Peter</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>Nice to meet you</strong>, Peter.</td>
            <td><strong>Rất vui được gặp cậu</strong>, Peter</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Nice to meet you too, Felice. That's a pretty name. <strong>How do you spell that</strong>?</td>
            <td>Rất vui được gặp cậu, Felice.Đó là một cái tên đẹp. <strong>Cậu đánh vần nó thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>F.E.L.I.C.E. It <strong>means</strong> "Happy" in Latin.</td>
            <td>F.E.L.I.C.E. Nó <strong>có nghĩa</strong> là "Hạnh phúc" trong tiếng Latin.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Oh. Are you Latin?</td>
            <td>Oh. Cậu là người Latin à?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>No.But i am Happy</td>
            <td>Không. Nhưng tôi hạnh phúc.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Are you from arround here?</td>
            <td>Cậu sống gần đây à?</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td>No, <strong>Australia</strong>. I'm just here <strong>Holiday</strong>.</td>
            <td>Không, Tôi ở <strong>úc</strong>. Tôi chỉ đến đây vào <strong>kỳ nghỉ</strong>.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td>Well. We'd better get going</td>
            <td>Nào. Chúng ta đi thôi</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Yeah, me too. Gotta <strong>hit the books</strong>. As they say.</td>
            <td>Ừ, tôi cũng nghĩ thế. Đi <strong>học chăm chỉ</strong> thôi nào</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>It was great meeting you</strong>, Peter.</td>
            <td><strong>Thật tuyệt khi gặp cậu</strong>, Peter.</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>You too, Felice.</td>
            <td>Thật tuyệt khi gặp cậu, Felice.</td>
          </tr>
          <tr class="row">
            <td>Anna</td>
            <td><strong>Catch ya later</strong>!</td>
            <td><strong>Hẹn gặp lại</strong>!</td>
          </tr>
          <tr class="row">
            <td>Peter</td>
            <td>Good day, <strong>Mateys</strong>!</td>
            <td>Chúc <strong>các cậu</strong> một ngày tốt lành!</td>
          </tr>
          <tr class="row">
            <td>Felice</td>
            <td><strong>Peace</strong>.</td>
            <td><strong>Tạm biệt</strong>.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: Where Do You Live?</h4>
  <img src="image/l1-d1-topic2.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng Recording 1.3 cho bước 1 – Nghe làm quen và bước 2 – Nghe ngấm tốc độ Slow Speech.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng Recording 1.4, thực hiện tương tự các hoạt động trong bước 3 – Nghe ngấm tốc độ Native Speech như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.3 - Slow speech - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Jennifer meets Yoshi, a newcomer for the first time, so she’s eager to know more about him.</td>
            <td>Jennifer lần đầu tiên gặp Yoshi, một nhân viên mới, vì thế cô ấy háo hức muốn biết thêm về anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Are you the new employee?</td>
            <td>Cậu có phải là nhân viên mới không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Yes, I am Yoshi</td>
            <td>Đúng, tôi là Yoshi.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>My name is Jennifer. But <strong>you can call me</strong> Jennie. <strong>Where are you form</strong>?</td>
            <td>Tôi tên là Jennifer. Nhưng <strong>cậu có thể gọi tôi là</strong> Jennie. <strong>Cậu đến từ đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm form Japan</strong>. Are you American?</td>
            <td><strong>Tôi đến từ Nhật Bản</strong>. Chị có phải người Mỹ không?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>No, I'm British. <strong>Where are you staying</strong>?</td>
            <td>Không. Tôi là người Anh. <strong>Cậu đang ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm staying in Hotel</strong>, but I'm looking for an apartment. <strong>Where do you live</strong>?</td>
            <td><strong>Tôi đang ở khách sạn</strong>, nhưng tôi đang tìm kiếm một căn hộ. <strong>Chị sống ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td><strong>I live by</strong> the park. It's a <strong>very nice, safe and quiet place</strong>. </td>
            <td><strong>Tôi sống gần</strong> công viên. Đó là nơi <strong>rất tốt, an toàn và yên tĩnh</strong>.</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>That's Great. My room is <strong>quite noisy</strong>.</td>
            <td>Thật tuyệt. Phòng của tôi thì <strong>khá ồn ào</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Well, I <strong>prefer</strong> quiet places</td>
            <td>Chà, Tôi <strong>thích hơn</strong> nơi yên tĩnh</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>Same here</strong>. Are there any apartment available by the park?.</td>
            <td><strong>Tôi cũng thế</strong>. Có căn hộ nào gần công viên không?.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>I'll check. Do you have a <strong>business card</strong>?</td>
            <td>Tôi sẽ kiểm tra. Cậu có <strong>danh thiếp</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Sorry, not yet, but <strong>you can contact me via</strong> Yoshi1@Gmail.com or at this phone number, 215-034-6890. My phone number doesn't have 7. I always try to avoid 7.</td>
            <td>Xin lỗi, tôi chưa có, nhưng <strong>bạn có thể liên lạc với tôi qua</strong> địa chỉ Yoshi1@Gmail.com hoặc số điện thoại 215-034-6890. Số điện thoại của tôi không có số 7. Tôi luôn tránh 7</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Oh. Why?</td>
            <td>Oh, Tại sao?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Because 7 "eat" 9.</td>
            <td>Bởi vì 7 "ăn" 9.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.4 - Native speech - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Jennifer meets Yoshi, a newcomer for the first time, so she’s eager to know more about him.</td>
            <td>Jennifer lần đầu tiên gặp Yoshi, một nhân viên mới, vì thế cô ấy háo hức muốn biết thêm về anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Are you the new employee?</td>
            <td>Cậu có phải là nhân viên mới không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Yes, I am Yoshi</td>
            <td>Đúng, tôi là Yoshi.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>My name is Jennifer. But <strong>you can call me</strong> Jennie. <strong>Where are you form</strong>?</td>
            <td>Tôi tên là Jennifer. Nhưng <strong>cậu có thể gọi tôi là</strong> Jennie. <strong>Cậu đến từ đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm form Japan</strong>. Are you American?</td>
            <td><strong>Tôi đến từ Nhật Bản</strong>. Chị có phải người Mỹ không?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>No, I'm British. <strong>Where are you staying</strong>?</td>
            <td>Không. Tôi là người Anh. <strong>Cậu đang ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>I'm staying in Hotel</strong>, but I'm looking for an apartment. <strong>Where do you live</strong>?</td>
            <td><strong>Tôi đang ở khách sạn</strong>, nhưng tôi đang tìm kiếm một căn hộ. <strong>Chị sống ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td><strong>I live by</strong> the park. It's a <strong>very nice, safe and quiet place</strong>. </td>
            <td><strong>Tôi sống gần</strong> công viên. Đó là nơi <strong>rất tốt, an toàn và yên tĩnh</strong>.</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>That's Great. My room is <strong>quite noisy</strong>.</td>
            <td>Thật tuyệt. Phòng của tôi thì <strong>khá ồn ào</strong>.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Well, I <strong>prefer</strong> quiet places</td>
            <td>Chà, Tôi <strong>thích hơn</strong> nơi yên tĩnh</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td><strong>Same here</strong>. Are there any apartment available by the park?.</td>
            <td><strong>Tôi cũng thế</strong>. Có căn hộ nào gần công viên không?.</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>I'll check. Do you have a <strong>business card</strong>?</td>
            <td>Tôi sẽ kiểm tra. Cậu có <strong>danh thiếp</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Sorry, not yet, but <strong>you can contact me via</strong> Yoshi1@Gmail.com or at this phone number, 215-034-6890. My phone number doesn't have 7. I always try to avoid 7.</td>
            <td>Xin lỗi, tôi chưa có, nhưng <strong>bạn có thể liên lạc với tôi qua</strong> địa chỉ Yoshi1@Gmail.com hoặc số điện thoại 215-034-6890. Số điện thoại của tôi không có số 7. Tôi luôn tránh 7</td>
          </tr>
          <tr class="row">
            <td>Jennifer</td>
            <td>Oh. Why?</td>
            <td>Oh, Tại sao?</td>
          </tr>
          <tr class="row">
            <td>Yoshi</td>
            <td>Because 7 "eat" 9.</td>
            <td>Bởi vì 7 "ăn" 9.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: What is Your Job?</h4>
  <img src="image/l1-d1-topic3.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng Recording 1.5 cho bước 1 – Nghe làm quen và bước 2 – Nghe ngấm tốc độ Slow Speech.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng Recording 1.6, thực hiện tương tự các hoạt động trong bước 3 – Nghe ngấm tốc độ Native Speech như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.5 - Slow speech - Topic 3 - What is your job.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Ellie is dancing passionately. Suddenly, she falls down and twists her ankle.</td>
            <td>Ellie đang nhảy một cách say mê. Đột nhiên, cô ngã xuống và bị trật mắt cá chân.</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>You <strong>look beat</strong>, what's wrong?</td>
            <td>Cô <strong>trông mệt mỏi</strong>, chuyện gì thế?</td>
          </tr>
          <tr class="row">
            <td>Ellie</td>
            <td>My foot hurts. I was dancing and I fell over.</td>
            <td>Chân tôi bị đau. Tôi đang nhảy thì bị ngã.</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>Can I check? <strong>I'm sort of an expert</strong>.</td>
            <td>Tôi có thể kiểm tra không? <strong>Tôi đại loại là một chuyên gia</strong>.</td>
          </tr>
          <tr class="row">
            <td>Ellie</td>
            <td>Wow, ready? <strong>Are you a doctor</strong>?</td>
            <td>Wow, thật sao? <strong>Anh là một bác sĩ</strong>?</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>Yes, <strong>I'm a foot doctor</strong></td>
            <td>Đúng, <strong>Tôi là một bác sĩ về chân</strong></td>
          </tr>
          <tr class="row">
            <td>Ellie</td>
            <td>Great. <strong>It's very kind of you</strong>.</td>
            <td>Tuyệt. <strong>Anh thật tốt bụng</strong>.</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>Hmm...Your foot is OK, but your pants are torn.</td>
            <td>Hmm... Chân của cô thì ổn, nhưng quần của cô bị rách rồi.</td>
          </tr>
          <tr class="row">
            <td>Ellie</td>
            <td>Oh no, this is my pavorite pair. Wait, are you sewing them?</td>
            <td>Oh không, đây là quần yêu thích của tôi. Đợi đã, anh đang khâu nó à?</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>Yes, <strong>I also work as a tailor</strong>.</td>
            <td>Đúng, <strong>Tôi cũng làm việc như một thợ may</strong>.</td>
          </tr>
          <tr class="row">
            <td>Ellie</td>
            <td>I wondering what exactly your job is.</td>
            <td>Tôi đang tự hỏi công việc chính xác của anh là gì.</td>
          </tr>
          <tr class="row">
            <td>Will</td>
            <td>Well, I'm a superman.</td>
            <td>Chà, Tôi là một siêu nhân.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.6 - Native speech - Topic 3 - What is your job.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row success">
            <td></td>
            <td>Ellie is dancing passionately. Suddenly, she falls down and twists her ankle.</td>
            <td>Ellie đang nhảy một cách say mê. Đột nhiên, cô ngã xuống và bị trật mắt cá chân.</td>
          </tr>
          <tr class="row warning">
            <td>Will</td>
            <td>You <strong>look beat</strong>, what's wrong?</td>
            <td>Cô <strong>trông mệt mỏi</strong>, chuyện gì thế?</td>
          </tr>
          <tr class="row info">
            <td>Ellie</td>
            <td>My foot hurts. I was dancing and I fell over.</td>
            <td>Chân tôi bị đau. Tôi đang nhảy thì bị ngã.</td>
          </tr>
          <tr class="row danger">
            <td>Will</td>
            <td>Can I check? <strong>I'm sort of an expert</strong>.</td>
            <td>Tôi có thể kiểm tra không? <strong>Tôi đại loại là một chuyên gia</strong>.</td>
          </tr>
          <tr class="row success">
            <td>Ellie</td>
            <td>Wow, ready? <strong>Are you a doctor</strong>?</td>
            <td>Wow, thật sao? <strong>Anh là một bác sĩ</strong>?</td>
          </tr>
          <tr class="row warning">
            <td>Will</td>
            <td>Yes, <strong>I'm a foot doctor</strong></td>
            <td>Đúng, <strong>Tôi là một bác sĩ về chân</strong></td>
          </tr>
          <tr class="row info">
            <td>Ellie</td>
            <td>Great. <strong>It's very kind of you</strong>.</td>
            <td>Tuyệt. <strong>Anh thật tốt bụng</strong>.</td>
          </tr>
          <tr class="row danger">
            <td>Will</td>
            <td>Hmm...Your foot is OK, but your pants are torn.</td>
            <td>Hmm... Chân của cô thì ổn, nhưng quần của cô bị rách rồi.</td>
          </tr>
          <tr class="row success">
            <td>Ellie</td>
            <td>Oh no, this is my pavorite pair. Wait, are you sewing them?</td>
            <td>Oh không, đây là quần yêu thích của tôi. Đợi đã, anh đang khâu nó à?</td>
          </tr>
          <tr class="row warning">
            <td>Will</td>
            <td>Yes, <strong>I also work as a tailor</strong>.</td>
            <td>Đúng, <strong>Tôi cũng làm việc như một thợ may</strong>.</td>
          </tr>
          <tr class="row info">
            <td>Ellie</td>
            <td>I wondering what exactly your job is.</td>
            <td>Tôi đang tự hỏi công việc chính xác của anh là gì.</td>
          </tr>
          <tr class="row danger">
            <td>Will</td>
            <td>Well, I'm a superman.</td>
            <td>Chà, Tôi là một siêu nhân.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h3>Further practice: Luyện từ và mẫu câu chủ đạo</h3>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy ôn lại cụm từ và cách diễn đạt nổi bật tại 3 topics bằng cách nghe và nói theo Recording 1.7 từ 1-3 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 01 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: Introducing a Friend</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Meet(v)</td>
            <td>Gặp, Gặp gỡ</td>
            <td>Nice to <strong>meet</strong> you, Peter.</td>
          </tr>
          <tr class="row">
            <td>Holiday(n)</td>
            <td>Kỳ nghỉ</td>
            <td>I'm just here on <strong>holiday</strong>.</td>
          </tr>
          <tr class="row">
            <td>Spell(v)</td>
            <td>Đánh vần</td>
            <td>How do you
              <trong>Spell</trong> that?</td>
          </tr>
          <tr class="row">
            <td>Australia(n)</td>
            <td>Úc, nước Úc</td>
            <td>- Are you from arround here?<br>- No, Australia</td>
          </tr>
          <tr class="row">
            <td>Mateys(n)</td>
            <td>Bạn<br>( Một từ khác chỉ bạn bè )</td>
            <td>Good day , <strong>mateys</strong></td>
          </tr>
          <tr class="row">
            <td>Peace(n)</td>
            <td>Lời chào tạm biệt</td>
            <td>- Good day, mateys<br>- Peace</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>How's it going?</td>
            <td>Dạo này thế nào?</td>
            <td>Hey, Peter! <strong>How's it going</strong>?</td>
          </tr>
          <tr class="row">
            <td>How are you?</td>
            <td>Bạn khỏe không?</td>
            <td>Hi, Anna! Good. <strong>How are you</strong>?</td>
          </tr>
          <tr class="row">
            <td>This is...</td>
            <td>Đây là...</td>
            <td><strong>This is</strong> my friend , Felice Lachlan. <strong>This is</strong> Peter.</td>
          </tr>
          <tr class="row">
            <td>How do you spell that?</td>
            <td>Bạn đánh vần nó như nào?</td>
            <td>That's a pretty name. <strong>How do you spell that</strong>?</td>
          </tr>
          <tr class="row">
            <td>Hit the books.</td>
            <td>Học hành chăm chỉ.</td>
            <td>Yeah, me too. Gotta <strong>hit the books</strong>, as they say.</td>
          </tr>
          <tr class="row">
            <td>It was the meeting you.</td>
            <td>Rất vui được gặp bạn.</td>
            <td>It was the meeting you, Peter.</td>
          </tr>
          <tr class="row">
            <td>Catch ya later!</td>
            <td>Hẹn gặp lại sau!</td>
            <td><strong>Catch ya later!</strong></td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: Where do you live?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Staying(v)</td>
            <td>Ở lại, lưu lại</td>
            <td>No, I'm british. Where are you <strong>staying</strong>?</td>
          </tr>
          <tr class="row">
            <td>Business card(n)</td>
            <td>Danh thiếp</td>
            <td>I'll check. Do you have a <strong>business card</strong>?</td>
          </tr>
          <tr class="row">
            <td>employee(n)</td>
            <td>Nhân viên</td>
            <td>Are you the new <strong>employee</strong>?</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>You can call me</td>
            <td>Cậu có thể gọi tôi là..</td>
            <td>My name is Jennifer, but <strong>you can call me</strong> Jennie.</td>
          </tr>
          <tr class="row">
            <td>Where are you from?</td>
            <td>Cậu đến từ đâu?</td>
            <td>My name is Jennifer, but you can call me Jennie. <strong>Where are you from</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm from Japan</td>
            <td>Tôi đến từ nhật bản</td>
            <td><strong>I'm from Japan</strong>. Are you American?</td>
          </tr>
          <tr class="row">
            <td>Where are you staying?</td>
            <td>Cậu đang ở đâu?</td>
            <td>No, I'm brisish, <strong>Where are you staying</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm staying in...</td>
            <td>Tôi đang ở...</td>
            <td><strong>I'm staying in</strong> a Hotel, but I'm looking for an apartment</td>
          </tr>
          <tr class="row">
            <td>Where do you live?</td>
            <td>Chị sống ở đâu?</td>
            <td>I'm staying in a Hotel, but I'm looking for an apartment. <strong>Where do you live</strong>?</td>
          </tr>
          <tr class="row">
            <td>I live by...</td>
            <td>Tôi sống gần...</td>
            <td><strong>I live by</strong> the park. It's a very nice, safe, quiet place</td>
          </tr>
          <tr class="row">
            <td>contact me via</td>
            <td>liên lạc tôi qua</td>
            <td>Sorry, not yet, but you can <strong>contact me via</strong> Yoshi1@gmail.com or at this phone munber, 215-034-6890. My phone doesn't have 7. I always try to avoid 7</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: What is your job?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Expert(n)</td>
            <td>Chuyên gia</td>
            <td>Can I check? I'm sort of an <strong>expert</strong></td>
          </tr>
          <tr class="row">
            <td>Doctor(n)</td>
            <td>Bác sĩ</td>
            <td>Wow, really. Are you a <strong>doctor</strong>?</td>
          </tr>
          <tr class="row">
            <td>Foot doctor(n)</td>
            <td>Bác sĩ chuyên chân</td>
            <td>- Are you a doctor<br>- I'm a <strong>foot doctor</strong>.</td>
          </tr>
          <tr class="row">
            <td>Tailor(n)</td>
            <td>- Wait, Are you sewing them?<br>- I also work as a <strong>tailor</strong></td>
            <td></td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Look beat</td>
            <td>Trông mệt mỏi</td>
            <td>You <strong>look beat</strong>. What's wrong?</td>
          </tr>
          <tr class="row">
            <td>i'm sort of</td>
            <td>Phần nào ,đại loại</td>
            <td>Can I check?<strong>I'm sort of</strong> an expert</td>
          </tr>
          <tr class="row">
            <td>Are you a doctor?</td>
            <td>Anh là một bác sĩ?</td>
            <td>Wow, really? <strong>Are you a doctor</strong>?</td>
          </tr>
          <tr class="row">
            <td>I'm a foot doctor</td>
            <td>Tôi là bác sĩ chuyên chân</td>
            <td>Yes, <strong>I'm a foot doctor</strong></td>
          </tr>
          <tr class="row">
            <td>It's very kind of you</td>
            <td>Anh thật tốt bụng</td>
            <td>Great. It's very kind of you</td>
          </tr>
          <tr class="row">
            <td>Work as</td>
            <td>làm việc như..</td>
            <td>Yes, I also work as a tailor</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <a href="index.php?directional=lession1-day2"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>