<div class="col-lg-9">
  <h2>Ngày 06 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/l1-d1-topic1.png" alt="" width="800px" height="200px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 1.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 1.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 1.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 04 - Phản xạ đa chiều - Where Do You Live?
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.9 - Rapid Response - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Who is Felice?</strong></th>
            <th class="col-lg-5"><strong>Ai là Felice</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She is Anna Friends.</td>
            <td>Cô ấy là bạn của Anna.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Felice is a friends of Anna.</td>
            <td>Felice là một người bạn của Anna.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is Anna introducing to Peter?</strong></td>
            <td><strong>Anna giới thiệu ai với Peter?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She’s introducing Felice.</td>
            <td>Cô ấy giới thiệu Felice.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Anna is introducing Felice to Peter.</td>
            <td>Anna giới thiệu Felice với Peter.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Where does Felice come form?</strong></td>
            <td><strong>Felice đến từ đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Australian.</td>
            <td>Nước Úc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She come form Australian.</td>
            <td>Cô ấy đến từ Nước Úc.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Felice on holiday?</strong></td>
            <td><strong>Felice có đang trong kỳ nghỉ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she is.</td>
            <td>Có, Cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Felice is on holiday.</td>
            <td>Có. Felice đang đi nghỉ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Peter do after meeting Anna?</strong></td>
            <td><strong>Peter làm gì sau khi gặp Anna?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He gotta hit the books.</td>
            <td>Anh ấy phải đi học chăm chỉ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He need to hit the books.</td>
            <td>Anh ấy cần phải đi học chăm chỉ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Who has an interesting name?</strong></td>
            <td><strong>Ai có một cái tên thú vị?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Felice.</td>
            <td>Felice.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Felice has an interesting name.</td>
            <td>Felice có một cái tên thú vị.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>What does the name Felice mean Latin?</strong></td>
            <td><strong>Tên Felice có nghĩa gì trong tiếng Latin?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It means "Happy".</td>
            <td>Nó có nghĩa là "Hạnh phúc".</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In Latin.the name Felice means "Happy".</td>
            <td>Trong tiếng Latin . Tên Felice có nghĩa là "Hạnh phúc".</td>
          </tr>
          <tr class="row">
            <th rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Felice Latin?</strong></td>
            <td><strong>Felice là người Latin?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Australian.</td>
            <td>Không, người Úc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Felice isn't Latin. She is Australian.</td>
            <td>Không, Felice không phải người Latin. Cô ấy là người Australian.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Felice feel when meeting Peter?</strong></td>
            <td><strong>Felice cảm thấy thế nào khi gặp Peter?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She is Happy.</td>
            <td>Cô ấy Hạnh phúc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Felice feels great to meet Peter.</td>
            <td>Anna giới thiệu Felice với Peter.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Peter meet Felice at the library?</strong></td>
            <td><strong>Peter có gặp Felice ở thư viện không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, They meet at the library.</td>
            <td>Có, họ gặp nhau ở thư viện.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Peter <strong>bumps into</strong> Felice when she's walking out at the library.</td>
            <td>Có, Peter
              <strong>tình cờ(nghĩa khác : va chạm)</strong> gặp Felice khi cô ấy đang đi ra khỏi thư viện.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>How does Felice spell her name?</strong></td>
            <td><strong>Felice đánh vần tên cô ấy thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's F.E.L.I.C.E.</td>
            <td>Đó là F.E.L.I.C.E.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She spells it F.E.L.I.C.E.</td>
            <td>Cô ấy đánh vần là F.E.L.I.C.E.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Peter think that Felice's name is interesting?</strong></td>
            <td><strong>Peter có nghĩ rằng tên của Felice là thú vị?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he does.</td>
            <td>Có, Anh ấy có nghĩ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Peter think that Felice's name interesting.</td>
            <td>Có, Peter nghĩ rằng tên của felice là thú vị.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 04 - Phản xạ đa chiều - Where Do You Live?
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.9 - Rapid Response - Topic 2 - Where do you live.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Who is the new Employee?</strong></th>
            <th class="col-lg-5"><strong>Ai là nhân viên mới</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi is the new employee.</td>
            <td>Yoshi là nhân viên mới.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The new employee is Yoshi.</td>
            <td>Nhân viên mới là Yoshi.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Where is Yoshi form?</strong></td>
            <td><strong>Yoshi đến từ đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Japan.</td>
            <td>Nhật bản.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi come form Japan.</td>
            <td>Yoshi đến từ Nhật Bản.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Jennifer American?</strong></td>
            <td><strong>Jennifer có phải là người mỹ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, She is British.</td>
            <td>Không, Cô ấy là người anh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Jennifer isn't American.</td>
            <td>Không, Jennifer không phải người Mỹ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Yoshi staying with Jennifer?</strong></td>
            <td><strong>Yoshi ở cùng với Jennifer không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, He isn't.</td>
            <td>Không, Anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Yoshi is staying in a hotel.</td>
            <td>Không, Yoshi đang ở một khách sạn.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Where does Jennifer live?</strong></td>
            <td><strong>Jennifer sống ở đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>By the park.</td>
            <td>Gần công viên.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She lives in the park area.</td>
            <td>Cô ấy sống ở khu vực công viên.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Yoshi stay in a noisy hotel room?</strong></td>
            <td><strong>Yoshi đang ở trong một căn phòng khách sạn ồn ào không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he does.</td>
            <td>Đúng, anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Yoshi stay in a noisy hotel room.</td>
            <td>Đúng, Yoshi sống ở một căn phòng khách sạn ồn ào.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Which place does Jennifer perfer?</strong></td>
            <td><strong>Jennifer thích ở nơi nào hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She prefers quiet ones.</td>
            <td>Cô ấy thích nơi yên tĩnh hơn.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Jennifer prefers quiet places.</td>
            <td>Jennifer thích địa điểm yên tĩnh hơn.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Yoshi looking for an apartment?</strong></td>
            <td><strong>Yoshi có đang tìm kiếm một căn hộ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he is.</td>
            <td>Có, Anh ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Yoshi looking for an apartment.</td>
            <td>Có, Yoshi đang tìm kiếm một căn hộ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>What's Yoshi's phone number?</strong></td>
            <td><strong>Số điện thoại Yoshi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's 215-034-6890.</td>
            <td>Đó là 215-034-6890.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi's phone number is 215-034-6890.</td>
            <td>Số điện thoại của Yoshi là 215-034-6890.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Yoshi's email address?</strong></td>
            <td><strong>Địa chỉ Email của Yoshi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Yoshi1@Gmail.com.</td>
            <td>Đó là Yoshi1@Gmail.com.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yoshi's email address is Yoshi1@gmail.com.</td>
            <td>Địa chỉ email của Yoshi là Yoshi1@gmail.com.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong> Does Yoshi have a business card?</strong></td>
            <td><strong>Yoshi có danh thiếp không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Not yet</td>
            <td>Chưa có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Yoshi doesn't have a business card.</td>
            <td>Không, Yoshi không có danh thiếp.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>How is the park?</strong></td>
            <td><strong>Công viên là nơi thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's a nice, safe and quiet.</td>
            <td>Nó đẹp, an toàn và yên tĩnh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The park is a very nice, safe and quiet place.</td>
            <td>Công viên là một nơi đẹp , an toàn và yên tĩnh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 06 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.10 - Rapid Response - Topic 3 - What is your job.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>What's wrong with Ellie?</strong></th>
            <th class="col-lg-5"><strong>Có chuyện gì với Ellie vậy?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Her foot hurts.</td>
            <td>Chân cô ấy đau.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Ellie's foot hurts.</td>
            <td>Chân của Ellie bị đau.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Will an expert in?</strong></td>
            <td><strong>Will là một chuyên gia trong lĩnh vực gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Foot treating.</td>
            <td>Chữa trị chân.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Will is an expert in foot treating.</td>
            <td>Will là một chuyên gia chữa trị chân.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Will job?</strong></td>
            <td><strong>Công việc của Will là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A Doctor.</td>
            <td>Một bác sĩ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Will works as a doctor.</td>
            <td>Will làm việc như một bác sĩ.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>What doctor is Will?</strong></td>
            <td><strong>Will là bác sĩ gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A foot doctor.</td>
            <td>Bác sĩ chân.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Will is a doctor for feet.</td>
            <td>Will là một bác sĩ chân.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Are Ellie's pants torn?</strong></td>
            <td><strong>Có phải quần của Ellie bị rách không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, They are.</td>
            <td>Đúng, nó rách.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Ellie's pants are torn.</td>
            <td>Đúng, quần của Ellie bị rách.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>What is Will doing with Ellie's pants?</strong></td>
            <td><strong>Will đang làm gì với quần của Ellie?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He is sewing them.</td>
            <td>Anh ấy đang may nó lại.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Will is sewing Ellie's pants.</td>
            <td>Will đang may quần của Ellie lại.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>What else does Will work?</strong></td>
            <td><strong>Will còn làm việc gì nữa?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Will also works as a tailor.</td>
            <td>Will làm việc như một thợ may.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He works as a tailor as well.</td>
            <td>Anh ấy làm việc như một thợ may.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>How does Ellie look?</strong></td>
            <td><strong>Trông Ellie thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Ellie looks beat.</td>
            <td>Ellie trông có vẻ mệt mỏi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Ellie looks tired.</td>
            <td>Ellie trông có vẻ mệt mỏi.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does Ellie looks beat?</strong></td>
            <td><strong>Felice cảm thấy thế nào khi gặp Peter?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Her foot hurts.</td>
            <td>Chân cô ấy đau.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because her foot is hurts.</td>
            <td>Bởi vì chân cô ấy bị đau.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Ellie let Will check her foot?</strong></td>
            <td><strong>Ellie có cho Will kiểm tra chân của cô ấy?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, She does.</td>
            <td>Có, cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Ellie let Will check her foot.</td>
            <td>Có, Ellie có cho Will kiểm tra chân của cô ấy.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Ellie say Will is a Superman?</strong></td>
            <td><strong>Ellie có nói Will là một siêu nhân không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, She doesn't</td>
            <td>Không, Cô ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Ellie doesn't say Will is a superman.</td>
            <td>Không, Ellie không nói Will là một siêu nhân.</td>
          </tr>
          <tr class="row">
            <th rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Ellie like the torn pants?</strong></td>
            <td><strong>Ellie có thích cái quần bị rách không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, She does.</td>
            <td>Có, Cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, the torn pants are her favorite pair.</td>
            <td>Có, Chiếc quần rách là chiếc quần yêu thích của cô ấy.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 1.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 1.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 01 - Introduction || Ngày 06 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 01 - INTRODUCTION/Recording 1.11 - Production.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>

  <div>
    <a href="index.php?directional=lession1-day5"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession1-day7"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>