<div class="col-lg-9">
  <img src="image/lession-04/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 23 - Nói Đuổi</h2>
  <h4>Topic 01: The Triathlete</h4>
  <img src="image/lession-04/topic01.png" alt="" width="800px" height="200px">

  <h4>Bước 1: nói đuổi tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 4.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 4.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 4.1</strong> từ 1-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.1 - Slow Speech - Topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nối đuổi tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy <strong>sử dụng</strong> giáo trình, <strong>nghe</strong> và <strong>nhẩm</strong> theo Recording 4.2 từ 1-3 lần</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau đó, <strong>nói đuổi</strong> theo Recording 4.2 từ 1-2 lần. Dùng từ điển khi cần. Hãy nói để bắt kịp tốc độ của nhân vật.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Không</strong> dùng giáo trình, <strong>nói đuổi Recording 4.2</strong> ít nhất 2-3 lần cho đến khi bạn cảm thấy tự tin với tốc độ của mình.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Chú ý:</strong> Bạn cần tập trung vào ngữ điệu, nối âm và tốc độ tự nhiên của người bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.2 - Native Speech - topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: Invitation to What?</h4>
  <img src="image/lession-04/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 3.3</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 3.4</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.3 - Slow Speech - Topic 2 - The Super Shopper.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary goes to a local supermarket. Unfortunately, she has to pay a little too much for what she wants to buy.</td>
            <td>Mary đến một siêu thị trong vùn. Thật không may, cô ấy phải trải quá nhiều cho những gì cô ấy muốn mua.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>Your <strong>total</strong> will be seventy two. <strong>How would you like to pay</strong>?</td>
            <td>Của chị <strong>tổng cộng</strong> là bảy mươi hai đô la. <strong>Chị muốn thanh toán như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>That's <strong>more than I expected</strong>. <strong>How much is</strong> that <strong>fancy jelly</strong>?</td>
            <td>Số đó <strong>nhiều hơn tôi nghĩ</strong>. <strong>Lọ mứt nhiều màu</strong> kia <strong>bao nhiêu</strong> tiền?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>The <strong>organic</strong> jelly is sixteen dollars.</td>
            <td>Mứt <strong>hữu cơ</strong> có giá là mười sáu đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Oh no. My daughter likes it, but that's too much. I'll have to <strong>put that back</strong>.</td>
            <td>Ôi không. Con gái tôi thích nó, nhưng nó quá đắt. Tôi phải <strong>để nó lại</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>That's <strong>actually</strong> <strong>on sale</strong> now, <strong>buy one get one half off</strong>. Would you like to do that?</td>
            <td><strong>Thật ra</strong> thì cái đó <strong>đang được giảm giá, mua một tặng một nửa</strong>. Chị có muốn nhận ưu đãi không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Well, sixteen dollars is a little steep for one, but twenty-four dollars for two might <strong>be worth</strong> it.</td>
            <td>Để xem, mười sáu đô la cho một lọ thì <strong>quá đắt</strong>, nhưng hai tư đô la cho hai lọ thì <strong>đáng giá</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>So your new total is eighty dollars.</td>
            <td>Như vậy tổng số mói của chị là tám mươi đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>And I have some <strong>coupons</strong>...</td>
            <td>Và tôi có vài <strong>phiếu giảm giá</strong>...</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td><strong>Would you like to</strong> use all of those?</td>
            <td><strong>Chị có muốn</strong> sử dụng tất cả chúng không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes.</td>
            <td>Có.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>...So your new total is... 1 dollars. How would you like to pay? <strong>Cash</strong> or <strong>credit</strong>?</td>
            <td>...Tổng số mới của chị là... 1 đô la. Chị muốn thanh toán như thế nào? <strong>Tiền mặt</strong> hay <strong>thẻ tín dụng</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Cash, please.</td>
            <td>Tiền mặt, làm ơn.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.4 - Native Speech - Topic 2 - The Super Shopper.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary goes to a local supermarket. Unfortunately, she has to pay a little too much for what she wants to buy.</td>
            <td>Mary đến một siêu thị trong vùn. Thật không may, cô ấy phải trải quá nhiều cho những gì cô ấy muốn mua.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>Your <strong>total</strong> will be seventy two. <strong>How would you like to pay</strong>?</td>
            <td>Của chị <strong>tổng cộng</strong> là bảy mươi hai đô la. <strong>Chị muốn thanh toán như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>That's <strong>more than I expected</strong>. <strong>How much is</strong> that <strong>fancy jelly</strong>?</td>
            <td>Số đó <strong>nhiều hơn tôi nghĩ</strong>. <strong>Lọ mứt nhiều màu</strong> kia <strong>bao nhiêu</strong> tiền?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>The <strong>organic</strong> jelly is sixteen dollars.</td>
            <td>Mứt <strong>hữu cơ</strong> có giá là mười sáu đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Oh no. My daughter likes it, but that's too much. I'll have to <strong>put that back</strong>.</td>
            <td>Ôi không. Con gái tôi thích nó, nhưng nó quá đắt. Tôi phải <strong>để nó lại</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>That's <strong>actually</strong> <strong>on sale</strong> now, <strong>buy one get one half off</strong>. Would you like to do that?</td>
            <td><strong>Thật ra</strong> thì cái đó <strong>đang được giảm giá, mua một tặng một nửa</strong>. Chị có muốn nhận ưu đãi không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Well, sixteen dollars is a little steep for one, but twenty-four dollars for two might <strong>be worth</strong> it.</td>
            <td>Để xem, mười sáu đô la cho một lọ thì <strong>quá đắt</strong>, nhưng hai tư đô la cho hai lọ thì <strong>đáng giá</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>So your new total is eighty dollars.</td>
            <td>Như vậy tổng số mói của chị là tám mươi đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>And I have some <strong>coupons</strong>...</td>
            <td>Và tôi có vài <strong>phiếu giảm giá</strong>...</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td><strong>Would you like to</strong> use all of those?</td>
            <td><strong>Chị có muốn</strong> sử dụng tất cả chúng không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes.</td>
            <td>Có.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>...So your new total is... 1 dollars. How would you like to pay? <strong>Cash</strong> or <strong>credit</strong>?</td>
            <td>...Tổng số mới của chị là... 1 đô la. Chị muốn thanh toán như thế nào? <strong>Tiền mặt</strong> hay <strong>thẻ tín dụng</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Cash, please.</td>
            <td>Tiền mặt, làm ơn.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Why didn’t you Come to My Party?</h4>
  <img src="image/lession-04/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 4.5</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 4.6</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.5 - Slow Speech -Topic 3 - What’s Your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 23 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.6 - Native Speech - Topic 3 - What_s Your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <a href="index.php?directional=lession4-day22"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession4-day24"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>