<div class="col-lg-9">
  <h2>Ngày 27 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-04/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 4.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 4.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 4.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 27 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.8 - Rapid Response - Topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Why are Mary and Howard checking an apartment with the Realty Agent?</strong></th>
            <th class="col-lg-5"><strong>Tại sao Mary và Howard lại đi xem một căn họ với chuyên viên bất động sản</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because they want to rent one.</td>
            <td>Bởi vì họ muốn thuê một căn hộ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Mary and Howard want to rent an apartment that's why they're checking one with the Realty Agent.</td>
            <td>Mary và Howard muốn thuê một căn hộ, đó là lý do tại sao hộ đi xem căn hộ với một chuyên viên bất động sản.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>What is the view of the living room?</strong></td>
            <td><strong>Phòng khách có tầm nhìn ra đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answwer</td>
            <td>A park view.</td>
            <td>Nhìn ra công viên.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It has a nice view of the park from a window.</td>
            <td>Nó có một tầm nhìn đẹp ra công viên từ cửa sổ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Are pets allowed in the apartment?</strong></td>
            <td><strong>Có được phép nuôi thú cưng trong căn hộ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, they are.</td>
            <td>Có, họ được phép.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, pets allowed in the apartment.</td>
            <td>Có, được phép nuôi thú cưng trong căn hộ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>How much is the extra fee for pets?</strong></td>
            <td><strong>Phụ phí đối với vật nuôi là bao nhiêu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>50$ dollars per month.</td>
            <td>50 đô la một tháng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The extra fee for pets is 50 dollars per month.</td>
            <td>Phụ phí với vật nuôi là 50 đô la mỗi tháng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Can howard pay the extra fee of pets?</strong></td>
            <td><strong>Howard có thể trả phụ phí cho vật nuôi không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, he can.</td>
            <td>Vâng, anh ấy có thể.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, it's doable.</td>
            <td>Có, nó khả thi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Is the park safe?</strong></td>
            <td><strong>Công viên có an toàn không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A little bit.</td>
            <td>Một chút thôi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Not so much. There is some crime in the park but nothing serious.</td>
            <td>Không quá an toàn. Có vài tội phạm ở công viên, nhưng không có gì nghiêm trọng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Where is the master bedroom located?</strong></td>
            <td><strong>Phòng ngủ chính ở đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Upstairs.</td>
            <td>Trên tầng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The master bedroom is located upstairs.</td>
            <td>Phòng ngủ chính ở trên tầng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Mary think about the master bedroom?</strong></td>
            <td><strong>Mary nghĩ gì về phòng ngủ chính?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She finds it cozy.</td>
            <td>Cô ấy thấy nó ấm cúng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Mary finds the master bedroom cozy.</td>
            <td>Mary thấy phòng ngủ chính ấm cúng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>How many bathroom does the apartment have?</strong></td>
            <td><strong>Căn hộ có bao nhiêu phòng tắm?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Two bathrooms.</td>
            <td>Hai phòng tắm.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The apartment has two bathrooms.</td>
            <td>Vào những ngày mưa Jackson đi đến phòng tập thể dục.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Where is the second bathroom lacated?</strong></td>
            <td><strong>Phòng tắm thứ hai ở đâu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's downstairs.</td>
            <td>Nó ở tầng dưới.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The second bathrooms is downstairs.</td>
            <td>Phòng tắm thứ hai ở dưới tầng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>How much is the rent per month?</strong></td>
            <td><strong>Tiền thuê nhà mỗi tháng là bao nhiêu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's 800$ a month, plus 50$ if there are pets.</td>
            <td>800 đô la một tháng thêm 50 đô la nếu có vật nuôi.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The monthly rent for the apartment is 800$, plus 50$ if there are pets</td>
            <td>Tiền thuê hàng tháng là 800 đô la thêm 50 đô la nếu có vật nuôi.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Who wants to sign the lease?</strong></td>
            <td><strong>Ai muốn ký hợp đồng thuê không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Howard.</td>
            <td>Howard.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Howard wants to sign the lease.</td>
            <td>Howard muốn ký hợp đồng thuê.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 27 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.9 - Rapid Response - Topic 2 - The Super Shopper.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>What is the total money that Mary should pay?</strong></th>
            <th class="col-lg-5"><strong>Tổng số tiền mà Mary phải trả là bao nhiêu?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's seventy two dollars.</td>
            <td>Bảy mươi hai đô la.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Mary should pay seventy two dollars.</td>
            <td>Mary phải trả bảy mươi hai đô la.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>What is more than expected for Mary?</strong></td>
            <td><strong>Điều gì nhiều hơn Mary nghĩ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's the total amount of money she has to pay at the supermarket.</td>
            <td>Tổng số tiền cô ấy phải trả ở siêu thị.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The total amount of money that Mary has to pay at the supermarket.</td>
            <td>Tổng số tiền mà Mary phải trả ở siêu thị.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Why is the price of jelly hight?</strong></td>
            <td><strong>Tại sao giá mứt cao sao vậy?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because it's organic.</td>
            <td>Bởi vì đó là mứt hữu cơ.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The price of jelly is high because it's organic.</td>
            <td>Giá mứt cao bởi vì nó là hữu cơ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does Mary have to put the jelly back?</strong></td>
            <td><strong>Tại sao Mary phải để mứt lại?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because of its high price.</td>
            <td>Vì giá nó cao.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Mary has to put the jelly back because its price is more than she expected.</td>
            <td>Mary phải để mứt lại bởi vì giá của nó cao hơn cô ấy dự kiến.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Is the fancy jelly on sale?</strong></td>
            <td><strong>Loại mứt nhiều màu này có giảm giá không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, it is.</td>
            <td>Có, nó có giảm.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, the fancy jelly is on sale.</td>
            <td>Có, loại mứt nhiều màu có giảm giá</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>What is the sale on jelly?</strong></td>
            <td><strong>Mứt được giảm giá như thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's buy one get one half off.</td>
            <td>Mua một tặng một nửa.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The sale on jelly is buy one get one half off.</td>
            <td>Mứt được ưu đãi là mua một tặng một nửa.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Is the jelly worth 12 dollars for Mary?</strong></td>
            <td><strong>Với Mary lọ mứt có đáng giá 12 đô la không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, it is.</td>
            <td>Vâng, nó đáng giá.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, the jelly maybe worth 12 dollars for mary.</td>
            <td>Vâng, lọ mứt có lẽ đáng giá 12 đô la với Mary.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>What is a little steep for Mary?</strong></td>
            <td><strong>Cái gì là hơi đắt với Mary?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The price of the jelly.</td>
            <td>Giá mứt.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The amount of money she has to pay for the jelly which is 16 dollars.</td>
            <td>Số tiền cô ấy phải trả cho lọ mứt 16 dollars.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Mary using all the coupons she has?</strong></td>
            <td><strong>Mary có sử dụng tất cả các phiếu giảm giá cô ấy có không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she is.</td>
            <td>Có, cô ấy có sử dụng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Mary is using all the coupons she has.</td>
            <td>Có, Mary sử dụng tất cả phiếu giảm giá cô ấy có.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What is the new total after using coupons?</strong></td>
            <td><strong>Tổng số tiền mới sau khi sử dụng các phiếu giảm giá là bao nhiêu?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's just 1 dollars.</td>
            <td>Chỉ có 1 đô la.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The total after using coupons is 1 dollars.</td>
            <td>Tổng số tiền sau khi sử dụng các phiếu giảm giá là 1 đô la.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Mary want to pay in cash or credit?</strong></td>
            <td><strong>Mary muốn thanh toán bằng tiền mặt hay thẻ tín dụng?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>In cash.</td>
            <td>Bằng tiền mặt.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Mary wants to pay in cash.</td>
            <td>Mary muốn thanh toán bàng tiền mặt.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Does the local supermarket accept cash or credit?</strong></td>
            <td><strong>Siêu thị địa phương đó chấp nhận tiền mặt hay thẻ tín dụng?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Both.</td>
            <td>Cả hai.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The local supermarket accepts both cash and credit.</td>
            <td>Siêu thị địa phương đó chấp nhận cả tiền mặt và thẻ tín dụng.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 27 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.10 - Rapid Response - Topic 3 - Whats your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>What do Sonya and Alice see when walking on the street?</strong></th>
            <th class="col-lg-5"><strong>Sonya và Alice nhìn thấy gì khi đi bộ trên phố?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A cute tomboy outfit.</td>
            <td>Một bộ đồ tomboy dễ thương.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>They see a cute tomboy outfit through the window of a nearby shop.</td>
            <td>Họ nhìn thấy một bộ đồ kiểu tomboy dễ thương qua cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Alice prefer the tomboy look to other?</strong></td>
            <td><strong>Alice thích phong cách tomboy hơn các phong cách khác đúng không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, she doesn't.</td>
            <td>Không, cô ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Alice doesn't prefer the tomboy look. She thinks women should dree like women. </td>
            <td>Không, Alice không thích phong cách tomboy. Cô nghĩ rằng phụ nữ thì nên mặc giống phụ nữ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Which look is trendy?</strong></td>
            <td><strong>Phong cách như thế nào là hợp thời trang?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The tomboy look.</td>
            <td>Phong cách tomboy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The tomboy look is trendy.</td>
            <td>Phong cách tomboy là hợp thời (thời trang).</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>How does Alice like the tomboy look?</strong></td>
            <td><strong>Alice thích phong cách tomboy như thế nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Alice likes the tomboy look like how she likes fast food.</td>
            <td>Alice thích phong cách tomboy như cách cô ấy thích đồ ăn nhanh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Alice like the tomboy look like how she likes fast food; both are trendy but she doesn't eat fast food, or dress like a tomboy.</td>
            <td>Alice thích phong cách tomboy như cách cô ấy thích đồ ăn nhanh; cả hai đều hợp thời nhưng cô ấy không thích đồ ăn nhanh, hay ăn mặc như tomboy.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Sonya respect Alice's view that women should dress like women?</strong></td>
            <td><strong>Sonya có tôn trọng quan điểm của Alice về việc phụ nữ nên mặc giống phụ nữ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she does.</td>
            <td>Có, cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Sonya respects Alice's view that women should dress like women.</td>
            <td>Có, Sonya tôn trọng quan điểm của Alice về việc phụ nữ nên ăn mặc giống phụ nữ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does Sonya like the tomboy look?</strong></td>
            <td><strong>Tại sao Sonya thích phong cách Tomboy?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because She thinks it's fun and cool to be a little different sometimes.</td>
            <td>Vì cô ấy nghĩ đôi khi có một chút thay đổi rất thú vị .</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Sonya likes the tomboy look because it's fun and cool to be a little different sometimes. Plus, some guys like it, too.</td>
            <td>Sonya thích diện mạo tomboy, bởi vì đôi khi thay đổi một chút cũng thú vị. Hơn nữa, một số anh chàng cũng thích vậy.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Why can't Alice pull the tomboy look off?</strong></td>
            <td><strong>Tại sao Alice không thể mặc kiểu tomboy?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Because of her too wide shoulders.</td>
            <td>Vì vai cô ấy quá rộng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She can't pull the tomboy look off because she has too wide shoulders.</td>
            <td>Cô ấy không thể mặc kiểu tomboy bởi vì vai cô ấy quá rộng.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Sonya wish to have?</strong></td>
            <td><strong>Sonya muốn có điều gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Alice's shoulders.</td>
            <td>Vai của Alice.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Sonya wishes to have Alice's shoulders.</td>
            <td>Sonya muốn có bờ vai của Alice.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Alice want to go shopping?</strong></td>
            <td><strong>Alice có muốn đi mua sắm không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, she does.</td>
            <td>Có, cô ấy có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Alice wants to go shopping.</td>
            <td>Có, Alice muốn đi mua sắm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What may Alice try on when she goes shopping?</strong></td>
            <td><strong>Alice có thể mặc thử đồ gì khi đi mua sắm?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Maybe some tomboy-ish.</td>
            <td>Có lẽ là một số đồ kiểu tomboy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She may try on some tomboy-ish stuff when she goes shopping.</td>
            <td>Cô ấy có thể thử một số đồ kiểu tomboy khi đi mua sắm.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Who is going to have a whole new style?</strong></td>
            <td><strong>Ai sẽ có một phong cách hoàn toàn mói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It's Alice.</td>
            <td>Đó là Alice.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It sounds like Alice is going to have a whole new style.</td>
            <td>Nghe có vẻ như Alice sắp có một phong cách hoàn toàn mới.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Will Alice like the tomboy look?</strong></td>
            <td><strong>Alice sẽ thích phong cách tomboy chứ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Who knows! Maybe, she will like it.</td>
            <td>Ai biết được! Có thể cô ấy sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Maybe yes, and maybe no...who knows!</td>
            <td>Có thể có, có thể không...ai biết không!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 4.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 27 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.11 - Production.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau phần thực hành này, bạn sẽ vận dụng một cách tự nhiên hơn khi nói về thói quen buổi sáng, lên kế hoạch cho một dịp và ngày nhất định và nói về sinh nhật của mình</h5>


  <div>
    <a href="index.php?directional=lession4-day26"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession4-day28"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>