<div class="col-lg-9">
  <img src="image/lession-04/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 22 - Nghe ngấm</h2>
  <h4>Topic 01: Apartment Hunting</h4>
  <img src="image/lession-04/topic01.png" alt="" width="800px" height="200px">
  <h4>Bước 1: Nghe làm quen</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe toàn bộ <strong>Recording 4.1</strong> từ 2-3 lần: Chỉ nghe, không dùng giáo trình. Bạn chưa phải hiểu 100% nội dung.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.1 - Slow Speech - Topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nghe ngấm tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe lại <strong>Recording 4.1</strong> từ 3-5 lần: Sử dụng giáo trình, bản dịch và từ điển nếu cần. Mục tiêu bước này, hiểu trọn vẹn nội dung.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nhắm mắt và nghe lại <strong>Recording 4.1</strong> thêm 1 lần. Sau đó tưởng tượng lại phần thoại. Bạn đã hiểu hết nội dung? Nếu chưa, hãy nghe lại. Nếu rồi, chuyển sang bước tiếp
    theo.
  </h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.1 - Slow Speech - Topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary and Howard like an apartment The Realty Agent takes them around the apartment before thay decide to rent it.</td>
            <td>Mary và Howard thích một căn hộ. Chuyên viên bất động sản (BĐS) đưa họ đi xem căn hộ trước khi họ quyết định thuê nó.</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>This is the <strong>living room</strong>. It has <strong>a nice view of</strong> the park from that window.</td>
            <td>Đây là <strong>phòng khách</strong>. Nó có <strong>một tầm nhìn đẹp ra</strong> công viên từ cửa sổ đó.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>How nice, our cats would love it. Oh, <strong>by the way</strong>, are <strong>pets allowed</strong>?</td>
            <td>Thật tuyệt làm sao, mấy chú mèo của chúng tôi thích nó. À, <strong>nhân tiện, thú cưng</strong> có <strong>được phép</strong> nuôi không?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>Of course, but you need to pay an <strong>extra fee</strong> of 50 dollars per month.</td>
            <td>Tất nhiên, nhunwg anh chị cần phải trả một khoản <strong>phụ phí</strong> là 50 đô la mỗi tháng</td>
          </tr>
          <tr class="row">
            <td>Howard</td>
            <td>That sounds <strong>doable</strong>. Is the <strong>neighborhood safe</strong></td>
            <td>Nghe <strong>có vẻ thực hiện được</strong>. <strong>Khu dân cư có an toàn </strong> không?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>There is some <strong>crime</strong> in the park, but nothing serious. Would you like to see the <strong>bedrooms</strong>?</td>
            <td>Có một số <strong>tội phạm</strong> ở công viên, nhưng không có gì nghiêm trọng. Ang chị có muốn xem <strong>các phòng ngủ</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes, please!</td>
            <td>Có, cảm ơn anh!</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>Let's go <strong>upstairs</strong> then... This is the <strong>master bedroom</strong>, with its own <strong>bathroom</strong>.</td>
            <td>Hãy đi lên <strong>tầng trên</strong> rồi... Đây là <strong>phòng ngủ chính</strong>, với <strong>phòng tắm</strong> riêng.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>It's <strong>cozy</strong>.</td>
            <td>Thật <strong>ấm cúng</strong>.</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>And this is the second bedroom. You could also use it as a <strong>home office</strong>.</td>
            <td>Và đây là phòng ngủ thứ hai. Anh chị cũng có thể sử dụng nó như là một <strong>văn phòng tại nhà</strong>.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td><strong>Where is the second bathroom</strong>?</td>
            <td><strong>Phòng tắm thứ hai ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td><strong>It's $800 a month</strong>...plus $50, if you have pets.</td>
            <td><strong>800 đô la một tháng</strong>...plus $50, nếu anh chị có vật nuôi.</td>
          </tr>
          <tr class="row">
            <td>Howard</td>
            <td>Sounds good. Let's <strong>sign the lease</strong>.</td>
            <td>Nghe có vẻ tốt đấy. Hãy <strong>ký hợp đồng thuê</strong> thôi.</td>
          </tr>
          <tr class="row">
            <td>Mary(Sigh)</td>
            <td>Okay. My purse is like an onion, opening it makes me cry!!!</td>
            <td>OK. Ví của em giống như một củ hành , mở nó ra khiến em bật khóc!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 3: Nghe ngấm tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 4.2</strong> từ 5-7 lần, cho tới khi bạn thấy dễ dàng trong việc nghe và hiểu toàn bộ các câu ở tốc độ này.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.2 - Native Speech - topic 1 - Apartment Hunting.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary and Howard like an apartment The Realty Agent takes them around the apartment before thay decide to rent it.</td>
            <td>Mary và Howard thích một căn hộ. Chuyên viên bất động sản (BĐS) đưa họ đi xem căn hộ trước khi họ quyết định thuê nó.</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>This is the <strong>living room</strong>. It has <strong>a nice view of</strong> the park from that window.</td>
            <td>Đây là <strong>phòng khách</strong>. Nó có <strong>một tầm nhìn đẹp ra</strong> công viên từ cửa sổ đó.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>How nice, our cats would love it. Oh, <strong>by the way</strong>, are <strong>pets allowed</strong>?</td>
            <td>Thật tuyệt làm sao, mấy chú mèo của chúng tôi thích nó. À, <strong>nhân tiện, thú cưng</strong> có <strong>được phép</strong> nuôi không?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>Of course, but you need to pay an <strong>extra fee</strong> of 50 dollars per month.</td>
            <td>Tất nhiên, nhunwg anh chị cần phải trả một khoản <strong>phụ phí</strong> là 50 đô la mỗi tháng</td>
          </tr>
          <tr class="row">
            <td>Howard</td>
            <td>That sounds <strong>doable</strong>. Is the <strong>neighborhood safe</strong></td>
            <td>Nghe <strong>có vẻ thực hiện được</strong>. <strong>Khu dân cư có an toàn </strong> không?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>There is some <strong>crime</strong> in the park, but nothing serious. Would you like to see the <strong>bedrooms</strong>?</td>
            <td>Có một số <strong>tội phạm</strong> ở công viên, nhưng không có gì nghiêm trọng. Ang chị có muốn xem <strong>các phòng ngủ</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes, please!</td>
            <td>Có, cảm ơn anh!</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>Let's go <strong>upstairs</strong> then... This is the <strong>master bedroom</strong>, with its own <strong>bathroom</strong>.</td>
            <td>Hãy đi lên <strong>tầng trên</strong> rồi... Đây là <strong>phòng ngủ chính</strong>, với <strong>phòng tắm</strong> riêng.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>It's <strong>cozy</strong>.</td>
            <td>Thật <strong>ấm cúng</strong>.</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td>And this is the second bedroom. You could also use it as a <strong>home office</strong>.</td>
            <td>Và đây là phòng ngủ thứ hai. Anh chị cũng có thể sử dụng nó như là một <strong>văn phòng tại nhà</strong>.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td><strong>Where is the second bathroom</strong>?</td>
            <td><strong>Phòng tắm thứ hai ở đâu</strong>?</td>
          </tr>
          <tr class="row">
            <td>Realty Agent</td>
            <td><strong>It's $800 a month</strong>...plus $50, if you have pets.</td>
            <td><strong>800 đô la một tháng</strong>...plus $50, nếu anh chị có vật nuôi.</td>
          </tr>
          <tr class="row">
            <td>Howard</td>
            <td>Sounds good. Let's <strong>sign the lease</strong>.</td>
            <td>Nghe có vẻ tốt đấy. Hãy <strong>ký hợp đồng thuê</strong> thôi.</td>
          </tr>
          <tr class="row">
            <td>Mary(Sigh)</td>
            <td>Okay. My purse is like an onion, opening it makes me cry!!!</td>
            <td>OK. Ví của em giống như một củ hành , mở nó ra khiến em bật khóc!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: The Super Shopper</h4>
  <img src="image/lession-04/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 4.3</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 4.4</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.3 - Slow Speech - Topic 2 - The Super Shopper.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary goes to a local supermarket. Unfortunately, she has to pay a little too much for what she wants to buy.</td>
            <td>Mary đến một siêu thị trong vùn. Thật không may, cô ấy phải trải quá nhiều cho những gì cô ấy muốn mua.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>Your <strong>total</strong> will be seventy two. <strong>How would you like to pay</strong>?</td>
            <td>Của chị <strong>tổng cộng</strong> là bảy mươi hai đô la. <strong>Chị muốn thanh toán như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>That's <strong>more than I expected</strong>. <strong>How much is</strong> that <strong>fancy jelly</strong>?</td>
            <td>Số đó <strong>nhiều hơn tôi nghĩ</strong>. <strong>Lọ mứt nhiều màu</strong> kia <strong>bao nhiêu</strong> tiền?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>The <strong>organic</strong> jelly is sixteen dollars.</td>
            <td>Mứt <strong>hữu cơ</strong> có giá là mười sáu đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Oh no. My daughter likes it, but that's too much. I'll have to <strong>put that back</strong>.</td>
            <td>Ôi không. Con gái tôi thích nó, nhưng nó quá đắt. Tôi phải <strong>để nó lại</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>That's <strong>actually</strong> <strong>on sale</strong> now, <strong>buy one get one half off</strong>. Would you like to do that?</td>
            <td><strong>Thật ra</strong> thì cái đó <strong>đang được giảm giá, mua một tặng một nửa</strong>. Chị có muốn nhận ưu đãi không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Well, sixteen dollars is a little steep for one, but twenty-four dollars for two might <strong>be worth</strong> it.</td>
            <td>Để xem, mười sáu đô la cho một lọ thì <strong>quá đắt</strong>, nhưng hai tư đô la cho hai lọ thì <strong>đáng giá</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>So your new total is eighty dollars.</td>
            <td>Như vậy tổng số mói của chị là tám mươi đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>And I have some <strong>coupons</strong>...</td>
            <td>Và tôi có vài <strong>phiếu giảm giá</strong>...</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td><strong>Would you like to</strong> use all of those?</td>
            <td><strong>Chị có muốn</strong> sử dụng tất cả chúng không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes.</td>
            <td>Có.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>...So your new total is... 1 dollars. How would you like to pay? <strong>Cash</strong> or <strong>credit</strong>?</td>
            <td>...Tổng số mới của chị là... 1 đô la. Chị muốn thanh toán như thế nào? <strong>Tiền mặt</strong> hay <strong>thẻ tín dụng</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Cash, please.</td>
            <td>Tiền mặt, làm ơn.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.4 - Native Speech - Topic 2 - The Super Shopper.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Mary goes to a local supermarket. Unfortunately, she has to pay a little too much for what she wants to buy.</td>
            <td>Mary đến một siêu thị trong vùn. Thật không may, cô ấy phải trải quá nhiều cho những gì cô ấy muốn mua.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>Your <strong>total</strong> will be seventy two. <strong>How would you like to pay</strong>?</td>
            <td>Của chị <strong>tổng cộng</strong> là bảy mươi hai đô la. <strong>Chị muốn thanh toán như thế nào</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>That's <strong>more than I expected</strong>. <strong>How much is</strong> that <strong>fancy jelly</strong>?</td>
            <td>Số đó <strong>nhiều hơn tôi nghĩ</strong>. <strong>Lọ mứt nhiều màu</strong> kia <strong>bao nhiêu</strong> tiền?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>The <strong>organic</strong> jelly is sixteen dollars.</td>
            <td>Mứt <strong>hữu cơ</strong> có giá là mười sáu đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Oh no. My daughter likes it, but that's too much. I'll have to <strong>put that back</strong>.</td>
            <td>Ôi không. Con gái tôi thích nó, nhưng nó quá đắt. Tôi phải <strong>để nó lại</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>That's <strong>actually</strong> <strong>on sale</strong> now, <strong>buy one get one half off</strong>. Would you like to do that?</td>
            <td><strong>Thật ra</strong> thì cái đó <strong>đang được giảm giá, mua một tặng một nửa</strong>. Chị có muốn nhận ưu đãi không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Well, sixteen dollars is a little steep for one, but twenty-four dollars for two might <strong>be worth</strong> it.</td>
            <td>Để xem, mười sáu đô la cho một lọ thì <strong>quá đắt</strong>, nhưng hai tư đô la cho hai lọ thì <strong>đáng giá</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>So your new total is eighty dollars.</td>
            <td>Như vậy tổng số mói của chị là tám mươi đô la.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>And I have some <strong>coupons</strong>...</td>
            <td>Và tôi có vài <strong>phiếu giảm giá</strong>...</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td><strong>Would you like to</strong> use all of those?</td>
            <td><strong>Chị có muốn</strong> sử dụng tất cả chúng không?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Yes.</td>
            <td>Có.</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>...So your new total is... 1 dollars. How would you like to pay? <strong>Cash</strong> or <strong>credit</strong>?</td>
            <td>...Tổng số mới của chị là... 1 đô la. Chị muốn thanh toán như thế nào? <strong>Tiền mặt</strong> hay <strong>thẻ tín dụng</strong>?</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>Cash, please.</td>
            <td>Tiền mặt, làm ơn.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: What's Your Style?</h4>
  <img src="image/lession-04/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 4.5</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 4.6</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.5 - Slow Speech -Topic 3 - What’s Your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.6 - Native Speech - Topic 3 - What_s Your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2" scope="row"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Sonya and Alice are walking on the street, then they're attracted by a cute tomboy outfit in the window of a nearby shop.</td>
            <td>Sonya và Alice đang đi bộ trên phố thì bị thu hút bởi một bộ đồ kiểu tomboy dễ thương ở cửa sổ của một cửa hàng gần đó.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
            <td>Ôi trời ơi, nhìn <strong>bộ đồ</strong> này đi. Không phải nó rất tuyệt sao?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Maybe for a guy, but not girls.</td>
            <td>Có thể là tuyệt với con trai, nhưng không phải với con gái.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>What's wrong? You don't like the <strong>tomboy</strong> look?</td>
            <td>Sao thế? Cậu không thích phong cách <strong>tomboy</strong> à?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Erm. I like the tomboy look like how I like fast food... And I don't eat fast food... It's <strong>trendy</strong>, but I think women should <strong>dress like</strong> women.</td>
            <td>Xem nào. Tôi thích phong cách tomboy, giống như cách tôi thích đồ ăn nhanh... Và tôi không ăn đồ ăn nhanh...Nó <strong>hợp thời</strong>, nhưng tôi nghĩ rằng phụ nữ nên <strong>mặc giống</strong> phụ nữ.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a little <strong>different</strong> sometimes. Some guys like it, too.</td>
            <td>Tôi <strong>tôn trọng</strong> điều đó. Tôi cho là thỉnh thoảng <strong>thay đổi</strong> một chút cũng rất thú vị. Một vài anh chàng cũng thích thế mà.</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to <strong>pull it off</strong>. I look like a man.</td>
            <td>Cậu nói đúng. Nhưng <strong>vai</strong> của tôi quá rộng nên không thể <strong>mặc cái này đẹp được</strong>. Trông tôi như một người đàn ông vậy.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td>No! I <strong>wish</strong> I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
            <td>Không! Tôi <strong>ước</strong> tôi có đôi vai của cậu. Dù sao thì, cậu có muốn <strong>đi mua sắm</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Alice</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some <strong>tomboy-ish</strong> stuff. Who knows, I might like it.</td>
            <td>Có chứ. Có lẽ tôi sẽ <strong>thử</strong> vài đồ <strong>kiểu tomboy</strong>. Ai mà biết được, có thể tôi sẽ thích.</td>
          </tr>
          <tr class="row">
            <td>Sonya</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new <strong>style</strong>!</td>
            <td><strong>Nghe có vẻ như</strong> ai đó sắp có một phong cách hoàn toàn mới kìa!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h3>Further practice: Luyện từ và mẫu câu chủ đạo</h3>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy ôn lại cụm từ và cách diễn đạt nổi bật tại 3 topics bằng cách nghe và nói theo Recording 4.7 từ 1-3 lần..</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 04 - Renting And Shopping || Ngày 22 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: Apartment Hunting</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Living room (n)</td>
            <td>Phòng khách</td>
            <td>This is the <strong>living room</strong>.</td>
          </tr>
          <tr class="row">
            <td>View (n)</td>
            <td>Tầm nhìn</td>
            <td>It has a nice <strong>view</strong> of the park from that window.</td>
          </tr>
          <tr class="row">
            <td>Allowed (v)</td>
            <td>Được phép</td>
            <td>Oh, by the way, are pets <strong>allowed</strong>?</td>
          </tr>
          <tr class="row">
            <td>Extra (adj)</td>
            <td>Phụ, thêm</td>
            <td>Of course, but you need to pay an <strong>extra</strong> fee of 50 dollars per month.</td>
          </tr>
          <tr class="row">
            <td>Fee (v)</td>
            <td>Phí, lệ phí</td>
            <td>Of course, but you need to pay an extra <strong>fee</strong> of 50 dollars per month.</td>
          </tr>
          <tr class="row">
            <td>Doable (adj)</td>
            <td>Có thể thực hiện</td>
            <td>That sounds <strong>doable</strong>.</td>
          </tr>
          <tr class="row">
            <td>Neighborhood (n)</td>
            <td>Khu dân cư</td>
            <td>Is the <strong>neighborhood</strong> safe?</td>
          </tr>
          <tr class="row">
            <td>Safe (adj)</td>
            <td>An toàn</td>
            <td>Is the neighborhood <strong>safe</strong>?</td>
          </tr>
          <tr class="row">
            <td>Crime (n)</td>
            <td>Tội phạm</td>
            <td>There is some <strong>crime</strong> in the park, but nothing serious.</td>
          </tr>
          <tr class="row">
            <td>Bedrooms (n)</td>
            <td>Phòng ngủ</td>
            <td>Would you like to see the <strong>bedrooms</strong>?</td>
          </tr>
          <tr class="row">
            <td>Upstairs (n)</td>
            <td>Tầng trên</td>
            <td>Let's go <strong>upstairs</strong> then.</td>
          </tr>
          <tr class="row">
            <td>Bathroom (n)</td>
            <td>Phòng tắm</td>
            <td>This is the master bedroom, with its owwn <strong>bathroom</strong>.</td>
          </tr>
          <tr class="row">
            <td>Cozy (adj)</td>
            <td>Ấm cúng</td>
            <td>It's <strong>cozy</strong>.</td>
          </tr>
          <tr class="row">
            <td>Downstairs (n)</td>
            <td>Tầng dưới</td>
            <td>It's <strong>downstairs</strong>.</td>
          </tr>
          <tr class="row">
            <td>Rent (n)</td>
            <td>Tiền thuê</td>
            <td>And how much is the <strong>rent</strong>?</td>
          </tr>
          <tr class="row">
            <td>Sign (v)</td>
            <td>Ký, ký tên</td>
            <td>Sounds good. Let's <strong>sign</strong> the lease.</td>
          </tr>
          <tr class="row">
            <td>Lease (n)</td>
            <td>Hợp đồng cho thuê(bất động sản)</td>
            <td>Sounds good. Let's sign the <strong>lease</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>A nice view of</td>
            <td>Một tầm nhìn đẹp ra</td>
            <td>It has <strong>a nice view of</strong> the park from that window.</td>
          </tr>
          <tr class="row">
            <td>By the way</td>
            <td>Nhân tiện, nhân đây</td>
            <td>Oh, <strong>by the way</strong>, are pets allowed?</td>
          </tr>
          <tr class="row">
            <td>Master bedroom</td>
            <td>Phòng ngủ chính</td>
            <td>This is the <strong>master bedroom</strong>, with its own bathroom.</td>
          </tr>
          <tr class="row">
            <td>Home office</td>
            <td>Văn phòng tại nhà</td>
            <td>You can also use it as a <strong>home office</strong>.</td>
          </tr>
          <tr class="row">
            <td>Where is the second bathroom?</td>
            <td>Phòng tắm thứ hai ở đâu?</td>
            <td>-- <strong>Where is the second bathroom</strong>? <br> -- It's downstairs.</td>
          </tr>
          <tr class="row">
            <td>How much is the rent?</td>
            <td>Tiền thuê là bao nhiêu?</td>
            <td>-- And <strong>how much is the rent</strong>?<br> -- It's $800 a month... plus 50$, if you have pets.</td>
          </tr>
          <tr class="row">
            <td>It's $800 a month</td>
            <td>800 đô la một tháng</td>
            <td>-- And how much is the rent? <br> -- <strong>It's $800 a month</strong>... plus $50, if you have pets.</td>
          </tr>
          <tr class="row">
            <td>Sign the lease</td>
            <td>Ký hợp đồng thuê</td>
            <td>Sounds good. Let's <strong>sign the lease</strong>.</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: The Super Shopper</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Total (n)</td>
            <td>Tổng cộng, toàn bộ</td>
            <td>Your <strong>total</strong> will be seventy two.</td>
          </tr>
          <tr class="row">
            <td>Expected (v)</td>
            <td>Liệu trước, đoán trước</td>
            <td>That's more than I <strong>expected</strong>. How much is that fancy jelly? </td>
          </tr>
          <tr class="row">
            <td>Fancy (adj)</td>
            <td>Nhiều màu</td>
            <td>How much is that <strong>fancy</strong> jelly?</td>
          </tr>
          <tr class="row">
            <td>Jelly(n)</td>
            <td>Mứt</td>
            <td>How much is that fancy <strong>jelly</strong>?</td>
          </tr>
          <tr class="row">
            <td>Organic (adj)</td>
            <td>Hữu cơ</td>
            <td>The <strong>organic</strong> jelly is sixteen dollars.</td>
          </tr>
          <tr class="row">
            <td>Steep (adj)</td>
            <td>Quá cao</td>
            <td>Well, sixteen dollars is a little <strong>steep for one</strong>, but twenty-four dollars for two might be worth it.</td>
          </tr>
          <tr class="row">
            <td>Coupons (n)</td>
            <td>Phiếu giảm giá</td>
            <td>And I have some <strong>coupons</strong>...</td>
          </tr>
          <tr class="row">
            <td>Cash (n)</td>
            <td>Tiền mặt</td>
            <td>How would you like to pay? <strong>Cash</strong> or credit?</td>
          </tr>
          <tr class="row">
            <td>Credit (n)</td>
            <td>Tín dụng</td>
            <td>How would you like to pay? Cash or <strong>credit</strong>?</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>How would you like to pay?</td>
            <td>Chị muốn thanh toán như thế nào?</td>
            <td>Your total will be seventy two. <strong>How would you like to pay</strong>?</td>
          </tr>
          <tr class="row">
            <td>More than I expected</td>
            <td>Nhiều hơn tôi nghĩ,<br>nhiều hơn tôi mong đợi</td>
            <td>That's <strong>more than I expected</strong>. How much is that fancy jelly?</td>
          </tr>
          <tr class="row">
            <td>How much is</td>
            <td>Bao nhiêu</td>
            <td>That's more than I expected. <strong>How much is</strong> that fancy jelly?</td>
          </tr>
          <tr class="row">
            <td>Put that back</td>
            <td>Để cái đó lại</td>
            <td>Oh no. My daughter like it, but that's too much. I have to <strong>put that back</strong>.</td>
          </tr>
          <tr class="row">
            <td>On sale</td>
            <td>Đang giảm giá</td>
            <td>That's actually <strong>on sale</strong> now, buy one get on half off. Would you like to do that?</td>
          </tr>
          <tr class="row">
            <td>Buy one get one half off</td>
            <td>Mua 1 tặng 1 nửa</td>
            <td>That's actually on sale now, <strong>buy one get one half off</strong>. Would you like to do that?</td>
          </tr>
          <tr class="row">
            <td>Be word</td>
            <td>Đáng giá</td>
            <td>Well, sixteen dollars is a little <strong>steep for one</strong>, but twenty-four dollars for two might be worth it.</td>
          </tr>
          <tr class="row">
            <td>Would you like to</td>
            <td>Chị có muốn</td>
            <td><strong>Would you like to</strong> use all of those?</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: Why didn't you Come to My Party?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Outfit (n)</td>
            <td>Bộ đồ, trang phục</td>
            <td>Oh my gosh, look at this <strong>outfit</strong>. Isn't it great?</td>
          </tr>
          <tr class="row">
            <td>Tomboy (n)</td>
            <td>Cô nàng đẹp trai, chỉ những cô gái thể hiện cá tính giống một con trai</td>
            <td>You don't like the <strong>tomboy</strong> look?</td>
          </tr>
          <tr class="row">
            <td>Trendy (adj)</td>
            <td>Hợp thời, theo mốt</td>
            <td>It's <strong>trendy</strong>, but I think women should dress like women.</td>
          </tr>
          <tr class="row">
            <td>Respect (v)</td>
            <td>Tôn trọng</td>
            <td>I <strong>respect</strong> that. I think it's fun and cool to be a different sometimes.</td>
          </tr>
          <tr class="row">
            <td>Different (adj)</td>
            <td>Khác, thay đổi</td>
            <td>I respect that. I think it's fun and cool to be different sometimes.</td>
          </tr>
          <tr class="row">
            <td>Shoulders (n)</td>
            <td>Vai</td>
            <td>You're right. But my <strong>shoulders</strong> are too wide to pull it off.</td>
          </tr>
          <tr class="row">
            <td>Wish (v)</td>
            <td>Ước muốn</td>
            <td>No! I <strong>wish</strong> I had your shoulders.</td>
          </tr>
          <tr class="row">
            <td>Style (n)</td>
            <td>Phong cách</td>
            <td>It sounds like someone is going to have a whole new <strong>style</strong>!</td>
          </tr>
          <tr class="row">
            <td>Tomboy-ish</td>
            <td>Kiểu tomboy</td>
            <td>Yes. Maybe I'll try on some <strong>tomboy-ish</strong> stuff. Who knows, I might like it</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Dress like</td>
            <td>Mặc giống, mặc như</td>
            <td>It's trendy, but I think women should <strong>dress like</strong> women.</td>
          </tr>
          <tr class="row">
            <td>Pull it off</td>
            <td>Mặc cái gì đẹp</td>
            <td>You're right. But my shoulders are too wide to <strong>pull it off</strong>. I just look like a man.</td>
          </tr>
          <tr class="row">
            <td>Go shopping</td>
            <td>Đi mua sắm</td>
            <td>No! I wish I had your shoulders. Anyway, do you want to <strong>go shopping</strong>?</td>
          </tr>
          <tr class="row">
            <td>Try on</td>
            <td>Thử, mặc thử.</td>
            <td>Yes. Maybe I'll <strong>try on</strong> some tomboy-ish stuff. Who knows, I might like it.</td>
          </tr>
          <tr class="row">
            <td>It sounds like</td>
            <td>Nghe có vẻ như</td>
            <td><strong>It sounds like</strong> someone is going to have a whole new style!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <a href="index.php?directional=lession3-day21"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession4-day23"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>