<div class="col-lg-9">
  <img src="image/lession-05/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 29 - Nghe ngấm</h2>
  <h4>Topic 01: You Listen to What?</h4>
  <img src="image/lession-05/topic01.png" alt="" width="800px" height="200px">
  <h4>Bước 1: Nghe làm quen</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe toàn bộ <strong>Recording 5.1</strong> từ 2-3 lần: Chỉ nghe, không dùng giáo trình. Bạn chưa phải hiểu 100% nội dung.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.1 - Slow Speech - Topic 1- You Listen To What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nghe ngấm tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe lại <strong>Recording 5.1</strong> từ 3-5 lần: Sử dụng giáo trình, bản dịch và từ điển nếu cần. Mục tiêu bước này, hiểu trọn vẹn nội dung.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nhắm mắt và nghe lại <strong>Recording 5.1</strong> thêm 1 lần. Sau đó tưởng tượng lại phần thoại. Bạn đã hiểu hết nội dung? Nếu chưa, hãy nghe lại. Nếu rồi, chuyển sang bước tiếp
    theo.
  </h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.1 - Slow Speech - Topic 1- You Listen To What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Roland invited Gemma to a “secret” music show. Now, they’re in the show. Period!</td>
            <td>Roland mời Gemma tham gia một chương trình âm nhạc “bí mật”. Bây giờ, họ đang ở buổi biểu diễn. Chấm hết!</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>Wow! It’s so cold here!</strong></td>
            <td><strong>Chà! Ở đây lạnh quá!</strong></td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>‘Cuz there’re a lot of fans! Yeah!!</td>
            <td>Bởi vì có rất nhiều quạt! Yeah!!</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Oh my gosh, is that Black-Two?<strong>Are you into K-pop</strong>?</td>
            <td>Trời ơi, đó là Black-Two hả? <strong>Cậu thích nhạc Hàn Quốc à</strong>?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Yes, <strong>promise you won’t tell anyone</strong>, okay?</td>
            <td>Ừ, làm ơn <strong>hứa là cậu sẽ không nói cho ai biết</strong> nhé?</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Of course. You’re not the only one. I think K-pop is cool, too. <strong>What other kinds of music</strong> do you like?</td>
            <td>Tất nhiên rồi. Tất nhiên rồi. Cậu không phải là người duy nhất. Tôi nghĩ là nhạc Hàn cũng tuyệt mà. Cậu có <strong>thích loại nhạc nào khác</strong> nữa không?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Actually, K-pop is the only kind of <strong>music</strong> I <strong>listen</strong> to. Yoon Yojong is my <strong>idol</strong>. But please keep this a secret, all of my friends only listen to <strong>hip hop</strong>.</td>
            <td>Thật ra thì K-pop là loại <strong>nhạc</strong> duy nhất mà tôi <strong>nghe</strong>. Yoon Yojong là thần tượng của tôi. Nhưng làm ơn giữ bí mật nhé, tất cả bạn bè của tôi chỉ nghe <strong>nhạc hip hop</strong> thôi.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>I understand how you feel. I used to be embarrassed about liking folk music</strong>.</td>
            <td><strong>Tôi hiểu cảm giác của cậu. Tôi đã từng thấy xấu hổ khi thích nhạc dân ca</strong>.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Really? <strong>What do you like about folk music</strong>?</td>
            <td>Thật á? <strong>Cậu thích gì ở dân ca</strong>?</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Folk music is really <strong>meaningful to me</strong>, and I think that it’s beautiful.</td>
            <td>Nhạc dân ca rất có <strong>ý nghĩa với tôi</strong>, và tôi thấy nó hay.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Yeah. I feel the same way about K-pop… The whole meaningful thing.</td>
            <td>Đúng, tôi cũng cảm thấy như vậy đối với nhạc Hàn… Rất có ý nghĩa.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>You think so</strong>?</td>
            <td><strong>Cậu nghĩ thế à</strong>?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>I know so.</td>
            <td>Tôi biết là vậy.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Maybe <strong>I’ll have to listen to more of it</strong> then.</td>
            <td>Có lẽ sau này <strong>tôi sẽ phải nghe nó nhiều hơn</strong> nữa.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Okay now! <strong>Put your hands up in the air</strong>!!! Yeah!!!</td>
            <td>Được rồi! Giờ thì hãy <strong>cháy hết mình thôi nào</strong>! Yeah!!!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 3: Nghe ngấm tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 5.2</strong> từ 5-7 lần, cho tới khi bạn thấy dễ dàng trong việc nghe và hiểu toàn bộ các câu ở tốc độ này.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.2 - Native Speech - Topic 1 - You Listen To What.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Roland invited Gemma to a “secret” music show. Now, they’re in the show. Period!</td>
            <td>Roland mời Gemma tham gia một chương trình âm nhạc “bí mật”. Bây giờ, họ đang ở buổi biểu diễn. Chấm hết!</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>Wow! It’s so cold here!</strong></td>
            <td><strong>Chà! Ở đây lạnh quá!</strong></td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>‘Cuz there’re a lot of fans! Yeah!!</td>
            <td>Bởi vì có rất nhiều quạt! Yeah!!</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Oh my gosh, is that Black-Two?<strong>Are you into K-pop</strong>?</td>
            <td>Trời ơi, đó là Black-Two hả? <strong>Cậu thích nhạc Hàn Quốc à</strong>?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Yes, <strong>promise you won’t tell anyone</strong>, okay?</td>
            <td>Ừ, làm ơn <strong>hứa là cậu sẽ không nói cho ai biết</strong> nhé?</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Of course. You’re not the only one. I think K-pop is cool, too. <strong>What other kinds of music</strong> do you like?</td>
            <td>Tất nhiên rồi. Tất nhiên rồi. Cậu không phải là người duy nhất. Tôi nghĩ là nhạc Hàn cũng tuyệt mà. Cậu có <strong>thích loại nhạc nào khác</strong> nữa không?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Actually, K-pop is the only kind of <strong>music</strong> I <strong>listen</strong> to. Yoon Yojong is my <strong>idol</strong>. But please keep this a secret, all of my friends only listen to <strong>hip hop</strong>.</td>
            <td>Thật ra thì K-pop là loại <strong>nhạc</strong> duy nhất mà tôi <strong>nghe</strong>. Yoon Yojong là thần tượng của tôi. Nhưng làm ơn giữ bí mật nhé, tất cả bạn bè của tôi chỉ nghe <strong>nhạc hip hop</strong> thôi.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>I understand how you feel. I used to be embarrassed about liking folk music</strong>.</td>
            <td><strong>Tôi hiểu cảm giác của cậu. Tôi đã từng thấy xấu hổ khi thích nhạc dân ca</strong>.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Really? <strong>What do you like about folk music</strong>?</td>
            <td>Thật á? <strong>Cậu thích gì ở dân ca</strong>?</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Folk music is really <strong>meaningful to me</strong>, and I think that it’s beautiful.</td>
            <td>Nhạc dân ca rất có <strong>ý nghĩa với tôi</strong>, và tôi thấy nó hay.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Yeah. I feel the same way about K-pop… The whole meaningful thing.</td>
            <td>Đúng, tôi cũng cảm thấy như vậy đối với nhạc Hàn… Rất có ý nghĩa.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td><strong>You think so</strong>?</td>
            <td><strong>Cậu nghĩ thế à</strong>?</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>I know so.</td>
            <td>Tôi biết là vậy.</td>
          </tr>
          <tr class="row">
            <td>Gemma</td>
            <td>Maybe <strong>I’ll have to listen to more of it</strong> then.</td>
            <td>Có lẽ sau này <strong>tôi sẽ phải nghe nó nhiều hơn</strong> nữa.</td>
          </tr>
          <tr class="row">
            <td>Roland</td>
            <td>Okay now! <strong>Put your hands up in the air</strong>!!! Yeah!!!</td>
            <td>Được rồi! Giờ thì hãy <strong>cháy hết mình thôi nào</strong>! Yeah!!!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: I Prefer Comedies</h4>
  <img src="image/lession-05/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 5.3</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 5.4</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.3 - Slow Speech -Topic 2- I Prefer Comedies.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lauren invites Carl to go see The Ring, a new horror movie, but Carl isn’t a fan of this genre.</td>
            <td>Lauren mời Carl đi xem The Ring – Vòng tròn định mệnh, một bộ phim kinh dị mới, nhưng Carl không phải là một fan hâm mộ của thể loại phim này.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Hey, Carl, <strong>do you like</strong> scary movies?</td>
            <td>Này, Carl, <strong>cậu có thích</strong> phim kinh dị không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>It <strong>depends</strong>. What movie are you talking about?</td>
            <td>Cũng <strong>tùy</strong>. Cậu đang nói đến phim nào?</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Well, <strong>I really want to see</strong> The Ring, <strong>it just came out</strong>. Do you want to see it with me?</td>
            <td>Xem nào, <strong>tôi thực sự muốn xem</strong> The Ring – <strong>phim vừa mới ra</strong>. Cậu có muốn đi xem với tôi không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>Oh gosh, I don’t know… <strong>that sounds a little too scary for me</strong>.</td>
            <td>Trời ơi, tôi không biết nữa… <strong>nó nghe hơi đáng sợ với tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Wait a second, <strong>are you a chicken</strong>?</td>
            <td>Chờ chút, <strong>cậu nhát gan thế sao</strong>?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>No way! <strong>I just prefer comedies</strong>. To me, <strong>the whole point of movies is to make people laugh</strong>.</td>
            <td>Không đời nào! <strong>Chỉ là tôi thích các bộ phim hài hơn</strong>. Với tôi, <strong>mục đích cuối cùng của các bộ phim là để khiến mọi người cười</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Well <strong>what about dramas</strong>, do you like those?</td>
            <td><strong>Thế còn những bộ phim truyền hình thì sao</strong>, cậu thích chúng không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>They’re okay, I <strong>guess</strong>. Are there any good dramas <strong>out right now</strong>?</td>
            <td>Cũng được, tôi <strong>đoán</strong> vậy. Có bộ phim truyền hình nào hay <strong>đang chiếu</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>I know that a French one is <strong>showing at</strong> the little <strong>movie theater downtown</strong>.</td>
            <td>Tôi thấy một bộ phim của Pháp <strong>đang chiếu ở</strong> một <strong>rạp chiếu phim</strong> nhỏ chỗ <strong>trung tâm thành phố</strong>.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>A <strong>foreign film</strong>? So I’ll have to read <strong>subtitles</strong> the whole time? … What time is the The Ring?</td>
            <td><strong>Phim nước ngoài</strong> à? Vậy là tôi sẽ phải đọc <strong>phụ đề</strong> suốt bộ phim? … Mấy giờ chiếu The Ring?</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.4 - Native Speech - Topic 2 - I Prefer Comedies.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>Lauren invites Carl to go see The Ring, a new horror movie, but Carl isn’t a fan of this genre.</td>
            <td>Lauren mời Carl đi xem The Ring – Vòng tròn định mệnh, một bộ phim kinh dị mới, nhưng Carl không phải là một fan hâm mộ của thể loại phim này.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Hey, Carl, <strong>do you like</strong> scary movies?</td>
            <td>Này, Carl, <strong>cậu có thích</strong> phim kinh dị không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>It <strong>depends</strong>. What movie are you talking about?</td>
            <td>Cũng <strong>tùy</strong>. Cậu đang nói đến phim nào?</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Well, <strong>I really want to see</strong> The Ring, <strong>it just came out</strong>. Do you want to see it with me?</td>
            <td>Xem nào, <strong>tôi thực sự muốn xem</strong> The Ring – <strong>phim vừa mới ra</strong>. Cậu có muốn đi xem với tôi không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>Oh gosh, I don’t know… <strong>that sounds a little too scary for me</strong>.</td>
            <td>Trời ơi, tôi không biết nữa… <strong>nó nghe hơi đáng sợ với tôi</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Wait a second, <strong>are you a chicken</strong>?</td>
            <td>Chờ chút, <strong>cậu nhát gan thế sao</strong>?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>No way! <strong>I just prefer comedies</strong>. To me, <strong>the whole point of movies is to make people laugh</strong>.</td>
            <td>Không đời nào! <strong>Chỉ là tôi thích các bộ phim hài hơn</strong>. Với tôi, <strong>mục đích cuối cùng của các bộ phim là để khiến mọi người cười</strong>.</td>
          </tr>
          <tr class="row">
            <td>Lauren</td>
            <td>Well <strong>what about dramas</strong>, do you like those?</td>
            <td><strong>Thế còn những bộ phim truyền hình thì sao</strong>, cậu thích chúng không?</td>
          </tr>
          <tr class="row">
            <td>Carl</td>
            <td>They’re okay, I <strong>guess</strong>. Are there any good dramas <strong>out right now</strong>?</td>
            <td>Cũng được, tôi <strong>đoán</strong> vậy. Có bộ phim truyền hình nào hay <strong>đang chiếu</strong> không?</td>
          </tr>
          <tr class="row">
            <td>Cashier</td>
            <td>I know that a French one is <strong>showing at</strong> the little <strong>movie theater downtown</strong>.</td>
            <td>Tôi thấy một bộ phim của Pháp <strong>đang chiếu ở</strong> một <strong>rạp chiếu phim</strong> nhỏ chỗ <strong>trung tâm thành phố</strong>.</td>
          </tr>
          <tr class="row">
            <td>Mary</td>
            <td>A <strong>foreign film</strong>? So I’ll have to read <strong>subtitles</strong> the whole time? … What time is the The Ring?</td>
            <td><strong>Phim nước ngoài</strong> à? Vậy là tôi sẽ phải đọc <strong>phụ đề</strong> suốt bộ phim? … Mấy giờ chiếu The Ring?</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: My Favorite Sport (Không Bắt Buộc)</h4>
  <img src="image/lession-05/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 5.5</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 5.6</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.5 - Slow Speech - Topic 3 - My Favorite Sport.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Someone asked me the other day, what my <strong>favorite sport</strong> is and I realized, I don’t have a favorite sport.</td>
            <td>Một ngày nọ có người hỏi tôi, môn <strong>thể thao yêu thích</strong> của tôi là gì và tôi nhận ra, tôi không có một môn thể thao yêu thích nào cả.</td>
          </tr>
          <tr class="row">
            <td>Some of my friends are really into <strong>American football</strong>. I guess <strong>it’s fun</strong> – if you like <strong>getting crushed</strong> by a guy who’s the size of a refrigerator.</td>
            <td>Một số bạn bè của tôi cực kỳ thích <strong>bóng đá kiểu Mỹ (bóng bầu dục Mỹ)</strong>. Tôi nghĩ là <strong>nó thú vị</strong> – nếu như bạn thích <strong>bị đè bẹp</strong> bởi một anh chàng to như cái tủ lạnh.</td>
          </tr>
          <tr class="row">
            <td>I have another friend who’s absolutely <strong>crazy about badminton</strong>. That’s right, “crazy” about it, but it’s true. The guy lives for badminton! I, on the other hand, <strong>get bored out of my mind chasing</strong> a little “birdie”
              around the backyard. Although, now that I think about it, I’d rather flail around the backyard chasing a little birdie than become a birdbrain after getting crushed by a tank on the football field!</td>
            <td>Tôi có một người bạn khác thì <strong>điên cuồng vì cầu lông</strong>. Đúng vậy, “phát điên” vì nó, nhưng đó là sự thật. Anh chàng đó sống vì cầu lông! Tôi, mặt khác, thì thấy <strong>chán ngán</strong> khi phải chạy theo một “chú chim” nhỏ
              (ý nói “quả cầu lông”) ở sân sau. Dù vậy, sau khi cân nhắc, tôi thà <strong>chạy quanh</strong> sân sau <strong>đuổi</strong> theo một chú chim nhỏ còn hơn là trở thành một kẻ ngốc sau khi bị một cỗ xe tăng trên sân bóng (ý nói “anh chàng
              to như cái tủ lạnh”) đè bẹp! <br> (Ý nói: Người kể không thích cầu lông, nhưng thà chơi cầu lông còn hơn là chơi bóng đá.)</td>
          </tr>
          <tr class="row">
            <td><strong>Swimming</strong> is fun – mostly, but it’s <strong>challenging</strong>. When it’s not fun, I feel like I’m drowning, that’s no fun! On the other hand, if I learn how to swim and someone else is <strong>drowning</strong>, I might
              be able to <strong>save a life</strong>. That’d be fun.</td>
            <td><strong>Bơi lội</strong> hay đấy – nói chung là thế, nhưng cũng đầy thách thức. Khi mà bơi không có gì thú vị, tôi cảm giác như mình sắp chết đuối, thế thì chẳng vui gì cả! Mặt khác, nếu tôi học bơi và có ai đó sắp <strong>chết đuối</strong>,
              tôi có thể <strong>cứu một mạng sống</strong>.Đó sẽ là niềm vui đấy.</td>
          </tr>
          <tr class="row">
            <td>Maybe I’ll just learn how to play <strong>Gin Rummy</strong>, instead. Without the Rummy part, that is. <strong>Why complicate things</strong>?Life’s too short for sports.</td>
            <td>Có thể thay vào đó tôi sẽ chỉ học cách chơi <strong>bài Gin Rummy</strong>. Hoặc ý tôi là bỏ phần “Rummy” đi. <strong>Tại sao phải phức tạp hóa mọi thứ</strong>? Cuộc sống quá ngắn ngủi để chơi thể thao.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.6 - Native Speech - Topic 3 - My Favorite Sport.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Someone asked me the other day, what my <strong>favorite sport</strong> is and I realized, I don’t have a favorite sport.</td>
            <td>Một ngày nọ có người hỏi tôi, môn <strong>thể thao yêu thích</strong> của tôi là gì và tôi nhận ra, tôi không có một môn thể thao yêu thích nào cả.</td>
          </tr>
          <tr class="row">
            <td>Some of my friends are really into <strong>American football</strong>. I guess <strong>it’s fun</strong> – if you like <strong>getting crushed</strong> by a guy who’s the size of a refrigerator.</td>
            <td>Một số bạn bè của tôi cực kỳ thích <strong>bóng đá kiểu Mỹ (bóng bầu dục Mỹ)</strong>. Tôi nghĩ là <strong>nó thú vị</strong> – nếu như bạn thích <strong>bị đè bẹp</strong> bởi một anh chàng to như cái tủ lạnh.</td>
          </tr>
          <tr class="row">
            <td>I have another friend who’s absolutely <strong>crazy about badminton</strong>. That’s right, “crazy” about it, but it’s true. The guy lives for badminton! I, on the other hand, <strong>get bored out of my mind chasing</strong> a little “birdie”
              around the backyard. Although, now that I think about it, I’d rather flail around the backyard chasing a little birdie than become a birdbrain after getting crushed by a tank on the football field!</td>
            <td>Tôi có một người bạn khác thì <strong>điên cuồng vì cầu lông</strong>. Đúng vậy, “phát điên” vì nó, nhưng đó là sự thật. Anh chàng đó sống vì cầu lông! Tôi, mặt khác, thì thấy <strong>chán ngán</strong> khi phải chạy theo một “chú chim” nhỏ
              (ý nói “quả cầu lông”) ở sân sau. Dù vậy, sau khi cân nhắc, tôi thà <strong>chạy quanh</strong> sân sau <strong>đuổi</strong> theo một chú chim nhỏ còn hơn là trở thành một kẻ ngốc sau khi bị một cỗ xe tăng trên sân bóng (ý nói “anh chàng
              to như cái tủ lạnh”) đè bẹp! <br> (Ý nói: Người kể không thích cầu lông, nhưng thà chơi cầu lông còn hơn là chơi bóng đá.)</td>
          </tr>
          <tr class="row">
            <td><strong>Swimming</strong> is fun – mostly, but it’s <strong>challenging</strong>. When it’s not fun, I feel like I’m drowning, that’s no fun! On the other hand, if I learn how to swim and someone else is <strong>drowning</strong>, I might
              be able to <strong>save a life</strong>. That’d be fun.</td>
            <td><strong>Bơi lội</strong> hay đấy – nói chung là thế, nhưng cũng đầy thách thức. Khi mà bơi không có gì thú vị, tôi cảm giác như mình sắp chết đuối, thế thì chẳng vui gì cả! Mặt khác, nếu tôi học bơi và có ai đó sắp <strong>chết đuối</strong>,
              tôi có thể <strong>cứu một mạng sống</strong>.Đó sẽ là niềm vui đấy.</td>
          </tr>
          <tr class="row">
            <td>Maybe I’ll just learn how to play <strong>Gin Rummy</strong>, instead. Without the Rummy part, that is. <strong>Why complicate things</strong>?Life’s too short for sports.</td>
            <td>Có thể thay vào đó tôi sẽ chỉ học cách chơi <strong>bài Gin Rummy</strong>. Hoặc ý tôi là bỏ phần “Rummy” đi. <strong>Tại sao phải phức tạp hóa mọi thứ</strong>? Cuộc sống quá ngắn ngủi để chơi thể thao.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h3>Further practice: Luyện từ và mẫu câu chủ đạo</h3>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy ôn lại cụm từ và cách diễn đạt nổi bật tại 3 topics bằng cách nghe và nói theo Recording 5.7 từ 1-3 lần..</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 29 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.7 - Immersion.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: You Listen to What?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Cole (adj)</td>
            <td>Lạnh</td>
            <td>Wow! It’s so <strong>cold</strong> here!</td>
          </tr>
          <tr class="row">
            <td>Promise (v)</td>
            <td>Hứa</td>
            <td>Yes, <strong>promise</strong> you won’t tell anyone, okay?</td>
          </tr>
          <tr class="row">
            <td>Music (n)</td>
            <td>Âm nhạc</td>
            <td>Actually, K-pop is the only kind of <strong>music</strong> I listen to.</td>
          </tr>
          <tr class="row">
            <td>Listen (v)</td>
            <td>Nghe</td>
            <td>Actually, K-pop is the only kind of music I <strong>listen</strong> to.</td>
          </tr>
          <tr class="row">
            <td>Idol (n)</td>
            <td>Thần tượng</td>
            <td>Yoon Yojong is my <strong>idol</strong>.</td>
          </tr>
          <tr class="row">
            <td>Hip hop (n)</td>
            <td>Nhạc hip-hop</td>
            <td>But please keep this a secret, all of my friends only listen to <strong>hip hop</strong>.</td>
          </tr>
          <tr class="row">
            <td>Understand (v)</td>
            <td>Hiểu, nắm được ý (của một người)</td>
            <td>I <strong>understand</strong> how you feel.</td>
          </tr>
          <tr class="row">
            <td>Feel (v)</td>
            <td>Cảm thấy, cảm giác</td>
            <td>I understand how you <strong>feel</strong>.</td>
          </tr>
          <tr class="row">
            <td>Folk music (n)</td>
            <td>Nhạc dân ca</td>
            <td>I used to be embarrassed about liking <strong>folk music</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Wow! It’s so cold here!</td>
            <td>Chà! Ở đây lạnh quá!</td>
            <td>– <strong>Wow! It’s so cold here</strong>!<br> – ‘Cuz there’re a lot of fans! Yeah!!</td>
          </tr>
          <tr class="row">
            <td>Are you into K-pop?</td>
            <td>Cậu thích nhạc Hàn Quốc à?</td>
            <td>Oh my gosh, is that Black-Two? <strong>Are you into K-pop</strong>?</td>
          </tr>
          <tr class="row">
            <td>Promise you won’t tell anyone</td>
            <td>Hứa là cậu sẽ không nói cho ai biết</td>
            <td>– <strong>Promise you won’t tell anyone</strong>, okay?.<br> – Of course. You’re not the only one. I think K-pop is cool, too.</td>
          </tr>
          <tr class="row">
            <td>What other kinds of music</td>
            <td>Loại nhạc nào khác</td>
            <td>I think K-pop is cool, too. <strong>What other kinds of music</strong> do you like?</td>
          </tr>
          <tr class="row">
            <td>I understand how you feel</td>
            <td>Tôi hiểu cảm giác của cậu</td>
            <td><strong>I understand how you feel</strong>. I used to be embarrassed about liking folk music.</td>
          </tr>
          <tr class="row">
            <td>I used to be embarrassed about liking folk music</td>
            <td>Tôi đã từng thấy xấu hổi khi thích nhạc dân ca</td>
            <td>I understand how you feel. <strong>I used to be embarrassed about liking folk music</strong>.</td>
          </tr>
          <tr class="row">
            <td>What do you like about folk music?</td>
            <td>Cậu thích gì ở nhạc dân ca?</td>
            <td>– Really? <strong>What do you like about folk music</strong>?<br> – Folk music is really meaningful to me, and I think that it’s beautiful.</td>
          </tr>
          <tr class="row">
            <td>Meaningful to me</td>
            <td>Ý nghĩa với tôi</td>
            <td>– Really? What do you like about folk music?<br> – Folk music is really <strong>meaningful to me</strong>, and I think that it’s beautiful.</td>
          </tr>
          <tr class="row">
            <td>You think so?</td>
            <td>Cậu nghĩ vậy à?</td>
            <td>– Yeah, I feel the same way about K-pop… The whole meaningful thing.<br> – <strong>You think so</strong>?</td>
          </tr>
          <tr class="row">
            <td>I’ll have to listen to more of it</td>
            <td>Tôi sẽ phải nghe nó nhiều hơn</td>
            <td>Maybe <strong>I’ll have to listen to more of it</strong> then.</td>
          </tr>
          <tr class="row">
            <td>Put your hands up in the air</td>
            <td>Cháy hết mình thôi nào</td>
            <td>Okay now! <strong>Put your hands up in the air</strong>!!! Yeah!!!</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: I Prefer Comedies</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Depand (v)</td>
            <td>Phụ thuộc, tùy thuộc</td>
            <td>It <strong>depands</strong> What movie are you talking about?.</td>
          </tr>
          <tr class="row">
            <td>Comedies (n)</td>
            <td>Phim hài</td>
            <td>No way! I just prefer <strong>comedies</strong>.</td>
          </tr>
          <tr class="row">
            <td>Dramas (n)</td>
            <td>Phim truyền hình</td>
            <td>Well what about <strong>dramas</strong>, do you like those?</td>
          </tr>
          <tr class="row">
            <td>Guess (v)</td>
            <td>Đoán, nghĩ, chắc rằng</td>
            <td>They’re okay, I <strong>guess</strong>.</td>
          </tr>
          <tr class="row">
            <td>Subtitles (n)</td>
            <td>Phụ đề</td>
            <td>A foreign film? So I’ll have to read <strong>subtitles</strong> the whole time?</td>
          </tr>
          <tr class="row">
            <td>Movie theater (n)</td>
            <td>Rạp chiếu phim</td>
            <td>I know that a French one showing at the little <strong>movie theater</strong> downtown.</td>
          </tr>
          <tr class="row">
            <td>Downtown (n)</td>
            <td>Trung tâm thành phố </td>
            <td>I know that a French one showing at the little movie theater <strong>downtown</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Do you like</td>
            <td>Cậu có thích</td>
            <td>Hey, Carl, <strong>do you like</strong> scary movies?</td>
          </tr>
          <tr class="row">
            <td>I really want to see</td>
            <td>Tôi rất muốn xem</td>
            <td>Well, <strong>I really want to see</strong> The Ring, it just came out.</td>
          </tr>
          <tr class="row">
            <td>It just came out</td>
            <td>Vừa mới ra mắt</td>
            <td>Well, I really want to see The Ring, <strong>it just came out</strong>.</td>
          </tr>
          <tr class="row">
            <td>That sounds a little too scary for me</td>
            <td>Cái đó nghe hơi quá đáng sợ với tôi </td>
            <td>Oh gosh, I don’t know… <strong>that sounds a little too scary for me</strong>.</td>
          </tr>
          <tr class="row">
            <td>Are you a chicken?</td>
            <td>Cậu nhát gan thế à?</td>
            <td>Wait a second, <strong>are you a chicken</strong>?</td>
          </tr>
          <tr class="row">
            <td>I just prefer comedies</td>
            <td>Chỉ là tôi thích các phim hài hơn</td>
            <td>No way! <strong>I just prefer comedies</strong>. To me, the whole point of movies is to make people laugh.</td>
          </tr>
          <tr class="row">
            <td>The whole point of movies is to make people laugh</td>
            <td>Mục đích cuối cùng của các bộ phim là để khiến mọi người cười</td>
            <td>No way! I just prefer comedies. To me, <strong>the whole point of movies is to make people laugh</strong>.</td>
          </tr>
          <tr class="row">
            <td>What about dramas</td>
            <td>Thế những bộ phim truyền hình thì sao</td>
            <td>Well <strong>what about dramas</strong>, do you like those?</td>
          </tr>
          <tr class="row">
            <td>Out right now</td>
            <td>Đang chiếu</td>
            <td>They’re okay, I guess. Are any good dramas <strong>out right now</strong>?</td>
          </tr>
          <tr class="row">
            <td>Showing at</td>
            <td>Đang chiếu tại</td>
            <td>I know that a French one <strong>showing at</strong> the little movie theatre downtown.</td>
          </tr>
          <tr class="row">
            <td>Foreign film</td>
            <td>Phim nước ngoài</td>
            <td>A <strong>foreign film</strong>? So I’ll have to read subtitles the whole time?</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: My Favorite Sport</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>American football (n)</td>
            <td>Bóng đá kiểu Mỹ hay còn gọi là bóng bầu dục Mỹ (tiếng lóng gọi là bóng cà na)</td>
            <td>Some of my friends are really into <strong>American football</strong>.</td>
          </tr>
          <tr class="row">
            <td>Badminton (n)</td>
            <td>Cầu lông</td>
            <td>I have another friend, who’s absolutely crazy about <strong>badminton</strong>.</td>
          </tr>
          <tr class="row">
            <td>Swimming (n)</td>
            <td>Bơi lội</td>
            <td><strong>Swimming</strong> is fun – mostly, but it’s challenging.</td>
          </tr>
          <tr class="row">
            <td>Gin Rummy (n)</td>
            <td>Bài Gin Rummy</td>
            <td>Maybe I’ll just learn how to play <strong>Gin Rummy</strong>, instead.</td>
          </tr>
          <tr class="row">
            <td>Chasing (v)</td>
            <td>Đuổi, săn đuổi</td>
            <td>I, on the other hand, get bored out of my mind <strong>chasing</strong> a little “birdie” around the backyard.</td>
          </tr>
          <tr class="row">
            <td>Challenging (adj)</td>
            <td>Khó khăn, thách thức</td>
            <td>Swimming is fun – mostly, but it’s <strong>challenging</strong>.</td>
          </tr>
          <tr class="row">
            <td>Drowning (v)</td>
            <td>Chết đuối</td>
            <td>On the other hand, if I learn how to swim and someone else is <strong>drowning</strong>, I might be able to save a life.</td>
          </tr>
          <tr class="row">
            <td>Flail (v)</td>
            <td>Chạy quanh</td>
            <td>Although, now that I think about it, I’d rather <strong>flail</strong> around the backyard chasing a little birdie…</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Favorite sport </td>
            <td>Môn thể thao yêu thích</td>
            <td>Someone asked me the other day, what my <strong>favorite sport</strong> is and I realized, I don’t have a <strong>favorite sport</strong>.</td>
          </tr>
          <tr class="row">
            <td>It's fun</td>
            <td>Vui, thú vị, hay đấy</td>
            <td>I guess <strong>it's fun</strong> <br>- if you like getting crushed by a guy who's the size of refrigerator.</td>
          </tr>
          <tr class="row">
            <td>Getting crushed</td>
            <td>Bị đè bẹp</td>
            <td>I guess it’s fun – if you like <strong>getting crushed</strong> by a guy who’s the size of a refrigerator.</td>
          </tr>
          <tr class="row">
            <td>Crazy about badminton</td>
            <td>Điên cuồng vì cầu lông</td>
            <td>I have another friend, who’s absolutely <strong>crazy about badminton</strong>.</td>
          </tr>
          <tr class="row">
            <td>Get bored out of my mind</td>
            <td>Chán ngán</td>
            <td>I, on the other hand, <strong>get bored out of my mind</strong> chasing a little “birdie” around the backyard.</td>
          </tr>
          <tr class="row">
            <td>Save a life</td>
            <td>Cứu một mạng sống</td>
            <td>On the other hand, if I learn how to swim and someone else is drowning, I might be able to <strong>save a life</strong>. That’d be fun.</td>
          </tr>
          <tr class="row">
            <td>Why complicate things?</td>
            <td>Tại sao phải phức tạp hóa mọi thứ?</td>
            <td><strong>Why complicate things</strong>? Life’s too short for sports.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <a href="index.php?directional=lession4-day28"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession5-day30"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>