<div class="col-lg-9">
  <h2>Ngày 33 - Phản xạ đa chiều - My Favorite Sport (Không Bắt Buộc)</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-05/topic03.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 5.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 33 - My Favorite Sport (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="3">
              <h3>Topic 01: You Listen to What?</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Cole (adj)</td>
            <td>Lạnh</td>
            <td>Wow! It’s so <strong>cold</strong> here!</td>
          </tr>
          <tr class="row">
            <td>Promise (v)</td>
            <td>Hứa</td>
            <td>Yes, <strong>promise</strong> you won’t tell anyone, okay?</td>
          </tr>
          <tr class="row">
            <td>Music (n)</td>
            <td>Âm nhạc</td>
            <td>Actually, K-pop is the only kind of <strong>music</strong> I listen to.</td>
          </tr>
          <tr class="row">
            <td>Listen (v)</td>
            <td>Nghe</td>
            <td>Actually, K-pop is the only kind of music I <strong>listen</strong> to.</td>
          </tr>
          <tr class="row">
            <td>Idol (n)</td>
            <td>Thần tượng</td>
            <td>Yoon Yojong is my <strong>idol</strong>.</td>
          </tr>
          <tr class="row">
            <td>Hip hop (n)</td>
            <td>Nhạc hip-hop</td>
            <td>But please keep this a secret, all of my friends only listen to <strong>hip hop</strong>.</td>
          </tr>
          <tr class="row">
            <td>Understand (v)</td>
            <td>Hiểu, nắm được ý (của một người)</td>
            <td>I <strong>understand</strong> how you feel.</td>
          </tr>
          <tr class="row">
            <td>Feel (v)</td>
            <td>Cảm thấy, cảm giác</td>
            <td>I understand how you <strong>feel</strong>.</td>
          </tr>
          <tr class="row">
            <td>Folk music (n)</td>
            <td>Nhạc dân ca</td>
            <td>I used to be embarrassed about liking <strong>folk music</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Wow! It’s so cold here!</td>
            <td>Chà! Ở đây lạnh quá!</td>
            <td>– <strong>Wow! It’s so cold here</strong>!<br> – ‘Cuz there’re a lot of fans! Yeah!!</td>
          </tr>
          <tr class="row">
            <td>Are you into K-pop?</td>
            <td>Cậu thích nhạc Hàn Quốc à?</td>
            <td>Oh my gosh, is that Black-Two? <strong>Are you into K-pop</strong>?</td>
          </tr>
          <tr class="row">
            <td>Promise you won’t tell anyone</td>
            <td>Hứa là cậu sẽ không nói cho ai biết</td>
            <td>– <strong>Promise you won’t tell anyone</strong>, okay?.<br> – Of course. You’re not the only one. I think K-pop is cool, too.</td>
          </tr>
          <tr class="row">
            <td>What other kinds of music</td>
            <td>Loại nhạc nào khác</td>
            <td>I think K-pop is cool, too. <strong>What other kinds of music</strong> do you like?</td>
          </tr>
          <tr class="row">
            <td>I understand how you feel</td>
            <td>Tôi hiểu cảm giác của cậu</td>
            <td><strong>I understand how you feel</strong>. I used to be embarrassed about liking folk music.</td>
          </tr>
          <tr class="row">
            <td>I used to be embarrassed about liking folk music</td>
            <td>Tôi đã từng thấy xấu hổi khi thích nhạc dân ca</td>
            <td>I understand how you feel. <strong>I used to be embarrassed about liking folk music</strong>.</td>
          </tr>
          <tr class="row">
            <td>What do you like about folk music?</td>
            <td>Cậu thích gì ở nhạc dân ca?</td>
            <td>– Really? <strong>What do you like about folk music</strong>?<br> – Folk music is really meaningful to me, and I think that it’s beautiful.</td>
          </tr>
          <tr class="row">
            <td>Meaningful to me</td>
            <td>Ý nghĩa với tôi</td>
            <td>– Really? What do you like about folk music?<br> – Folk music is really <strong>meaningful to me</strong>, and I think that it’s beautiful.</td>
          </tr>
          <tr class="row">
            <td>You think so?</td>
            <td>Cậu nghĩ vậy à?</td>
            <td>– Yeah, I feel the same way about K-pop… The whole meaningful thing.<br> – <strong>You think so</strong>?</td>
          </tr>
          <tr class="row">
            <td>I’ll have to listen to more of it</td>
            <td>Tôi sẽ phải nghe nó nhiều hơn</td>
            <td>Maybe <strong>I’ll have to listen to more of it</strong> then.</td>
          </tr>
          <tr class="row">
            <td>Put your hands up in the air</td>
            <td>Cháy hết mình thôi nào</td>
            <td>Okay now! <strong>Put your hands up in the air</strong>!!! Yeah!!!</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 02: I Prefer Comedies</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>Depand (v)</td>
            <td>Phụ thuộc, tùy thuộc</td>
            <td>It <strong>depands</strong> What movie are you talking about?.</td>
          </tr>
          <tr class="row">
            <td>Comedies (n)</td>
            <td>Phim hài</td>
            <td>No way! I just prefer <strong>comedies</strong>.</td>
          </tr>
          <tr class="row">
            <td>Dramas (n)</td>
            <td>Phim truyền hình</td>
            <td>Well what about <strong>dramas</strong>, do you like those?</td>
          </tr>
          <tr class="row">
            <td>Guess (v)</td>
            <td>Đoán, nghĩ, chắc rằng</td>
            <td>They’re okay, I <strong>guess</strong>.</td>
          </tr>
          <tr class="row">
            <td>Subtitles (n)</td>
            <td>Phụ đề</td>
            <td>A foreign film? So I’ll have to read <strong>subtitles</strong> the whole time?</td>
          </tr>
          <tr class="row">
            <td>Movie theater (n)</td>
            <td>Rạp chiếu phim</td>
            <td>I know that a French one showing at the little <strong>movie theater</strong> downtown.</td>
          </tr>
          <tr class="row">
            <td>Downtown (n)</td>
            <td>Trung tâm thành phố </td>
            <td>I know that a French one showing at the little movie theater <strong>downtown</strong>.</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Do you like</td>
            <td>Cậu có thích</td>
            <td>Hey, Carl, <strong>do you like</strong> scary movies?</td>
          </tr>
          <tr class="row">
            <td>I really want to see</td>
            <td>Tôi rất muốn xem</td>
            <td>Well, <strong>I really want to see</strong> The Ring, it just came out.</td>
          </tr>
          <tr class="row">
            <td>It just came out</td>
            <td>Vừa mới ra mắt</td>
            <td>Well, I really want to see The Ring, <strong>it just came out</strong>.</td>
          </tr>
          <tr class="row">
            <td>That sounds a little too scary for me</td>
            <td>Cái đó nghe hơi quá đáng sợ với tôi </td>
            <td>Oh gosh, I don’t know… <strong>that sounds a little too scary for me</strong>.</td>
          </tr>
          <tr class="row">
            <td>Are you a chicken?</td>
            <td>Cậu nhát gan thế à?</td>
            <td>Wait a second, <strong>are you a chicken</strong>?</td>
          </tr>
          <tr class="row">
            <td>I just prefer comedies</td>
            <td>Chỉ là tôi thích các phim hài hơn</td>
            <td>No way! <strong>I just prefer comedies</strong>. To me, the whole point of movies is to make people laugh.</td>
          </tr>
          <tr class="row">
            <td>The whole point of movies is to make people laugh</td>
            <td>Mục đích cuối cùng của các bộ phim là để khiến mọi người cười</td>
            <td>No way! I just prefer comedies. To me, <strong>the whole point of movies is to make people laugh</strong>.</td>
          </tr>
          <tr class="row">
            <td>What about dramas</td>
            <td>Thế những bộ phim truyền hình thì sao</td>
            <td>Well <strong>what about dramas</strong>, do you like those?</td>
          </tr>
          <tr class="row">
            <td>Out right now</td>
            <td>Đang chiếu</td>
            <td>They’re okay, I guess. Are any good dramas <strong>out right now</strong>?</td>
          </tr>
          <tr class="row">
            <td>Showing at</td>
            <td>Đang chiếu tại</td>
            <td>I know that a French one <strong>showing at</strong> the little movie theatre downtown.</td>
          </tr>
          <tr class="row">
            <td>Foreign film</td>
            <td>Phim nước ngoài</td>
            <td>A <strong>foreign film</strong>? So I’ll have to read subtitles the whole time?</td>
          </tr>
          <tr class="row">
            <td colspan="3">
              <h3>Topic 03: My Favorite Sport</h3>
            </td>
          </tr>
          <tr class="row">
            <th class="col-lg-3"><strong><u>Vocabulary</u></strong></th>
            <th class="col-lg-3"><strong><u>Meeaning</u></strong></th>
            <th class="col-lg-6"><strong><u>Example</u></strong></th>
          </tr>
          <tr class="row">
            <td>American football (n)</td>
            <td>Bóng đá kiểu Mỹ hay còn gọi là bóng bầu dục Mỹ (tiếng lóng gọi là bóng cà na)</td>
            <td>Some of my friends are really into <strong>American football</strong>.</td>
          </tr>
          <tr class="row">
            <td>Badminton (n)</td>
            <td>Cầu lông</td>
            <td>I have another friend, who’s absolutely crazy about <strong>badminton</strong>.</td>
          </tr>
          <tr class="row">
            <td>Swimming (n)</td>
            <td>Bơi lội</td>
            <td><strong>Swimming</strong> is fun – mostly, but it’s challenging.</td>
          </tr>
          <tr class="row">
            <td>Gin Rummy (n)</td>
            <td>Bài Gin Rummy</td>
            <td>Maybe I’ll just learn how to play <strong>Gin Rummy</strong>, instead.</td>
          </tr>
          <tr class="row">
            <td>Chasing (v)</td>
            <td>Đuổi, săn đuổi</td>
            <td>I, on the other hand, get bored out of my mind <strong>chasing</strong> a little “birdie” around the backyard.</td>
          </tr>
          <tr class="row">
            <td>Challenging (adj)</td>
            <td>Khó khăn, thách thức</td>
            <td>Swimming is fun – mostly, but it’s <strong>challenging</strong>.</td>
          </tr>
          <tr class="row">
            <td>Drowning (v)</td>
            <td>Chết đuối</td>
            <td>On the other hand, if I learn how to swim and someone else is <strong>drowning</strong>, I might be able to save a life.</td>
          </tr>
          <tr class="row">
            <td>Flail (v)</td>
            <td>Chạy quanh</td>
            <td>Although, now that I think about it, I’d rather <strong>flail</strong> around the backyard chasing a little birdie…</td>
          </tr>
          <tr class="row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row">
            <td><strong><u>Expression</u></strong></td>
            <td><strong><u>Meaning</u></strong></td>
            <td><strong><u>Example</u></strong></td>
          </tr>
          <tr class="row">
            <td>Favorite sport </td>
            <td>Môn thể thao yêu thích</td>
            <td>Someone asked me the other day, what my <strong>favorite sport</strong> is and I realized, I don’t have a <strong>favorite sport</strong>.</td>
          </tr>
          <tr class="row">
            <td>It's fun</td>
            <td>Vui, thú vị, hay đấy</td>
            <td>I guess <strong>it's fun</strong> <br>- if you like getting crushed by a guy who's the size of refrigerator.</td>
          </tr>
          <tr class="row">
            <td>Getting crushed</td>
            <td>Bị đè bẹp</td>
            <td>I guess it’s fun – if you like <strong>getting crushed</strong> by a guy who’s the size of a refrigerator.</td>
          </tr>
          <tr class="row">
            <td>Crazy about badminton</td>
            <td>Điên cuồng vì cầu lông</td>
            <td>I have another friend, who’s absolutely <strong>crazy about badminton</strong>.</td>
          </tr>
          <tr class="row">
            <td>Get bored out of my mind</td>
            <td>Chán ngán</td>
            <td>I, on the other hand, <strong>get bored out of my mind</strong> chasing a little “birdie” around the backyard.</td>
          </tr>
          <tr class="row">
            <td>Save a life</td>
            <td>Cứu một mạng sống</td>
            <td>On the other hand, if I learn how to swim and someone else is drowning, I might be able to <strong>save a life</strong>. That’d be fun.</td>
          </tr>
          <tr class="row">
            <td>Why complicate things?</td>
            <td>Tại sao phải phức tạp hóa mọi thứ?</td>
            <td><strong>Why complicate things</strong>? Life’s too short for sports.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 03</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 5.6</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 5.6</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 33 - My Favorite Sport (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.6 - Native Speech - Topic 3 - My Favorite Sport.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Someone asked me the other day, what my <strong>favorite sport</strong> is and I realized, I don’t have a favorite sport.</td>
            <td>Một ngày nọ có người hỏi tôi, môn <strong>thể thao yêu thích</strong> của tôi là gì và tôi nhận ra, tôi không có một môn thể thao yêu thích nào cả.</td>
          </tr>
          <tr class="row">
            <td>Some of my friends are really into <strong>American football</strong>. I guess <strong>it’s fun</strong> – if you like <strong>getting crushed</strong> by a guy who’s the size of a refrigerator.</td>
            <td>Một số bạn bè của tôi cực kỳ thích <strong>bóng đá kiểu Mỹ (bóng bầu dục Mỹ)</strong>. Tôi nghĩ là <strong>nó thú vị</strong> – nếu như bạn thích <strong>bị đè bẹp</strong> bởi một anh chàng to như cái tủ lạnh.</td>
          </tr>
          <tr class="row">
            <td>I have another friend who’s absolutely <strong>crazy about badminton</strong>. That’s right, “crazy” about it, but it’s true. The guy lives for badminton! I, on the other hand, <strong>get bored out of my mind chasing</strong> a little “birdie”
              around the backyard. Although, now that I think about it, I’d rather flail around the backyard chasing a little birdie than become a birdbrain after getting crushed by a tank on the football field!</td>
            <td>Tôi có một người bạn khác thì <strong>điên cuồng vì cầu lông</strong>. Đúng vậy, “phát điên” vì nó, nhưng đó là sự thật. Anh chàng đó sống vì cầu lông! Tôi, mặt khác, thì thấy <strong>chán ngán</strong> khi phải chạy theo một “chú chim” nhỏ
              (ý nói “quả cầu lông”) ở sân sau. Dù vậy, sau khi cân nhắc, tôi thà <strong>chạy quanh</strong> sân sau <strong>đuổi</strong> theo một chú chim nhỏ còn hơn là trở thành một kẻ ngốc sau khi bị một cỗ xe tăng trên sân bóng (ý nói “anh chàng
              to như cái tủ lạnh”) đè bẹp! <br> (Ý nói: Người kể không thích cầu lông, nhưng thà chơi cầu lông còn hơn là chơi bóng đá.)</td>
          </tr>
          <tr class="row">
            <td><strong>Swimming</strong> is fun – mostly, but it’s <strong>challenging</strong>. When it’s not fun, I feel like I’m drowning, that’s no fun! On the other hand, if I learn how to swim and someone else is <strong>drowning</strong>, I might
              be able to <strong>save a life</strong>. That’d be fun.</td>
            <td><strong>Bơi lội</strong> hay đấy – nói chung là thế, nhưng cũng đầy thách thức. Khi mà bơi không có gì thú vị, tôi cảm giác như mình sắp chết đuối, thế thì chẳng vui gì cả! Mặt khác, nếu tôi học bơi và có ai đó sắp <strong>chết đuối</strong>,
              tôi có thể <strong>cứu một mạng sống</strong>.Đó sẽ là niềm vui đấy.</td>
          </tr>
          <tr class="row">
            <td>Maybe I’ll just learn how to play <strong>Gin Rummy</strong>, instead. Without the Rummy part, that is. <strong>Why complicate things</strong>?Life’s too short for sports.</td>
            <td>Có thể thay vào đó tôi sẽ chỉ học cách chơi <strong>bài Gin Rummy</strong>. Hoặc ý tôi là bỏ phần “Rummy” đi. <strong>Tại sao phải phức tạp hóa mọi thứ</strong>? Cuộc sống quá ngắn ngủi để chơi thể thao.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo <strong>Recording 4.10</strong> từ 5-7 lần cho đến khi bạn trả lời ngắn toàn bộ các câu hỏi của bạn đồng hành bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 33 - My Favorite Sport (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.10 - Rapid Response - Topic 3 - My Favorite Sport.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>What’s the speaker’s favorite sport?</strong></th>
            <th class="col-lg-5"><strong>Môn thể thao yêu thích của người nói là gì?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He doesn’t have a favorite sport.</td>
            <td>Anh ấy không có một môn thể thao yêu thích.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t have a favorite sport.</td>
            <td>Người nói không có một môn thể thao yêu thích.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Does the speaker like American football?</strong></td>
            <td><strong>xNgười nói có thích bóng đá kiểu Mỹ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn’t.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, the speaker doesn’t like American football.</td>
            <td>Không, người nói không thích bóng đá kiểu Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Why doesn’t the speaker like American football?</strong></td>
            <td><strong>Tại sao người nói lại không thích bóng đá kiểu Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t like American football because it’s aggressive.</td>
            <td>Người nói không thích bóng đá kiểu Mỹ vì nó rất hung hăng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t like American football because he doesn’t like getting crushed by a guy who’s the size of a refrigerator.</td>
            <td> Người nói không thích bóng đá Mỹ bởi vì anh ấy không thích bị đè bẹp bởi một anh chàng to như cái tủ lạnh.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>	Which sport is the speaker’s another friend crazy about?	</strong></td>
            <td><strong>Một người bạn khác của người nói phát cuồng vì môn thể thao nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s badminton.</td>
            <td>Đó là cầu lông.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker’s another friend is absolutely crazy about badminton. </td>
            <td>Một người bạn khác của người nói hoàn toàn phát cuồng vì cầu lông.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Why is the speaker’s another friend crazy about badminton?</strong></td>
            <td><strong>Tại sao bạn của người nói lại phát cuồng vì cầu lông?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because he lives for it, and doesn’t get bored.</td>
            <td>Đó là bởi vì anh ấy sống vì nó, và không thấy chán.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker’s another friend is crazy about badminton because he lives for it, and doesn’t get bored.</td>
            <td>Bạn của người nói phát cuồng vì cầu lông bởi vì anh ấy sống vì nó, và không thấy chán.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Does the speaker prefer American football or badminton?</strong></td>
            <td><strong>Người nói thích bóng đá kiểu Mỹ hay cầu lông hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Badminton.</td>
            <td>Cầu lông.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton.</td>
            <td>Người nói thích cầu lông hơn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does the speaker prefer badminton to American football?</strong></td>
            <td><strong>Tại sao người nói thích cầu lông hơn bóng đá kiểu Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton to football because it’s much safer.</td>
            <td>Người nói thích cầu lông hơn bóng đá vì nó an toàn hơn nhiều.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton to American football because he’d rather flail around the backyard chasing a little birdie than become a birdbrain after getting crushed by a tank on the football field.</td>
            <td>Người nói thích cầu lông hơn bóng đá kiểu Mỹ vì anh ấy thà chạy quanh sân đuổi theo một “chú chim nhỏ” còn hơn là trở thành một kẻ ngốc sau khi bị một cỗ xe tăng trên sân cỏ đè nát.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Which sport is challenging for the speaker?</strong></td>
            <td><strong>Môn thể thao nào là thách thức với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s swimming.</td>
            <td>Đó là bơi lội.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is challenging for the speaker.</td>
            <td>Bơi lội là thách thức với người nói.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>When is swimming challenging for the speaker?</strong></td>
            <td><strong>Khi nào bơi lội trở nên khó khăn với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s when he feels like drowning.</td>
            <td>Đó là khi anh ấy cảm thấy giống như chết đuối.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is challenging for the speaker when he feels like drowning</td>
            <td>Bơi lội trở nên khó khăn với người nói khi anh ấy cảm thấy như chết đuối.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What makes swimming fun for the speaker?</strong></td>
            <td><strong>Điều gì khiến bơi lội trở thành niềm vui với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is fun for the speaker when he can save someone from drowning.</td>
            <td>Bơi lội trở thành niềm vui với người nói khi anh ấy có thể cứu người khác khỏi chết đuối.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is fun for the speaker when he learns how to swim and be able to save a life from drowning.</td>
            <td>Bơi lội trở thành niềm vui với người nói khi anh ấy biết cách bơi lội và có thể cứu người khỏi chết đuối.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Which game will the speaker learn to play?</strong></td>
            <td><strong>Trò chơi mà người nói sẽ học chơi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s Gin Rummy.</td>
            <td>Đó là Gin Rummy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker will learn to play Gin Rummy.</td>
            <td>Người nói sẽ học cách chơi Gin Rummy.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Why doesn’t the speaker want to learn sports?</strong></td>
            <td><strong>Tại sao người nói không muốn học thể thao?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because life’s too short for sports.</td>
            <td>Đó là vì cuộc sống là quá ngắn ngủi để chơi thể thao.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t want to learn sports because he believes that life’s too short for sports.</td>
            <td>Người nói không muốn học thể thao vì anh tin rằng cuộc sống quá ngắn ngủi để chơi thể thao.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession5-day32"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession5-day34"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>