<div class="col-lg-9">
  <h2>Ngày 34 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-04/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 5.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 5.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 5.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 4.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 34 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.8 - Rapid Response - Topic 1 - You Listen to Whay.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Why is it so cold at the secret music show</strong></th>
            <th class="col-lg-5"><strong>Tại sao trời lại lạnh khi ở buổi diễn âm nhạc bí mật?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because of the large number of fans.</td>
            <td>Đó là vì có rất nhiều quạt.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s so cold at the secret music show cuz there’re a lot of fans.</td>
            <td>Trời lạnh như vậy khi ở buổi diễn âm nhạc bí mật vì đang có rất nhiều quạt.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Roland like a K-pop band?</strong></td>
            <td><strong>Có phải Roland thích một nhóm nhạc Hàn Quốc không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answwer</td>
            <td>Yes, he does.</td>
            <td>Đúng, anh ấy thích.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Roland likes a K-pop band.</td>
            <td>Đúng, Roland thích một nhóm nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>What promise does Gemma have to keep?</strong></td>
            <td><strong>Gemma phải giữ lời hứa gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She has to keep it a secret that Roland likes K-pop music.</td>
            <td>Cô ấy phải giữ bí mật rằng Roland thích nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Gemma has to promise that she won’t tell anyone that Roland likes K-pop music.</td>
            <td>Gemma phải hứa rằng cô ấy sẽ không nói cho ai biết về việc Roland thích nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Why is Gemma surprised?</strong></td>
            <td><strong>Tại sao Gemma lại ngạc nhiên?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Gemma is surprised that Roland likes to listen to K-pop music.</td>
            <td>Gemma ngạc nhiên là Roland thích nghe nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>She’s surprised because of Roland’s listening to K-pop music.</td>
            <td>Cô ấy ngạc nhiên vì Roland nghe nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>What is the only kind of music that Roland listens to?</strong></td>
            <td><strong>Loại nhạc duy nhất mà Roland nghe là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Roland only listens to K-pop music.</td>
            <td>Roland chỉ nghe nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The only kind of music that Roland listens to is K-pop.</td>
            <td>Loại nhạc duy nhất Roland nghe là nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Is Tupac Roland’s idol?</strong></td>
            <td><strong>Tupac có phải là thần tượng của Roland không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Tupac isn’t Roland’s idol.</td>
            <td>Không, Tupac không phải là thần tượng của Roland.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, it’s not Tupac. It’s Yoon Yojong.</td>
            <td>Không, đó không phải là Tupac. Đó là Yoon Yojong.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>What type of music do Roland’s friends listen to?</strong></td>
            <td><strong>Bạn của Roland nghe loại nhạc gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s hip hop.</td>
            <td>Hip hop.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Roland’s friends listen to hip hop.</td>
            <td>Bạn bè của Roland nghe nhạc hip hop.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>What thing did Gemma use to be embarrassed about?</strong></td>
            <td><strong>Điều gì đã từng khiến Gemma cảm thấy xấu hổ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Liking folk music.</td>
            <td>Thích nhạc dân ca.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Gemma used to be embarrassed about liking folk music.</td>
            <td>Gemma đã từng thấy xấu hổ về việc thích nhạc dân ca.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>What does Gemma like about folk music?</strong></td>
            <td><strong>Gemma thích điều gì ở nhạc dân ca?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>What Gemma likes about folk music is its beauty.</td>
            <td>Điều Gemma thích ở nhạc dân ca là cái hay của nó.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s really meaningful to her, and she thinks it’s beautiful.</td>
            <td>Nó thực sự có ý nghĩa với cô ấy, và cô ấy nghĩ rằng nó rất hay.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Is K-pop music meaningful to Roland as folk music is meaningful to Gemma?</strong></td>
            <td><strong>Có phải nhạc Hàn Quốc có ý nghĩa với Roland như nhạc dân ca có ý nghĩa với Gemma không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, it is.</td>
            <td>Đúng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, it’s the same. K-pop music is meaningful to Roland as folk music is meaningful to Gemma.</td>
            <td>Đúng. Nhạc Hàn Quốc có ý nghĩa với Roland như nhạc dân ca có ý nghĩa với Gemma.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>What type of music does Gemma want to listen to more of ?	</strong></td>
            <td><strong>Gemma muốn nghe thể loại nhạc nào nhiều hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s K-pop.</td>
            <td>Nhạc Hàn Quốc.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Gemma wants to listen to more of K-pop.</td>
            <td>Gemma muốn nghe nhạc Hàn Quốc nhiều hơn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Who likes K-pop more? Is it Roland or Gemma?</strong></td>
            <td><strong>Ai thích nhạc Hàn Quốc hơn? Roland hay Gemma?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s Roland.</td>
            <td>Là Roland.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Roland likes K-pop more than Gemma does. It’s the only kind of music he listens to.</td>
            <td>Roland thích nhạc Hàn Quốc hơn Gemma. Đó là thể loại duy nhất anh ấy nghe.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 34 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="ile/LESSON 05 - HOBBIES/Recording 5.9 - Rapid Response - Topic 2 - I Prefer Comedies.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>Does Carl like scary movies?</strong></th>
            <th class="col-lg-5"><strong>Carl có thích phim kinh dị không?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It depends on the movie.</td>
            <td>Tùy thuộc vào bộ phim.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Maybe yes, maybe no. It depends on the movie.</td>
            <td>Có thể có, có thể không. Tùy thuộc vào bộ phim.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Which movie just came out?</strong></td>
            <td><strong>Bộ phim nào vừa mới ra?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s The Ring.</td>
            <td>The Ring – Vòng tròn định mệnh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The Ring just came out.</td>
            <td>The Ring – Vòng tròn định mệnh vừa mới ra.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Carl want to see The Ring?</strong></td>
            <td><strong>Carl có muốn đi xem The Ring không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He doesn’t know yet.</td>
            <td>Anh ấy chưa biết.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Carl isn’t sure if he wants to see The Ring.</td>
            <td>Carl không chắc liệu anh có muốn xem The Ring không.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>Why isn’t Carl sure if he wants to see The Ring?</strong></td>
            <td><strong>Tại sao Carl lại không chắc liệu anh có muốn xem The Ring không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because it sounds a little too scary for him.</td>
            <td>Bởi vì nó nghe có vẻ hơi đáng sợ đối với anh ấy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Carl isn’t sure if he wants to see The Ring because it sounds a little too scary for him.</td>
            <td>Carl không chắc liệu anh ấy có muốn xem The Ring không vì nó nghe có vẻ hơi đáng sợ đối với anh ấy.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does Lauren think that Carl is a chicken?</strong></td>
            <td><strong>Tại sao Lauren nghĩ rằng Carl là một người nhát gan?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because Carl is scared of seeing horror movies like The Ring.</td>
            <td>Bởi vì Carl sợ xem phim kinh dị như The Ring.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Lauren thinks that Carl is a chicken because he’s scared of seeing The Ring.</td>
            <td>Lauren nghĩ Carl là một người nhát gan bởi vì anh ấy sợ xem phim The Ring.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Which movies does Carl prefer to see?</strong></td>
            <td><strong>Carl thích xem phim nào hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s comedies.</td>
            <td>Phim hài.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Carl prefers to see comedies.</td>
            <td>Carl thích xem phim hài hơn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>What’s the whole point of movies for Carl?</strong></td>
            <td><strong>Mục đích cuối cùng của phim ảnh với Carl là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s making people laugh.</td>
            <td>Đó là làm cho mọi người cười.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The whole point of movies for Carl is to make people laugh.</td>
            <td>Mục đích cuối cùng của phim ảnh với Carl là làm cho mọi người cười.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Does Carl prefer dramas to comedies?</strong></td>
            <td><strong>Carl có thích phim truyền hình hơn phim hài không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn’t.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, Carl doesn’t prefer dramas to comedies.</td>
            <td>Không, Carl không thích phim truyền hình hơn phim hài.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>Which foreign movie is showing at the little movie theater downtown?</strong></td>
            <td><strong>Bộ phim nước ngoài nào đang chiếu tại rạp chiếu nhỏ ở trung tâm thành phố?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>A French movie.</td>
            <td>Một bộ phim Pháp.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>There is a French movie showing at the little theater downtown.</td>
            <td>Đó là một bộ phim Pháp chiếu tại một rạp chiếu nhỏ ở trung tâm thành phố.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>Why are there subtitles with the foreign film?</strong></td>
            <td><strong>Tại sao lại có phụ đề cho phim nước ngoài?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>That’s because it’s in French, not English.</td>
            <td>Bởi vì nó bằng tiếng Pháp, không phải tiếng Anh.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>There are subtitles with the foreign film because it’s not in English. It’s in French.</td>
            <td> Có phụ đề cho phim nước ngoài bởi vì nó không phải bằng tiếng Anh mà là tiếng Pháp.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Why doesn’t Carl want to see the foreign film?</strong></td>
            <td><strong>Tại sao Carl không muốn xem phim nước ngoài?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because he doesn’t feel like reading the subtitles the whole film.</td>
            <td>Bởi vì anh ấy không thích đọc phụ đề trong suốt bộ phim.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Carl doesn’t want to see the foreign film because he will have to read the subtitles the whole film.</td>
            <td>Carl không muốn xem phim nước ngoài bởi vì anh ấy sẽ phải đọc phụ đề trong suốt bộ phim.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Do you think Carl will see The Ring in the end?</strong></td>
            <td><strong>Bạn có nghĩ rằng cuối cùng Carl sẽ xem The Ring không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Maybe yes.</td>
            <td>Có thể có.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Yes, Carl may see The Ring in the end.</td>
            <td>Có, cuối cùng Carl có thể xem The Ring.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Hobbies || Ngày 34 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 04 - RENTING AND SHOPPING/Recording 4.10 - Rapid Response - Topic 3 - Whats your Style.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-1" rowspan="3">1</th>
            <th class="col-lg-1"><strong>Question</strong></th>
            <th class="col-lg-5"><strong>What’s the speaker’s favorite sport?</strong></th>
            <th class="col-lg-5"><strong>Môn thể thao yêu thích của người nói là gì?</strong>?</th>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>He doesn’t have a favorite sport.</td>
            <td>Anh ấy không có một môn thể thao yêu thích.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t have a favorite sport.</td>
            <td>Người nói không có một môn thể thao yêu thích.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">2</th>
            <td><strong>Question</strong></td>
            <td><strong>Does the speaker like American football?</strong></td>
            <td><strong>xNgười nói có thích bóng đá kiểu Mỹ không?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, he doesn’t.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>No, the speaker doesn’t like American football.</td>
            <td>Không, người nói không thích bóng đá kiểu Mỹ.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">3</th>
            <td><strong>Question</strong></td>
            <td><strong>Why doesn’t the speaker like American football?</strong></td>
            <td><strong>Tại sao người nói lại không thích bóng đá kiểu Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t like American football because it’s aggressive.</td>
            <td>Người nói không thích bóng đá kiểu Mỹ vì nó rất hung hăng.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t like American football because he doesn’t like getting crushed by a guy who’s the size of a refrigerator.</td>
            <td> Người nói không thích bóng đá Mỹ bởi vì anh ấy không thích bị đè bẹp bởi một anh chàng to như cái tủ lạnh.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">4</th>
            <td><strong>Question</strong></td>
            <td><strong>	Which sport is the speaker’s another friend crazy about?	</strong></td>
            <td><strong>Một người bạn khác của người nói phát cuồng vì môn thể thao nào?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s badminton.</td>
            <td>Đó là cầu lông.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker’s another friend is absolutely crazy about badminton. </td>
            <td>Một người bạn khác của người nói hoàn toàn phát cuồng vì cầu lông.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">5</th>
            <td><strong>Question</strong></td>
            <td><strong>Why is the speaker’s another friend crazy about badminton?</strong></td>
            <td><strong>Tại sao bạn của người nói lại phát cuồng vì cầu lông?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because he lives for it, and doesn’t get bored.</td>
            <td>Đó là bởi vì anh ấy sống vì nó, và không thấy chán.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker’s another friend is crazy about badminton because he lives for it, and doesn’t get bored.</td>
            <td>Bạn của người nói phát cuồng vì cầu lông bởi vì anh ấy sống vì nó, và không thấy chán.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">6</th>
            <td><strong>Question</strong></td>
            <td><strong>Does the speaker prefer American football or badminton?</strong></td>
            <td><strong>Người nói thích bóng đá kiểu Mỹ hay cầu lông hơn?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Badminton.</td>
            <td>Cầu lông.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton.</td>
            <td>Người nói thích cầu lông hơn.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">7</th>
            <td><strong>Question</strong></td>
            <td><strong>Why does the speaker prefer badminton to American football?</strong></td>
            <td><strong>Tại sao người nói thích cầu lông hơn bóng đá kiểu Mỹ?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton to football because it’s much safer.</td>
            <td>Người nói thích cầu lông hơn bóng đá vì nó an toàn hơn nhiều.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker prefers badminton to American football because he’d rather flail around the backyard chasing a little birdie than become a birdbrain after getting crushed by a tank on the football field.</td>
            <td>Người nói thích cầu lông hơn bóng đá kiểu Mỹ vì anh ấy thà chạy quanh sân đuổi theo một “chú chim nhỏ” còn hơn là trở thành một kẻ ngốc sau khi bị một cỗ xe tăng trên sân cỏ đè nát.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">8</th>
            <td><strong>Question</strong></td>
            <td><strong>Which sport is challenging for the speaker?</strong></td>
            <td><strong>Môn thể thao nào là thách thức với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s swimming.</td>
            <td>Đó là bơi lội.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is challenging for the speaker.</td>
            <td>Bơi lội là thách thức với người nói.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">9</th>
            <td><strong>Question</strong></td>
            <td><strong>When is swimming challenging for the speaker?</strong></td>
            <td><strong>Khi nào bơi lội trở nên khó khăn với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s when he feels like drowning.</td>
            <td>Đó là khi anh ấy cảm thấy giống như chết đuối.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is challenging for the speaker when he feels like drowning</td>
            <td>Bơi lội trở nên khó khăn với người nói khi anh ấy cảm thấy như chết đuối.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">10</th>
            <td><strong>Question</strong></td>
            <td><strong>What makes swimming fun for the speaker?</strong></td>
            <td><strong>Điều gì khiến bơi lội trở thành niềm vui với người nói?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is fun for the speaker when he can save someone from drowning.</td>
            <td>Bơi lội trở thành niềm vui với người nói khi anh ấy có thể cứu người khác khỏi chết đuối.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>Swimming is fun for the speaker when he learns how to swim and be able to save a life from drowning.</td>
            <td>Bơi lội trở thành niềm vui với người nói khi anh ấy biết cách bơi lội và có thể cứu người khỏi chết đuối.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">11</th>
            <td><strong>Question</strong></td>
            <td><strong>Which game will the speaker learn to play?</strong></td>
            <td><strong>Trò chơi mà người nói sẽ học chơi là gì?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s Gin Rummy.</td>
            <td>Đó là Gin Rummy.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker will learn to play Gin Rummy.</td>
            <td>Người nói sẽ học cách chơi Gin Rummy.</td>
          </tr>
          <tr class="row">
            <th class="col-lg-1" rowspan="3">12</th>
            <td><strong>Question</strong></td>
            <td><strong>Why doesn’t the speaker want to learn sports?</strong></td>
            <td><strong>Tại sao người nói không muốn học thể thao?</strong></td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>It’s because life’s too short for sports.</td>
            <td>Đó là vì cuộc sống là quá ngắn ngủi để chơi thể thao.</td>
          </tr>
          <tr class="row">
            <td>Answer</td>
            <td>The speaker doesn’t want to learn sports because he believes that life’s too short for sports.</td>
            <td>Người nói không muốn học thể thao vì anh tin rằng cuộc sống quá ngắn ngủi để chơi thể thao.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 4.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 5.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 05 - Renting And Shopping || Ngày 27 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 05 - HOBBIES/Recording 5.11 - Production.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau phần thực hành này, bạn sẽ vận dụng một cách tự nhiên hơn khi nói về thói quen buổi sáng, lên kế hoạch cho một dịp và ngày nhất định và nói về sinh nhật của mình</h5>


  <div>
    <a href="index.php?directional=lession5-day33"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession5-day35"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>